<div class="right" ng-controller="accountOneController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">系统设定</a></li>
			<li><a href="#/accountList">员工帐号</a></li>
			<li><a href="javascript:void(0);">详情</a></li>
		</ul>
	</div>
	<div class="content clear">

		<div class="user_title">
			<h1>员工账号详情</h1>
			<div class="userTopBtnBox">
				<a href="#/accountEdit?id={{info.customer_id}}" class="ghostBtn">编辑</a>
			</div>
		</div>
		<div class="myInfoBox clear">
			<ul>
				<li><label>姓名：</label>
					<div class="text">{{info.name}}</div></li>
				<li><label>登录ID：</label>
					<div class="text">{{info.username}}</div></li>
				<li><label>权限：</label>
					<div class="authority_con">
						<div ng-repeat="one in roleNames">
							<span class="checkboxRadio_span">{{one}}</span>
						</div>
					</div></li>
			</ul>
		</div>
	</div>
</div>
