<!-- <script type="text/javascript" src="js/controllers/account/accountResetPassword.js"></script> -->
<!-- <link href="style/style.css" rel="stylesheet" type="text/css" /> -->
<div class="right" ng-controller="resetPasswordController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">系统设定</a></li>
			<li><a href="#/accountList">员工帐号</a></li>
			<li><a href="#">重置密码</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="user_title">
			<h1>重置密码</h1>
		</div>
		<div class="myInfoBox clear">
			<ul>
				<li><label>姓名：</label><input type="text" ng-model="info.name" disabled="disabled"/></li>
				<li><label>登录ID：</label><input type="text" ng-model="info.username" disabled="disabled"/></li>
				<li><label>密码：</label><input type="password" ng-model="password"/></li>
				<li><label>确认密码：</label><input type="password" ng-model="comfirmpwd"/></li>
				<li><label>权限：</label>
					<div class="authority_con">
						<div ng-repeat="one in roleNames">
							<span class="checkboxRadio_span">{{one}}</span>
						</div>
						<!-- <span class="checkboxRadio_span"><input name=""
							type="checkbox" value="" /> 批购</span> <span class="checkboxRadio_span"><input
							name="" type="checkbox" value="" /> 代购</span> <span
							class="checkboxRadio_span"><input name="" type="checkbox"
							value="" /> 终端管理/售后记录</span> <span class="checkboxRadio_span"><input
							name="" type="checkbox" value="" /> 交易流水/POS销售分润</span> <span
							class="checkboxRadio_span"><input name="" type="checkbox"
							value="" /> 管理下级代理商</span> <span class="checkboxRadio_span"><input
							name="" type="checkbox" value="" /> 管理用户</span> <span
							class="checkboxRadio_span"><input name="" type="checkbox"
							value="" /> 员工账号</span> <span class="checkboxRadio_span"><input
							name="" type="checkbox" value="" /> 代理商资料</span> <span
							class="checkboxRadio_span"><input name="" type="checkbox"
							value="" /> 库存</span> -->
					</div></li>
			</ul>
		</div>
		<div class="myInfoBox_btn">
			<button class="blueBtn" ng-click="update(info.id)">修改</button>
		</div>
	</div>
</div>
