<!-- <script type="text/javascript" src="js/controllers/account/accountResetPassword.js"></script> -->
<!-- <link href="style/style.css" rel="stylesheet" type="text/css" /> -->
<div class="right" ng-controller="resetPasswordController">
	
	<div class="content clear">
		<div class="content_inner">
		<div class="user_title">
			<h1>重置密码</h1>
		</div>
		<div class="myInfoBox clear">
			<ul>
				<li><label>原密码：</label><input type="password" ng-model="info.password" readonly="readonly"/></li>
				<li><label>新密码：</label><input type="password" style="color: #000;" ng-model="password"/>
					<p class="placeholder">密码在6个字符到20个字符之间</p>
				</li>
				<li><label>确认新密码：</label><input type="password" style="color: #000;" ng-model="comfirmpwd"/>
					<p class="placeholder">密码在6个字符到20个字符之间</p>
				</li>
			</ul>
		</div>
		<div class="myInfoBox_btn">
			<button class="blueBtn" ng-click="update(info.id)">保存</button>
		</div>
	</div>
	</div>
</div>
