<!-- <script type="text/javascript" src="js/controllers/account/accountAdd.js"></script> -->
<div class="right" ng-controller="empAddController">
	<div class="content clear">
		<div class="content_inner">
		<div class="user_title">
			<h1>创建员工账号</h1>
		</div>
		<form name="addAccountForm" ng-submit="accountAdd()" >
			<div class="myInfoBox clear">
				<ul>
					<li><label>姓名：</label><input id="name" type="text" ng-model="customer.name" placeholder="10个中文字符或20个英文字符"/></li>
					<li><label>登录ID：</label><input id="username" type="text" ng-model="customer.username"  placeholder="40个字符或20个汉字"/></li>
					<li><label>密码：</label><input id="password" type="password" ng-model="customer.password"  placeholder="密码在6个字符到20个字符之间"/></li>
					<li><label>确认密码：</label><input id="confirmpwd" type="password" ng-model="customer.comfirmpwd"  placeholder="密码在6个字符到20个字符之间"/></li>
					<li><label>权限：</label>
						<div class="authority_con">
							<span class="checkboxRadio_span"><input name="checkboxs" type="checkbox" value="1" />批购</span>
							<span class="checkboxRadio_span"><input name="checkboxs" type="checkbox" value="2" />代购</span>
							<span class="checkboxRadio_span"><input name="checkboxs" type="checkbox" value="3" />终端管理/售后记录</span>
							<span class="checkboxRadio_span"><input name="checkboxs" type="checkbox" value="4" />交易流水/POS销售分润</span>
							<span class="checkboxRadio_span"><input name="checkboxs" type="checkbox" value="5" />管理下级代理商</span>
							<span class="checkboxRadio_span"><input name="checkboxs" type="checkbox" value="6" />管理用户</span> 
							<span class="checkboxRadio_span"><input name="checkboxs" type="checkbox" value="7" />员工账号</span> 
							<span class="checkboxRadio_span"><input name="checkboxs" type="checkbox" value="8" />代理商资料</span> 
							<span class="checkboxRadio_span"><input name="checkboxs" type="checkbox" value="9" />库存</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="myInfoBox_btn">
				<button class="blueBtn" type="submit">创建</button>
			</div>
		</form>
	</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$("#name").html("");
		$("#username").html("");
		$("#password").html("");
		$("#confirmpwd").html("");
		// 解决placeholder在IE9以下浏览器中兼容性
		$('input, textarea').placeholder();
	});
</script>

