<div  class="right" ng-controller="accountListController" >
	<div class="content clear">
 	<div class="content_inner">
		<div class="user_title">
			<h1>员工帐号列表</h1>
		</div>
		<div class="seenBox clear">
            <div class="userTopBtnBox">
                <a href="#/accountAdd" class="ghostBtn">创建帐号</a>
            </div>
        </div>
		
		<div class="user_table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0"
				class="b_table">
				<colgroup>
					<col />
					<col />
					<col width="200" />
				</colgroup>
				<thead>
					<tr>
						<th>帐号ID</th>
						<th>姓名</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="one in accountList" on-finish-table-filters>
						<td>{{one.username}}</td>
						<td>{{one.name}}</td>
						<td><a  ng-click="leitgo('#/accountOne?id=',one.customer_id)"    class="a_btn"  >查看详情</a>
							<a       ng-click="leitgo('#/accountResetPassword?id=',one.customer_id)"      class="a_btn"  >密码重置</a>
							<a href="javascript:void(0)" class="a_btn" ng-click="accountDelete(one)">删除</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pageTurn">
			<div class="p_num" ng-show="req.totalPage>1">
				<a ng-class="{true:'disabled'}[req.indexPage==1]" href="javascript:void(0)" ng-click="req.indexPage=1;list()">首页</a> 
				<a ng-class="{true:'disabled'}[req.indexPage==1]" href="javascript:void(0)" ng-click="prev()">上一页</a> 
				<a ng-class="{true:'current'}[req.indexPage==currentPage]" ng-repeat="currentPage in req.pages" href="javascript:void(0)" ng-click="loadPage(currentPage)">{{currentPage}}</a> 
				<a ng-class="{true:'disabled'}[req.indexPage==req.totalPage]" href="javascript:void(0)" ng-click="next()">下一页</a> 
				<a ng-class="{true:'disabled'}[req.indexPage==req.totalPage]" href="javascript:void(0)" ng-click="req.indexPage=req.totalPage;list()">末页</a>
			</div>
			<div class="p_skip">
				<span>共&nbsp;{{req.totalPage}}&nbsp;页</span>&nbsp;
				<span>到第&nbsp;<input type="text" ng-model="req.gotoPage">&nbsp;页</span>
				<button ng-click="getPage()">确定</button>
			</div>
		</div>
	</div>
</div>
</div>


