

.ad_agentDownLoad { font-size: 0px; width: 100%;}
.agentBanner{
	width:1200px;
	height:440px;
	overflow:hidden;
	position:relative;
	margin: 0px auto;
}
.agentShow {position:absolute;}
.agentShow li { width:1200px; height:440px; display:block;}
.agentNum { position:absolute; left: 50%; bottom:5px; margin-left: -39px;}
.agentNum li {
	float:left;
	color:#FF7300;
	text-align:center;
	width:16px;
	height:16px;
	cursor:pointer;
	overflow:hidden;
	background-color:#808080;
	border-radius: 45px;
	margin: 0 5px;
}
.agentNum li.on{ background-color:#1c64a8;}

.main_agentDownLoad {
	position: relative;
	background:#ffffff url(../images/bg0.jpg) no-repeat center top;
	background-size: cover;
}
.dl_area { 
	position: absolute; 
	left: 50%; 
	top: 200px; 
	margin-left: -280px; 
	width: 560px; 
	overflow: hidden;
	padding-left: 140px;
}
.dl_area ul { float: left; display: block;}
.dl_area li { 
	margin: 10px 0; 
	font-family:"microsoft yahei"; 
	border-radius: 45px; 
	color: #FFF;
	text-align: center;
	height: 32px;
}

.dl_area li a, .dl_area li span { 
	height: 32px; 
	line-height: 32px; 
	color: #FFF; 
	display: inline-block;
	width: 180px;
	font-size: 16px;
	border-radius: 45px;
	margin: 0 5px;
	float: left;
	padding-left: 20px;
	
}
.dl_area li span { width: 150px;}
.dl_area li.ios a { 
	background: url(../images/ios.png) no-repeat 10px center #985364;
	text-decoration: none;
}
.dl_area li.ios span.no { 
	background: url(../images/ios_no.png) no-repeat 10px center;
	border: 2px #999999 solid;
	height: 28px;
	color: #999;
	line-height: 28px;
}
.dl_area li.ios a:hover {
	background-color: #a95f72;
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s; /* Safari 和 Chrome */
	-o-transition: all 0.2s; /* Opera */
}
.dl_area li.android a {  background: url(../images/android.png) no-repeat 10px center #1779a9;}
.dl_area li.android span.no { 
	background: url(../images/android_no.png) no-repeat 10px center;
	border: 2px #999999 solid;
	height: 28px;
	color: #999;
	line-height: 28px;
}
.dl_area li.android a:hover {
	background-color: #1e87ba;
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s; /* Safari 和 Chrome */
	-o-transition: all 0.2s; /* Opera */
}
.dl_area li p { color: #666; font-size: 12px;}
.updownEwm { float: right; margin-top: 10px; margin-right: 36px;}
.updownEwm img { width: 120px;}



