@charset "utf-8";
* { padding: 0; margin: 0;}
body { font: 12px/1.5 "\5b8b\4f53", Arial,Verdana; color: #333;}
li { list-style: none;}
a { text-decoration: none;}
button { cursor: pointer; border: none;}

.box { width: 1200px; margin: 0 auto;}

.clear:after, .apply_b li:after { clear: both; content:"."; display: block; height: 0; overflow: hidden; visibility:hidden;}

.red { color: #F00;}

.logo_apply { height: 50px; width: 1200px; margin: 20px auto;}

.apply { width: 1200px; min-height: 400px; margin: 20px auto;}

.apply_h { 
	border-bottom: 1px #fc5f25 solid; 
	height: 35px; 
	text-align: center;
	font-size: 18px;
	color: #fc5f25;
	font-family:"微软雅黑";
}

.apply_b { width: 435px; margin: 30px auto;}
.apply_b li { margin-bottom: 15px; position: relative;}
.apply_b li label { float: left; display: inline-block; width: 80px; height: 36px; line-height: 36px; margin-right: 5px;}
.fl_sp { float: left; display: block; height: 34px; line-height: 34px; margin-right: 20px;}
.fl_sp input[type="radio"] { margin: 10px 5px 0 12px; float: left;}

.apply_b li select {
	width: 171px;
	padding: 8px 0;
	border: 1px #CCCCCC solid; 
	color: #999;
	display: inline-block;
}
.apply_b li input[type="text"], .apply_b li input[type="password"] { 
	width: 336px; 
	height: 34px; 
	line-height: 34px; 
	border: 1px #CCCCCC solid; 
	padding: 0 5px;
	float: left;
	color: #999;
}
.apply_b li input.l { width: 200px;}
.apply_b li input.input_true { background: url(../images/input_true.png) no-repeat 98% center;}
.apply_b li input.input_false { background: url(../images/input_false.png) no-repeat 98% center; border: 1px #F00 solid;}


.apply_b li a { color: #666;}
.apply_b li a:hover { color: #ff5f2b; text-decoration: underline;}

.apply_prompt { 
	position: absolute; 
	height: 34px; 
	line-height: 34px; 
	top: 0px; 
	right: -240px; 
	background: #f5f5f5; 
	border: 1px #CCCCCC solid;
	padding: 0 5px;
}

.yzm_btn { 
	width: 126px; 
	height: 36px; 
	line-height: 36px; 
	color: #FFF; 
	text-align: center; 
	background: #ff5f2b;
	margin-left: 10px;
}
.jym { 
	width: 126px; 
	height: 34px; 
	border: 1px #CCCCCC solid; 
	background: #dcdcdc; 
	float: left; 
	margin-left: 10px;
	font-size: 0;
}
.jym img { height: 34px;}

.btn { margin: 30px auto 0;}
.btn button { 
	height: 42px; 
	line-height: 42px; 
	background: #fc5f25; 
	border: none; 
	width: 435px; 
	color: #FFF; 
	font-size: 14px;
	cursor: pointer;
}
.btn button:hover { background: #fc6d38;}


/*-------foot-------*/
.foot { border-top: 1px #ccc solid; padding: 10px 0; overflow: hidden; width: 1200px; margin: 0 auto;}
.foot .foot_nav { float: left;}
.foot .foot_nav li { float: left;}
.foot .foot_nav li a { color: #016cb7; margin: 0 10px;}
.foot .foot_nav li a:hover { color: #0292f7;}
.copyright { float: right; color: #666;}


.topInfo { height: 40px; background: #0071cf;}
.top_user { float: right; line-height: 40px; font-size: 14px;}
.top_user a { display: inline-block; margin: 0 15px; color: #FFF;}
.top_user a:hover { text-decoration: underline;}

.head { padding: 20px 0; border-bottom: 2px #0071cf solid; background: rgba(255,255,255,0.8);}
.logo_apply { 
	width: 316px; 
	height: 50px; 
	background: url(../images/logo.png) no-repeat; 
	text-indent: -999px; 
	overflow: hidden;
	float: left;
	margin-top: 6px;
}

.systemName { 
	height: 50px; 
	line-height: 50px; 
	float: left; 
	font-size: 24px;
	font-family: "microsoft yahei"; 
	color: #0071cf;
	margin-top: 6px;
	margin-left: 10px;
}

.res_b_pl { padding-left: 85px;}

/*---协议弹层---*/
.ebankAgreementTab { 
	position: fixed; 
	padding: 20px; 
	top: 50%; 
	left: 50%; 
	margin-top: -290px;
	margin-left: -440px;
	background: #FFF;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	display: none;
	z-index: 1000; 
}
.ebankAgreementTab h1 { font-size: 18px; font-weight:bolder; line-height: 36px; text-align: center; margin-bottom: 10px;}
.ebankat_con { width: 840px; height: 540px;overflow-y:auto; overflow-x: hidden;}
.ebankat_con p { line-height: 24px; text-indent: 24px; font-size: 12px; margin-bottom: 10px;}

