<div class="right" ng-controller="exchangeaddController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">管理下级代理商</a></li>
			<li><a href="#">管理调货</a></li>
			<li><a href="#">调货</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="user_title">
			<h1>调货</h1>
		</div>
		<div class="attributes_box">
			<div class="item_list clear">
				<ul>

					<li class="block"><span class="labelSpan">填写终端号：</span>
						<div class="text">
							<textarea name="" cols="" rows=""></textarea>
						</div></li>
					<li class="block"><span class="labelSpan">指定下级代理商：</span>
						<div class="text">
							<p>从</p>
							<div class="allocationCargo">
								<div class="su_search">
									<input name="" type="text" />
									<button>搜索</button>
								</div>
								<div class="ac_area">
									<a href="#" class="hover">代理商001</a> <a href="#">代理商001</a> <a href="#">代理商001</a> <a href="#">代理商001</a>
								</div>
							</div>
							<p>到</p>
							<div class="allocationCargo">
								<div class="su_search">
									<input name="" type="text" />
									<button>搜索</button>
								</div>
								<div class="ac_area">
									<a href="#" class="hover">代理商001</a> <a href="#">代理商001</a> <a href="#">代理商001</a> <a href="#">代理商001</a>
								</div>
							</div>
						</div></li>

				</ul>
			</div>

		</div>
		<div class="btnBottom">
			<button class="blueBtn">确认调货</button>
		</div>
	</div>
</div>