<div class="right" ng-controller="lowerInfoController">
	
	<div class="content clear">
		<div class="content_inner">
			<div class="user_title">
				<h1>下级代理商详情</h1>
			</div>
			<div class="attributes_box">
			<div class="item_list clear">
				<ul>
					<li class="block"><span class="labelSpan">类型：</span>
						<div class="text" ng-show="info.types==1">
							公司
						</div>
						<div class="text" ng-show="info.types==2">
							个人
						</div>
					</li>
					<li class="block"><span class="labelSpan">负责人姓名：</span>
						<div class="text">
							{{info.name}}
						</div></li>
					<li class="block o"><span class="labelSpan">负责人身份证号：</span>
						<div class="text">
							{{info.card_id}}
						</div></li>
					<li class="block" id="companyNameLi"><span class="labelSpan">公司全称：</span>
						<div class="text">
							{{info.company_name}}
						</div></li>
					<li class="block" id="companyIdLi"><span class="labelSpan">公司营业执照登记号：</span>
						<div class="text">
							{{info.business_license}}
						</div></li>
					<li class="block"><span class="labelSpan">手机：</span>
						<div class="text">
							{{info.phone}}
						</div></li>
					<li class="block"><span class="labelSpan">邮箱：</span>
						<div class="text">
							{{info.email}}
						</div></li>
					<li class="block"><span class="labelSpan">所在地：</span>
						<div class="text">
							{{provinceName}}{{cityName}}{{info.address}}
						</div></li>
					<li class="block"><span class="labelSpan">登录ID：</span>
						<div class="text">
							{{info.loginId}}
						</div></li>
				</ul>
			</div>
		</div>
		</div>
	</div>
</div>
