<div class="ng-cloak" class="right" ng-controller="lowerAgentSetController" >
	<div class="content clear">
		<div class="content_inner">
			<div class="user_title">
				<h1>设置分润比例</h1>
			</div>
			<div class="uesr_table">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
					<colgroup>
						<col width="150"/>
						<col />
						<col width="150" />
					</colgroup>
					<thead>
						<tr>
							<th>支付通道</th>
							<th>分润比例</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="one in lowerAgentList">
							<td>
							{{one.channelName}}
							</td>
							<td>
								<div class="rate_agent">
									<table cellpadding="0" cellspacing="1" border="0" width="100%" >
										<colgroup>
											<col ng-repeat="child in one.detail  " width="20%" /> 
										</colgroup>
									 	<tr>
	                                        <td ng-repeat="child in one.detail  ">{{child.tradeTypeName}}</td>
	                                    </tr>
	                                    <tr>
	                                        <td ng-repeat="child in one.detail  ">{{child.percent}} %</td>
	                                    </tr>	  
									</table>
								</div>	
							</td>
							<td>
								<a class="a_btn" ng-click="edit(one.id+'_'+one.channelName)">编辑</a>
							</td>
						</tr>
						<tr ng-show="isShow==0">
							<td>
								<select ng-show="sign==0" ng-model="channelModel" ng-options="o.name for o in channelList"
									 ng-change="selChange(channelModel)" name="" class="select_s">
									 <option value="">-请选择-</option>
								</select>
								<div class="text" ng-show="sign==1">
									{{curChannel}}
								</div>
							</td>
							<td>
								<div class="rate_agent">
								<table cellpadding="0" cellspacing="1" width="100%">
										<tr>
	                                        <td ng-repeat="child in detailList">{{child.trade_value}}</td>
	                                    </tr>
	                                    <tr>
	                                        <td ng-repeat="child in detailList">
	                                        <input id="{{child.id}}_model" class="input_s" type="text"/>%
	                                        </td>
	                                    </tr>
	                             </table>
								</div>
							</td>
							<td>
								<a class="a_btn" ng-click="saveOne()" ng-show="sign==1">保存</a>
								<a class="a_btn" ng-click="saveNew()" ng-show="sign==0">保存</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="btnBottom">
				<button class="blueBtn" ng-click="save()">增加支付通道</button>
			</div>
		</div>
	</div>
</div>