<div class="right" ng-controller="preparelistController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">管理下级代理商</a></li>
			<li><a href="#">管理配货</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="user_title">
			<h1>配货列表</h1>
			<div class="userTopBtnBox">
				<a href="#/addprepare" class="ghostBtn">配货</a>
			</div>
		</div>
		<div class="seenBox clear">
			<ul>
				<li>
					<div class="user_search">
						<input name="" type="text" />
						<button></button>
					</div>
				</li>
				<li>
					<div class="user_select">
						<label>下级代理商</label>
						<select ng-model="req.sonAgentsId" ng-options="x.id as x.company_name for x in son"></select>
					</div>
				</li>
				<li>
					<div class="user_date">
						<label>选择日期</label> <input name="" type="text" /> - <input name="" type="text" />
					</div>
				</li>
				<li>
					<button class="ghostBtn" ng-click="list()">搜索</button>
				</li>
			</ul>
		</div>
		<div class="uesr_table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
				<colgroup>
					<col />
					<col width="200" />
					<col width="200" />
					<col width="100" />
					<col width="200" />
				</colgroup>
				<thead>
					<tr>
						<th>配于下级代理商</th>
						<th>配货日期</th>
						<th>配货商品</th>
						<th>配货数量</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="one in prepareList">
						<td>{{one.company_name}}</td>
						<td>{{one.created_at}}</td>
						<td>POS机名称：掌富 ZF300<br />支付通道：收账宝
						</td>
						<td>{{one.quantity}}</td>
						<td><a href="#/prepareinfo?id={{one.id}}" class="a_btn">查看详情</a></td>
					</tr>

				</tbody>
			</table>
		</div>
		<div class="pageTurn">
			<div class="p_num" ng-show="req.totalPage>1">
				<a ng-class="{true:'disabled'}[req.indexPage==1]" href="javascript:void(0)" ng-click="req.indexPage=1;list()">首页</a> <a ng-class="{true:'disabled'}[req.indexPage==1]" href="javascript:void(0)" ng-click="prev()">上一页</a> <a
					ng-class="{true:'current'}[req.indexPage==currentPage]" ng-repeat="currentPage in req.pages" href="javascript:void(0)" ng-click="loadPage(currentPage)">{{currentPage}}</a> <a ng-class="{true:'disabled'}[req.indexPage==req.totalPage]"
					href="javascript:void(0)" ng-click="next()">下一页</a> <a ng-class="{true:'disabled'}[req.indexPage==req.totalPage]" href="javascript:void(0)" ng-click="req.indexPage=req.totalPage;list()">末页</a>
			</div>
			<div class="p_skip">
				<span>共&nbsp;{{req.totalPage}}&nbsp;页</span>&nbsp;<span>到第&nbsp;<input type="text" ng-model="req.gotoPage">&nbsp;页
				</span>
				<button ng-click="getPage()">确定</button>
			</div>
		</div>
	</div>
</div>
