<div ng-controller="prepareaddController" class="ng-cloak">
	<div class="right">

		<div class="content clear">
		<div class="content_inner">
			<div class="user_title">
				<h1>配货</h1>
			</div>
			<div class="attributes_box">
				<div class="item_list clear">
					<ul>
						<li class="block"><span class="labelSpan">填写终端号：</span>
							<div class="text">
								<textarea ng-model="req.serialNum" cols="" rows=""></textarea>
							</div></li>
						<li class="block"><span class="labelSpan">指定下级代理商：</span>
							<div class="text">
								<div class="allocationCargo">
									<div class="su_search">
										<input ng-model="req.keys" type="text" />
										<button ng-click="sonlist()">搜索</button>
									</div>
									<div class="ac_area" id="test1">
										<a href="javascript:void(0);" ng-repeat="one in son" on-finish-render2-filters ng-click="checkson(one.id)">{{one.company_name}}</a>
									</div>
								</div>
							</div></li>
						<li class="block o"><span class="labelSpan">指定配货商品：</span>
							<div class="text">
								<select ng-model="req.goodId" ng-options="x.id as x.goodname for x in goodlist"></select> <select ng-model="req.paychannelId" ng-options="x.id as x.paychannel for x in pclist"></select>
							</div></li>
						<li class="block"><span class="labelSpan">指定配货数量：</span>
							<div class="text">
								<input name="" type="text" />
							</div></li>
					</ul>
				</div>
			</div>
			<div class="btnBottom">
				<button class="blueBtn" ng-click="check()">确认配货</button>
			</div>
		</div>
	</div>
</div>


	<div class="tab rename_tab">
		<a href="javascript:void(0);" ng-click="close()" class="close">关闭</a>
		<div class="tabHead">错误终端</div>
		<div class="tabBody">
			<div class="item_list clear">
				<ul>
					<li ng-repeat="one in errorlist"><span class="labelSpan">{{one.serialNum}}</span>
						<div class="text">{{one.error}}</div></li>
				</ul>
			</div>
		</div>
		<div class="tabFoot">
			<button class="blueBtn" ng-click="close()">确定</button>
		</div>
	</div>
</div>