
<div class="right" ng-controller="prepareaddController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">管理下级代理商</a></li>
			<li><a href="#">管理配货</a></li>
			<li><a href="#">配货</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="user_title">
			<h1>配货</h1>
		</div>
		<div class="attributes_box">
			<div class="item_list clear">
				<ul>
					<li class="block"><span class="labelSpan">填写终端号：</span>
						<div class="text">
							<textarea ng-model="req.serialNum" cols="" rows=""></textarea>
						</div></li>
					<li class="block"><span class="labelSpan">指定下级代理商：</span>
						<div class="text">
							<div class="allocationCargo">
								<div class="su_search">
									<input name="" type="text" />
									<button>搜索</button>
								</div>
								<div class="ac_area">
									<a href="javascript:void(0);"  ng-repeat="one in son" ng-click="checkson(one.id,this)">{{one.company_name}}</a> 
								</div>
							</div>
						</div></li>
					<li class="block o"><span class="labelSpan">指定配货商品：</span>
						<div class="text">
							<select ng-model="req.goodId" ng-options="x.id as x.goodname for x in goodlist"></select> 
							<select ng-model="req.paychannelId" ng-options="x.id as x.paychannel for x in pclist"></select>
						</div></li>
					<li class="block"><span class="labelSpan">指定配货数量：</span>
						<div class="text">
							<input name="" type="text" />
						</div></li>
				</ul>
			</div>
		</div>
		<div class="btnBottom">
			<button class="blueBtn" ng-click="add()">确认配货</button>
		</div>
	</div>
</div>


<div class="tab">
	<a href="javascript:void(0);" class="close">关闭</a>
	<div class="tabBody">
    	<p>终端错误</p>
	</div>
</div>
<script src="js/main.js"></script>