<div class="right" ng-controller="stockinfoController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">我的库存</a></li>
			<li><a href="#">详情</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="user_title">
			<h1>库存详情</h1>
		</div>
		<div class="attributes_box">
			<h2>基础信息</h2>
			<div class="attributes_list clear">
				<ul>
					<li><em>POS机名称：</em><span>移动pos机0.38费率机0.78收银机26封顶机30刷卡一清机pos机有后台</span></li>
					<li><em>品牌型号：</em><span>掌富 ZF300</span></li>
					<li><em>支付通道：</em><span>收账宝</span></li>
					<li><em>进货量：</em><span>200</span></li>
					<li><em>开通量：</em><span>198</span></li>
					<li><em>当前库存：</em><span>2</span></li>
				</ul>
			</div>
		</div>
		<div class="seenBox clear">
			<ul>
				<li><div class="user_search">
						<input name="" type="text" />
						<button></button>
					</div></li>
			</ul>
		</div>
		<div class="uesr_table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
				<colgroup>
					<col />
					<col width="80" />
					<col />
					<col width="80" />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th>下级代理商</th>
						<th>配货总量</th>
						<th>上次配货日期</th>
						<th>已开通量</th>
						<th>最近开通日期</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>华润</td>
						<td>200</td>
						<td>2014/12/12 20:20:20</td>
						<td>198</td>
						<td>2014/12/29 20:20:20</td>
					</tr>
					<tr>
						<td>华润</td>
						<td>200</td>
						<td>2014/12/12 20:20:20</td>
						<td>198</td>
						<td>2014/12/29 20:20:20</td>
					</tr>
					<tr>
						<td>华润</td>
						<td>200</td>
						<td>2014/12/12 20:20:20</td>
						<td>198</td>
						<td>2014/12/29 20:20:20</td>
					</tr>
					<tr>
						<td>华润</td>
						<td>200</td>
						<td>2014/12/12 20:20:20</td>
						<td>198</td>
						<td>2014/12/29 20:20:20</td>
					</tr>
					<tr>
						<td>华润</td>
						<td>200</td>
						<td>2014/12/12 20:20:20</td>
						<td>198</td>
						<td>2014/12/29 20:20:20</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pageTurn">
			<div class="p_num">
				<a href="#" class="disabled">上一页</a> <a href="#" class="current">1</a> <a href="#?page=2">2</a> <a href="#?page=3">3</a> <a href="#?page=4">4</a> <a href="#?page=5">5</a> ... <a href="#?page=199">199</a> <a href="#?page=200">200</a> <a href="#?page=2">下一页</a>
			</div>
			<div class="p_skip">
				<span>共24页</span> <span>到第&nbsp;&nbsp;<input name="" type="text" />&nbsp;&nbsp;页
				</span>
				<button>确定</button>
			</div>
		</div>
	</div>
</div>
