<div ng-controller="stockController">
	<div class="right">
		<div class="content clear">
			<div class="content_inner">
				<div class="user_title">
					<h1>我的库存列表</h1>
				</div>
				<div class="seenBox clear">
					<ul>
						<li><div class="user_search">
								<input ng-model="req.name" type="text" placeholder="请输入POS机名称查询" />
								<button ng-click="search()"></button>
							</div></li>
					</ul>
				</div>
				<div class="uesr_table">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
						<colgroup>
							<col />
							<col width="120" />
							<col width="120" />
							<col width="80" />
							<col width="80" />
							<col width="80" />
							<col width="200" />
						</colgroup>
						<thead>
							<tr>
								<th>POS机名称</th>
								<th>品牌型号</th>
								<th>支付通道</th>
								<th>进货量</th>
								<th>开通量</th>
								<th>当前库存</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="one in stockList"  on-finish-table-filters>
								<td>{{one.goodname}}</td>
								<td>{{one.good_brand}} {{one.Model_number}}</td>
								<td>{{one.paychannel}}</td>
								<td>{{one.hoitoryCount}}</td>
								<td>{{one.openCount}}</td>
								<td>{{one.agentCount}}</td>
								<td><a ng-if="1==0" ng-show="menu1" href="#/purchaseShopinfo?goodId={{one.good_id}}" class="a_btn">批购</a> <a href="#/stockinfo?pcid={{one.paychannel_id}}&goodid={{one.good_id}}" class="a_btn">库存详情</a> <a ng-if="1==0" class="a_btn rename_a"
									ng-click="rename(one.good_id)">商品更名</a></td>
							</tr>

						</tbody>
					</table>
				</div>
				<div class="pageTurn">
					<div class="p_num" ng-show="req.totalPage>1">
						<a ng-class="{true:'disabled'}[req.indexPage==1]" href="javascript:void(0)" ng-click="req.indexPage=1;list()">首页</a> <a ng-class="{true:'disabled'}[req.indexPage==1]" href="javascript:void(0)" ng-click="prev()">上一页</a> <a
							ng-class="{true:'current'}[req.indexPage==currentPage]" ng-repeat="currentPage in req.pages" href="javascript:void(0)" ng-click="loadPage(currentPage)">{{currentPage}}</a> <a ng-class="{true:'disabled'}[req.indexPage==req.totalPage]"
							href="javascript:void(0);" ng-click="next()">下一页</a> <a ng-class="{true:'disabled'}[req.indexPage==req.totalPage]" href="javascript:void(0)" ng-click="req.indexPage=req.totalPage;list()">末页</a>
					</div>
					<div class="p_skip">
						<span>共&nbsp;{{req.totalPage}}&nbsp;页</span>&nbsp;<span>到第&nbsp;<input type="text" ng-model="req.gotoPage">&nbsp;页
						</span>
						<button ng-click="getPage()">确定</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab rename_tab">
		<a class="close" onclick="$('.tab').hide()">关闭</a>
		<div class="tabHead">商品更名</div>
		<div class="tabBody">
			<div class="item_list clear">
				<ul>
					<li><span class="labelSpan">POS机名称：</span>
						<div class="text">
							<input ng-model="renam.goodname" type="text" />
						</div></li>
				</ul>
			</div>
		</div>
		<div class="tabFoot">
			<button class="blueBtn" ng-click="re()">确定</button>
		</div>
	</div>

</div>