<script type="text/javascript" src="js/controllers/cs_agentinfo.controller.js"></script>
<div class="right" ng-controller="cs_agentinfoController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">售后记录</a></li>
			<li><a href="#/cs_agent">代理商售后申请记录</a></li>
			<li><a href="#/cs_agentinfo?infoId={{info.id}}">详情</a></li>
		</ul>
	</div>
	<div class="content clear" >
		<div class="user_title">
			<h1>代理商售后申请记录</h1>
			<div class="userTopBtnBox">
			 <a href="javascript:void(0)" ng-click="cancelApply(info)"   ng-if="info.status==1"  class="ghostBtn">取消申请</a>
			<!--  <a href="javascript:void(0)" ng-click="resubmitCancel(info)"   ng-if="info.status==4" class="ghostBtn">重新提交</a> -->
			</div>
		</div>
		<div class="attributes_box">
			<h2>记录信息</h2>
			<div class="attributes_list_s clear">
				<ul>
					<li>编号：{{info.apply_num}}</li>
					<li>状态：
					<span class="orangeText" ng-if="info.status==1">待处理</span>
					<span class="orangeText" ng-if="info.status==2">处理中</span>
					<span class="orangeText" ng-if="info.status==3">处理完成</span>
					<span class="orangeText" ng-if="info.status==4">已取消</span>
					</li>
					<li>申请日期：{{info.apply_time}}</li>
				</ul>
			</div>
		</div>
		<div class="attributes_box">
			<h2>售后单信息</h2>
			<div class="attributes_list clear">
				<ul>
					<li>终端号：{{info.terminals_list}}</li>
					<li>地址：{{info.address}}</li>
					<li>原因：{{info.reason}}</li>
				</ul>
			</div>
		</div>

		 
		<div class="user_record" >
			<h2>追踪记录</h2>
			<div class="ur_item" ng-repeat="oc in info.comments.list">
				<div class="ur_item_text">{{oc.marks_content}}</div>
				<div class="ur_item_name">
					{{oc.marks_person}} <em>{{oc.marks_time}}</em>
				</div>
			</div>
		</div>
	</div>
</div>