<script type="text/javascript" src="js/controllers/cs_updateinfo.controller.js"></script>
<div class="right" ng-controller="cs_updateinfoController">
	<div class="breadcrumb">
		<ul>
			<li><a href="javascript:void(0)">售后记录</a></li>
			<li><a href="#/cs_update">更新资料记录</a></li>
			<li><a href="#/cs_updateinfo?infoId={{info.id}}">详情</a></li>
		</ul>
	</div>
	<div class="content clear" >
		<div class="user_title">
			<h1>更新资料申请记录</h1>
			<div class="userTopBtnBox">  
				 <a href="javascript:void(0)" ng-click="cancelApply(info)"    ng-if="info.status==1" class="ghostBtn">取消申请</a>
				 <a href="javascript:void(0)" ng-click="resubmitCancel(info)"   ng-if="info.status==5" class="ghostBtn">重新提交</a>
			</div>
		</div>
		<div class="attributes_box">
			<h2>记录信息</h2>
			<div class="attributes_list clear">
				<ul>
					<li>编号：{{info.apply_num}}</li>
					<li>状态：
					<span class="orangeText" ng-if="info.status==1">待处理</span>
					<span class="orangeText" ng-if="info.status==2">处理中</span>
					<span class="orangeText" ng-if="info.status==4">处理完成</span>
					<span class="orangeText" ng-if="info.status==5">已取消</span>
					</li>
					<li>申请日期：{{info.apply_time}}</li>
				</ul>
			</div>
		</div>
		<div class="attributes_box">
			<h2>终端信息</h2>
			<div class="attributes_list clear">
				<ul>
					<li>品牌型号：{{info.brand_name}}{{info.brand_number}}</li>
					<li>支付通道：{{info.zhifu_pingtai}}</li>
					<li>终端号：{{info.terminal_num}}</li>
					<li>商户名称：{{info.merchant_name}}</li>
					<li>商户电话：{{info.merchant_phone}}</li>
				</ul>
			</div>
		</div>

		<div class="attributes_box">
			<h2>更新申请资料</h2>
			<div class="applyFor_list clear" >
				<div class="af_con" ng-repeat="o in info.resource_info">
					<div class="af_con_n">
						{{o.title}} <a href="{{o.templet_path}}" target="_blank" class="a_btn">下载模版</a> <a href="{{o.upload_path}}" target="_blank"  class="a_btn">下载资料</a>
					</div>
				</div>
			</div>
		</div>
		<div class="user_record" >
			<h2>追踪记录</h2>
			<div class="ur_item" ng-repeat="oc in info.comments.content">
				<div class="ur_item_text">{{oc.marks_content}}</div>
				<div class="ur_item_name">
					{{oc.marks_person}} <em>{{oc.marks_time}}</em>
				</div>
			</div>
		</div>
	</div>
</div>