<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.comdosoft.financial.user.mapper.trades.record.GoodsProfitMapper">
	<select id="getGoodsProfitListByAgentId"
		parameterType="com.comdosoft.financial.user.domain.query.PosProfitReq"
		resultType="map">
		SELECT id, profit, types, agent_id, order_id, good_id, 
		DATE_FORMAT(gp.create_at,'%Y-%m-%d %H:%i:%s') AS created_at 
		FROM good_profits gp WHERE gp.agent_id = #{agent_id} 
		<if test="startTime != null and startTime != ''">
			<![CDATA[ and gp.create_at > str_to_date(#{startTime},'%Y-%m-%d') ]]>
		</if>
		<if test="endTime != null and endTime != ''">
			<![CDATA[ and gp.create_at < str_to_date(#{endTime},'%Y-%m-%d') ]]>
		</if>
		ORDER BY gp.create_at LIMIT #{offset}, #{rows}
	</select>

	<select id="getGoodsProfitCountByAgentId"
		parameterType="com.comdosoft.financial.user.domain.query.PosProfitReq"
		resultType="int">
		SELECT count(gp.id) AS count FROM good_profits gp WHERE gp.agent_id = #{agent_id}
		<if test="startTime != null and startTime != ''">
			<![CDATA[ and gp.create_at > str_to_date(#{startTime},'%Y-%m-%d') ]]>
		</if>
		<if test="endTime != null and endTime != ''">
			<![CDATA[ and gp.create_at < str_to_date(#{endTime},'%Y-%m-%d') ]]>
		</if>
	</select>
</mapper>