<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.trades.record.TradeRecordMapper">


	<select id="getTradeRecordsCount" resultType="int">
		SELECT COUNT(r.id) total
		FROM trade_records r
		WHERE r.trade_type_id = #{tradeTypeId} and r.agent_id in ${agentIds} and r.traded_status=2
		<if test="terminalNumber!=''">
		    <![CDATA[ AND r.terminal_number = #{terminalNumber}  ]]>
		</if>
		<if test="startTime!=''">
		    <![CDATA[ AND DATE_FORMAT(r.traded_at, '%Y-%m-%d') >= #{startTime} ]]>
		</if>
		<if test="endTime!=''">
		    <![CDATA[ AND DATE_FORMAT(r.traded_at, '%Y-%m-%d') <= #{endTime} ]]>
		</if>
		<if test="sonagentId!=0">
		    <![CDATA[ AND r.agent_id = #{sonagentId} ]]>
		</if>
	</select>

	<select id="getTradeRecords12" resultType="map">
		SELECT DATE_FORMAT(r.traded_at, '%Y-%m-%d %T') tradedTimeStr,
		r.amount,
		r.terminal_number terminalNumber,
		r.traded_status tradedStatus,
		t.pay_from_account payFromAccount,
		t.pay_into_account payIntoAccount
		FROM trade_records r left JOIN
		trade_transfer_repayment_records t ON r.id = t.id
		WHERE r.trade_type_id = #{tradeTypeId} and r.agent_id in ${agentIds} and r.traded_status=2
		<if test="terminalNumber!=''">
		    <![CDATA[ AND r.terminal_number = #{terminalNumber}  ]]>
		</if>
		<if test="startTime!=''">
		    <![CDATA[ AND DATE_FORMAT(r.traded_at, '%Y-%m-%d') >= #{startTime} ]]>
		</if>
		<if test="endTime!=''">
		    <![CDATA[ AND DATE_FORMAT(r.traded_at, '%Y-%m-%d') <= #{endTime} ]]>
		</if>
		<if test="sonagentId!=0">
		    <![CDATA[ AND r.agent_id = #{sonagentId} ]]>
		</if>
		ORDER BY r.traded_at DESC
		LIMIT #{offset}, #{rows}
	</select>

	<select id="getTradeRecords3" resultType="map">
		SELECT DATE_FORMAT(r.traded_at, '%Y-%m-%d %T') tradedTimeStr,
		r.amount,
		r.terminal_number terminalNumber,
		r.traded_status tradedStatus,
		t.phone
		FROM trade_records r left JOIN trade_consume_records t ON r.id = t.id
		WHERE r.trade_type_id = #{tradeTypeId} and r.agent_id in ${agentIds} and r.traded_status=2
		<if test="terminalNumber!=''">
		    <![CDATA[ AND r.terminal_number = #{terminalNumber}  ]]>
		</if>
		<if test="startTime!=''">
		    <![CDATA[ AND DATE_FORMAT(r.traded_at, '%Y-%m-%d') >= #{startTime} ]]>
		</if>
		<if test="endTime!=''">
		    <![CDATA[ AND DATE_FORMAT(r.traded_at, '%Y-%m-%d') <= #{endTime} ]]>
		</if>
		<if test="sonagentId!=0">
		    <![CDATA[ AND r.agent_id = #{sonagentId} ]]>
		</if>
		ORDER BY r.traded_at DESC
		LIMIT #{offset}, #{rows}
	</select>

	<select id="getTradeRecords45" resultType="map">
		SELECT DATE_FORMAT(r.traded_at, '%Y-%m-%d %T') tradedTimeStr,
		r.amount,
		r.terminal_number terminalNumber,
		r.traded_status tradedStatus,
		t.phone
		FROM trade_records r left JOIN trade_recharge_records t ON r.id = t.id
		WHERE r.trade_type_id = #{tradeTypeId} and r.agent_id in ${agentIds} and r.traded_status=2
		<if test="terminalNumber!=''">
		    <![CDATA[ AND r.terminal_number = #{terminalNumber}  ]]>
		</if>
		<if test="startTime!=''">
		    <![CDATA[ AND DATE_FORMAT(r.traded_at, '%Y-%m-%d') >= #{startTime} ]]>
		</if>
		<if test="endTime!=''">
		    <![CDATA[ AND DATE_FORMAT(r.traded_at, '%Y-%m-%d') <= #{endTime} ]]>
		</if>
		<if test="sonagentId!=0">
		    <![CDATA[ AND r.agent_id = #{sonagentId} ]]>
		</if>
		ORDER BY r.traded_at DESC
		LIMIT #{offset}, #{rows}
	</select>

	<select id="getTradeRecordTotal" resultType="map">
	<![CDATA[
		SELECT COUNT(r.id) tradeTotal,
			   SUM(r.amount) amountTotal,
			   r.terminal_number terminalNumber,
			   r.pay_channel_id payChannelId,
			   r.trade_type_id tradeTypeId
		  FROM trade_records r
		 WHERE r.trade_type_id = #{tradeTypeId} and r.traded_status=2
		   AND r.terminal_number = #{terminalNumber}
		   AND DATE_FORMAT(r.traded_at, '%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
	]]>
	</select>

	<select id="getTradeRecordTotalByAgentId" resultType="int">
	<![CDATA[
		SELECT IFNULL((
    	SELECT SUM(amount) amountTotal
		 FROM trade_records 
		 WHERE traded_status = 2 and agent_id=#{id}),0)
	]]>
	</select>
	
		<select id="getSevenDynamic" resultType="map">
	<![CDATA[
		SELECT SUM(t.amount) as tread_sum,
			count(t.id) as tread_num,DATE(t.created_at) as riqi 
		FROM
			trade_records t
		WHERE
		  DATEDIFF(NOW(),t.created_at)<8 and DATEDIFF(NOW(),t.created_at)>0
		and t.customer_id=  #{customer_id}
		GROUP BY riqi
		ORDER BY riqi DESC
	]]>
	</select>

</mapper>