<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.AgentTradeMapper">

	<select id="getTradeType" resultType="map">
	<![CDATA[
		SELECT id,trade_value value from dictionary_trade_types ORDER BY id 
	]]>
	</select>
	
	<select id="getpcname" resultType="String">
	<![CDATA[
		SELECT name from pay_channels where id=#{pcid}
	]]>
	</select>
	
	<select id="getAgentIds" resultType="Integer">
	<![CDATA[
		SELECT id from agents where  code like '${code}%'
	]]>
	</select>
	
	<select id="getCode" resultType="String">
	<![CDATA[
		SELECT code from agents where id=#{agentId}
	]]>
	</select>
	
	<select id="getAgentName" resultType="String">
	<![CDATA[
		SELECT ifnull(company_name,name) company_name  from agents  where id=#{agentId}
	]]>
	</select>
	
	<select id="getProfit" resultType="map">
	<![CDATA[
		SELECT current_agent_id cid,top_agent_id tid,profits_get,profits_pay 
		from profits where trade_record_id =#{id}
	]]>
	</select>
	
	<select id="getp1" resultType="int">
	<![CDATA[
		SELECT aps.percent from agent_profit_settings aps 
		LEFT JOIN agents a on a.id=aps.agent_id
		where  aps.pay_channel_id=#{pcid} and aps.trade_type_id=#{tradeTypeId} and a.code=#{code}
	]]>
	</select>
	
	<select id="getp2" resultType="int" >
	<![CDATA[
		SELECT default_profit from agents where code=#{code}
	]]>
	</select>
	
	<select id="getp3" resultType="int">
	<![CDATA[
		SELECT param_value from sys_config where param_name='tradeRecordDefaultProfit'
	]]>
	</select>
	
	<!-- 查询交易流水用 -->
	<select id="getTerminals" resultType="map" >
	<![CDATA[
		SELECT t.serial_num serialNum,
			   t.pay_channel_id payChannelId
		  FROM terminals t
		  LEFT JOIN agents a on a.id=t.agent_id
		 WHERE  a.code like '${code}%'
	]]>
	</select>
	
	<!-- 查询交易流水用 -->
	<select id="getAgents" resultType="map" >
	<![CDATA[
		SELECT id as agentId,ifnull(company_name,name) as agentName
		  FROM agents
		 WHERE  code like '${code}%'
	]]>
	</select>

</mapper>