<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.CommentMapper">
  
    <select id="getCommentCount" resultType="int">
        SELECT count(*) from good_comments  gc 
		
		where gc.good_id=#{id} and gc.status=2
     </select>
     
     <select id="getCommentList" resultType="map" parameterType="com.comdosoft.financial.user.domain.query.CommentReq">
       SELECT gc.id,c.name,gc.score,gc.content,
        DATE_FORMAT(gc.created_at,'%Y-%m-%d %H:%i:%s') created_at
        from good_comments gc
		LEFT JOIN customers c on c.id=gc.customer_id
		where gc.good_id=#{goodId} and gc.status=2 ORDER BY gc.created_at desc 
		LIMIT #{offset}, #{rows}
     </select>
     
     <select id="getParentCitiesList" resultType="map" >
	SELECT
		c.`name`,
		c.id
	FROM
		cities c
	WHERE
		c.parent_id = 0
	ORDER BY
		c.sort_index
	</select>
	
	<select id="getChildrenCitiesList" resultType="map" >
	SELECT
		c.`name`,
		c.id
	FROM
		cities c
	WHERE
		c.parent_id = #{param1}
	ORDER BY
		c.sort_index
	</select>
	
</mapper>