<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.CommentMapper">
  
     <select id="getCommentCount" resultType="int">
        SELECT count(*) from good_comments  where good_id=#{id} and status=1
     </select>
     
     <select id="getCommentList" resultType="map" parameterType="com.comdosoft.financial.user.domain.query.CommentReq">
        SELECT gc.id,c.name,gc.score,gc.content,gc.created_at from good_comments gc
		LEFT JOIN customers c on c.id=gc.customer_id
		where gc.good_id=#{goodId} and gc.status=1 ORDER BY gc.created_at desc 
		LIMIT #{paging.offset}, #{paging.rows}
     </select>
	
</mapper>