<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.CsAgentsMapper">
<!--注销 -->
	<select id="count" resultType="int" >
		SELECT count(o.id) as count
		FROM
			cs_agents o
		WHERE
			o.customer_id = #{customerId}
		ORDER BY
			o.created_at DESC
	</select>
	
	<select id="countSearch" resultType="int" >
		SELECT count(o.id) as count
		FROM
			cs_agents o
		WHERE
			o.customer_id = #{customerId}
				<if test="search !=null and search!=''">
	       and (o.apply_num like "%"#{search}"%"  ) 
	   </if>
		<if test="q !=null and q!=''">
			and o.status = #{q}
		</if>
		ORDER BY
			o.created_at DESC
	</select>
	
	<select id="findAll" resultType="map" parameterType="com.comdosoft.financial.user.domain.zhangfu.CsAgent">
		SELECT
			o.id,
			o.created_at,
			o.status,
			o.terminals_list,
			o.terminals_quantity,
			o.apply_num
		FROM
			cs_agents o
		WHERE
			o.customer_id = #{customerId}
		ORDER BY
			o.created_at DESC
		LIMIT #{offset},#{rows}
	</select>
	
	<select id="search" resultType="map" parameterType="com.comdosoft.financial.user.domain.zhangfu.CsAgent">
		SELECT
			o.id,
			o.created_at,
			o.status,
			o.terminals_list,
			o.terminals_quantity,
			o.apply_num
		FROM
			cs_agents o
		WHERE
			o.customer_id = #{customerId}
				<if test="search !=null and search!=''">
	       and (o.apply_num like "%"#{search}"%"  ) 
	   </if>
		<if test="q !=null and q!=''">
			and o.status = #{q}
		</if>
		ORDER BY
			o.created_at DESC
		LIMIT #{offset},#{rows}
	</select>
	
	<select id="findById" resultType="map" parameterType="com.comdosoft.financial.user.domain.zhangfu.CsAgent">
		SELECT
			o.id,
			o.`status` AS apply_status,
			o.created_at AS apply_time,
			o.terminals_quantity,o.terminals_list,
			o.apply_num,
			o.address,o.reason
		FROM
			cs_agents o
		WHERE
			o.id = #{id}
	</select>
	
	<select id="findTraceById" resultType="map" >
		SELECT
			crm.content AS marks_content,
			crm.created_at,
			c.`name` AS marks_person
		FROM
			  cs_agent_marks crm 
		LEFT JOIN customers c ON crm.customer_id = c.id
		WHERE
		crm.cs_agent_id = #{id}
	</select>
	
	<update id="changeStatus"  >
	update  cs_agents 
	SET STATUS = #{repairStatus.code}
	where id = #{id}
	</update>
</mapper>