<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.CustomerMapper">

	<!-- 插入用户信息(customer_agent_relations) -->
	<insert id="insertCustomerAgentRelations" useGeneratedKeys="true"
		keyProperty="id">
		<![CDATA[
		INSERT INTO
		customer_agent_relations(customer_id, agent_id, created_at,status,types)
		VALUES(#{customerId}, #{agentId}, #{createdAt},#{status},#{types})
		]]>
	</insert>

	<!-- 插入用户信息(customers) -->
	<insert id="insertCustomer" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO customers(name,username,password,status,types,created_at) 
		VALUES(#{name},#{username},#{password},#{status},#{types},#{createdAt})
	]]>
	</insert>

	<!-- 插入用户权限 -->
	<insert id="insertCustomerRights" useGeneratedKeys="true"
		keyProperty="id">
		<![CDATA[
			INSERT INTO customer_role_relations(role_id,customer_id,created_at) 
			VALUES(#{roleId},#{customerId},#{createdAt})
		]]>
	</insert>
	
	<!--  -->
	 <select id="countAddress" resultType="int">
	<![CDATA[
		SELECT COUNT(i.id)
		  FROM customer_addresses i  
		 WHERE i.customer_id = #{customerId} and i.status = 1
	]]>
	</select>
	
	<!-- 根据用户ID获取用户信息 -->
	<select id="getEmpInfoById" parameterType="com.comdosoft.financial.user.domain.query.EmpReq"
		resultType="map">
	<![CDATA[
		SELECT * FROM customers c WHERE c.id = #{id}
	]]>
	</select>

	<!-- 根据用户名获取用户信息 -->
	<select id="getEmpInfoByUsername" resultType="map">
	<![CDATA[
		SELECT * FROM customers c WHERE c.username = #{userName}
	]]>
	</select>

	<!-- 根据ID删除用户信息(逻辑删除,customers表将status设为3(停用状态)) -->
	<update id="deleteEmpInfoFromAgent">
	<![CDATA[
		UPDATE customers c SET c.status = 3, c.updated_at = now() WHERE id = #{id}
	]]>
	</update>

	<!-- 根据ID删除用户信息(逻辑删除,customer_agent_relations表将status设为2(删除状态)) -->
	<update id="updateStatus">
	<![CDATA[
		UPDATE customer_agent_relations c SET c.status = 2,
		c.updated_at = now() WHERE c.customer_id = #{id}
	]]>
	</update>

	<!-- 根据用户ID查找用户信息 -->
	<select id="getDetailInfoById" resultType="map">
		<![CDATA[
			SELECT c.id, c.name, c.username, c.password, crr.role_id FROM customers c 
			LEFT JOIN customer_role_relations crr ON c.id = crr.customer_id WHERE c.id = #{id}
		]]>
	</select>

	<!-- 重置密码 -->
	<update id="resetPassword" flushCache="true">
		<![CDATA[
			UPDATE customers c SET c.password = #{password}, c.updated_at = NOW() 
			WHERE c.id = #{customer_id} AND c.password = #{originalpassword}
		]]>
	</update>

	<!-- 编辑用户信息 -->
	<update id="editCustomerInfo" parameterType="com.comdosoft.financial.user.domain.query.EmpReq"
		flushCache="true">
		
		UPDATE customers 
		<trim prefix="SET" suffixOverrides=",">
			updated_at = NOW(),
			<if test="name != null and name != ''">name = #{name}</if>
		</trim>
		WHERE id = #{customer_id} AND password = #{password}
	</update>

	<!-- 查询用户所有权限 -->
	<select id="getCustomerRights" parameterType="com.comdosoft.financial.user.domain.query.EmpReq" resultType="map">
		<![CDATA[
			SELECT c.id, c.role_id, c.updated_at FROM customer_role_relations c 
			WHERE c.customer_id = #{customer_id}
		]]>
	</select>

	<!-- 查找代理商拥有用户总数 -->
	<select id="count" resultType="int" parameterType="com.comdosoft.financial.user.domain.query.MyAccountReq">
		<![CDATA[
			SELECT COUNT(c.id) AS count FROM customers c 
			LEFT JOIN customer_agent_relations car ON c.id = car.customer_id 
			WHERE car.agent_id = #{agentId} AND c.status = 2 AND c.types = 6 AND car.status = 1 AND car.types = 2
		]]>
	</select>

	<!-- 查询代理商旗下的用户 -->
	<select id="getAccountList" resultType="map" parameterType="com.comdosoft.financial.user.domain.query.MyAccountReq">
		<![CDATA[
			SELECT c.id, c.name, c.username, c.status, car.status AS cstatus, c.types, car.types AS ctypes, car.agent_id, car.customer_id, c.phone, c.email 
			FROM customers c 
			LEFT JOIN customer_agent_relations car ON c.id = car.customer_id 
			WHERE car.agent_id = #{agentId} AND c.status = 2 AND c.types = 6 AND car.status = 1 AND car.types = 2 ORDER BY c.created_at DESC
		    LIMIT #{offset}, #{rows};
		]]>
	</select>
	
	<!-- 删除用户权限 -->
	<delete id="deleteCustomerRights" parameterType="com.comdosoft.financial.user.domain.query.EmpReq">
		<![CDATA[
			DELETE FROM customer_role_relations WHERE customer_id = #{customer_id} 
		]]>
	</delete>
	
	<!-- 插入用户权限 -->
	<insert id="batchInsertRights" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.comdosoft.financial.user.domain.query.EmpReq">
		<![CDATA[
			INSERT INTO customer_role_relations(role_id, customer_id, created_at) VALUES(#{role_id}, #{customer_id}, NOW())
		]]>
	</insert>
</mapper>