<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.CustomerMapper">

	<select id="checkAccount" parameterType="com.comdosoft.financial.user.domain.query.EmpReq"
		resultType="map">
		SELECT c.id,c.username,c.name,c.phone,c.email
		FROM customers
		c WHERE
		c.username = #{username}
	</select>

	<insert id="addCustomer" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.comdosoft.financial.user.domain.query.EmpReq">
		INSERT INTO customers(name, username,
		password,created_at,status)
		VALUES(#{name}, #{username},
		#{password},now(),2)
	</insert>

	<insert id="insertCustomerAgentRelations" useGeneratedKeys="true"
		keyProperty="id">
		<![CDATA[
		INSERT INTO
		customer_agent_relations(customer_id, agent_id, created_at,status,types)
		VALUES(#{customerId}, #{agentId}, #{createdAt},#{status},#{types})
		]]>
	</insert>

	<insert id="insertCustomer" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO customers(name,username,password,status,types,created_at) 
		VALUES(#{name},#{username},#{password},#{status},#{types},#{createdAt})
	]]>
	</insert>

	<insert id="insertCustomerRights" useGeneratedKeys="true"
		keyProperty="id">
		<![CDATA[
			INSERT INTO customer_role_relations(role_id,customer_id,created_at) 
			VALUES(#{roleId},#{customerId},#{createdAt})
		]]>
	</insert>
	<select id="getEmpInfoById" parameterType="com.comdosoft.financial.user.domain.query.EmpReq"
		resultType="map">
		SELECT c.id,c.name,c.username,c.account_type
		FROM customers
		c WHERE c.id =
		#{id}
	</select>

	<select id="getEmpInfoByUsername" resultType="map">
		SELECT * FROM
		customers c WHERE c.username = #{userName}
	</select>

	<update id="deleteEmpInfoFromAgent">
		UPDATE customers c SET
		c.status = 1,c.updated_at =
		now() WHERE id = #{id}
	</update>

	<update id="updateStatus">
		UPDATE customer_agent_relations c SET
		c.status = 1,
		c.updated_at = now() WHERE c.customer_id = #{id}
	</update>

	<select id="getList" resultType="map">
	<![CDATA[
		 SELECT * FROM
		customer_agent_relations c WHERE
		c.agent_id = #{customerId} AND c.status =
		2 ORDER BY
		c.created_at
		DESC LIMIT
		#{offset}, #{rows}
	]]>
	</select>

	<select id="getDetailInfoById" resultType="map">
		<![CDATA[
			SELECT c.id, c.name, c.username, c.password, crr.role_id FROM customers c 
			LEFT JOIN customer_role_relations crr ON c.id = crr.customer_id WHERE c.id = #{id}
		]]>
	</select>

	<!-- 重置密码 -->
	<update id="resetPassword" flushCache="true">
		<![CDATA[
			UPDATE customers c SET c.password = #{password}, c.updated_at = NOW() 
			WHERE c.id = #{customer_id} AND c.password = #{originalpassword}
		]]>
	</update>

	<update id="editCustomerInfo" parameterType="com.comdosoft.financial.user.domain.query.EmpReq"
		flushCache="true">
		<![CDATA[
			UPDATE customers c SET c.name = #{name}, c.password = #{comfirmpwd}, c.updated_at = NOW() 
			WHERE c.id = #{customer_id} AND c.password = #{password}
		]]>
	</update>

	<update id="updateRights" flushCache="true">
		<![CDATA[
			UPDATE customer_role_relations c SET c.updated_at = NOW() 
			WHERE c.customer_id = #{0} AND c.role_id = #{1}
		]]>
	</update>

	<!-- 查询用户所有权限 -->
	<select id="getCustomerRights" parameterType="com.comdosoft.financial.user.domain.query.EmpReq" resultType="map">
		<![CDATA[
			SELECT c.id, c.role_id, c.updated_at FROM customer_role_relations c 
			WHERE c.customer_id = #{customer_id}
		]]>
	</select>

	<select id="countCustomerRightsByRoleId" resultType="int">
		<![CDATA[
			SELECT count(c.id) as count FROM customer_role_relations c 
			WHERE c.customer_id = #{0} AND c.role_id = #{1}
		]]>
	</select>

	<!-- 查找代理商拥有用户总数 -->
	<select id="count" resultType="int">
		<![CDATA[
			SELECT COUNT(c.id) AS count FROM customers c 
			LEFT JOIN customer_agent_relations car ON c.id = car.customer_id 
			WHERE car.agent_id = #{param1} AND c.status = 2
		]]>
	</select>

	<!-- 查询代理商旗下的用户 -->
	<select id="getAccountList" resultType="map">
		<![CDATA[
			SELECT c.id, c.name, c.username, c.status, car.agent_id, car.customer_id FROM customers c 
			LEFT JOIN customer_agent_relations car ON c.id = car.customer_id 
			WHERE car.agent_id = #{customerId} AND c.status = 2 AND c.types = 6 ORDER BY c.created_at DESC LIMIT #{offset}, #{rows};
		]]>
	</select>
	
	<!-- 删除用户权限 -->
	<delete id="deleteCustomerRights" parameterType="com.comdosoft.financial.user.domain.query.EmpReq">
		<![CDATA[
			DELETE FROM customer_role_relations WHERE customer_id = #{customer_id} 
		]]>
	</delete>
	
	<insert id="batchInsertRights" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.comdosoft.financial.user.domain.query.EmpReq">
		<![CDATA[
			INSERT INTO customer_role_relations(role_id, customer_id, created_at) VALUES(#{role_id}, #{customer_id}, NOW())
		]]>
	</insert>
</mapper>