<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.CustomerMapper">

	<select id="getSysConfig" resultType="map">
	<![CDATA[
		SELECT param_name, param_value, remark
		  FROM sys_config
		 WHERE param_name = #{paramName}
	]]>
	</select>

	<select id="getOne" resultType="map">
	<![CDATA[
		SELECT name, phone, email, city_id, integral, password
		  FROM customers
		 WHERE id = #{id}
	]]>
	</select>

	<update id="update">
		UPDATE customers
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null and name !=''">name = #{name},</if>
			<if test="phone != null and phone !=''">phone = #{phone},</if>
			<if test="email != null and email !=''">email = #{email},</if>
			<if test="cityId != null and cityId !=''">city_id = #{cityId}</if>
		</trim>
		WHERE id = #{id}
	</update>

	<update id="updatePassword">
	<![CDATA[
		UPDATE customers SET password = #{password}
		 WHERE id = #{id}
	]]>
	</update>

	<select id="getIntegralList" resultType="map">
	<![CDATA[
		SELECT i.quantity, i.types, d.order_number, d.actual_price,
			   DATE_FORMAT(d.payed_at, '%Y-%m-%d %T') payedAt
		  FROM customer_integral_records i LEFT JOIN orders d ON i.target_id = d.id
		 WHERE i.customer_id = #{customerId}
	  ORDER BY i.created_at DESC
		 LIMIT #{offset}, #{rows}
	]]>
	</select>

	<select id="getIntegralTotal" resultType="map">
	<![CDATA[
		SELECT SUM(i.quantity) quantityTotal
		  FROM customer_integral_records i
		 WHERE i.customer_id = #{customerId}
	]]>
	</select>

	<insert id="insertIntegralConvert" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO customer_integral_converts (name, phone, price, quantity, created_at, updated_at, customer_id)
		VALUES (#{name}, #{phone}, #{price}, #{quantity}, #{createdAt}, #{updatedAt}, #{customerId})
	]]>
	</insert>

	<insert id="insertIntegralRecord" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO customer_integral_records (customer_id, types, quantity)
		VALUES (#{customerId}, #{types}, #{quantity})
	]]>
	</insert>

	<select id="getAddressList" resultType="map">
	<![CDATA[
		SELECT receiver, moblephone, address
		  FROM customer_addresses
		 WHERE customer_id = #{customerId}
	]]>
	</select>

	<select id="getOneAddress" resultType="map">
	<![CDATA[
		SELECT city_id, receiver, moblephone, zip_code, is_default, address
		  FROM customer_addresses
		 WHERE id = #{id}
	]]>
	</select>

	<insert id="insertAddress" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO customer_addresses (city_id, receiver, moblephone, zip_code, address, is_default, customer_id)
		VALUES (#{cityId}, #{receiver}, #{moblephone}, #{zipCode},  #{address},  #{isDefault},  #{customerId})
	]]>
	</insert>

	<delete id="deleteAddress">
	<![CDATA[
		DELETE FROM customer_addresses WHERE id = #{id}
	]]>
	</delete>

</mapper>