<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.ExchangeGoodMapper">
  
      <insert id="add"  parameterType="com.comdosoft.financial.user.domain.query.ExchangeGoodReq">
		INSERT into exchange_goods_records(customer_id,terminals_list,from_agent_id,
		to_agent_id,created_at,updated_at,quantity)
		VALUES (#{customer_id},#{terminal_list},#{from_agent_id},
		#{to_agent_id},NOW(),NOW(),#{quantity})
 	 </insert>
     
      <update id="upTerminal_AgentId" parameterType="com.comdosoft.financial.user.domain.query.ExchangeGoodReq">
         UPDATE terminals set agent_id=#{to_agent_id} where serial_num=#{serial_num}
     </update>
     
     
     <select id="getExchangeGoodList" parameterType="com.comdosoft.financial.user.domain.query.ExchangeGoodReq" resultType="map">
            SELECT egr.id,a.company_name fromname,a2.company_name toname,
            DATE_FORMAT(egr.created_at,'%Y-%m-%d %H:%i:%s') as created_at,egr.quantity  
			from exchange_goods_records egr
            LEFT JOIN agents a on a.id=egr.from_agent_id
            LEFT JOIN agents a2 on a2.id=egr.to_agent_id
			where (egr.customer_id in 
			(SELECT customer_id from customer_agent_relations where types=2 and agent_id=#{agents_id}) OR
			egr.customer_id=(SELECT customer_id from agents WHERE id=#{agents_id}))
			<if test="startTime!=null">
			   <![CDATA[ and egr.created_at > str_to_date(#{startTime},'%Y-%m-%d') ]]>
			</if>
			<if test="endTime!=null">
			   <![CDATA[ and egr.created_at < str_to_date(#{endTime},'%Y-%m-%d') ]]>
			</if>
			<if test="son_agents_id!=0">
			   <![CDATA[ and (egr.from_agent_id=#{son_agents_id} or egr.to_agent_id=#{son_agents_id} )  ]]>
			</if>
     </select>
     
   <select id="getExchangeGoodTotal" parameterType="com.comdosoft.financial.user.domain.query.ExchangeGoodReq" resultType="int">
            SELECT count(*) 
			from exchange_goods_records egr
			where (customer_id in 
			(SELECT customer_id from customer_agent_relations where types=2 and agent_id=#{agents_id}) OR
			customer_id=(SELECT customer_id from agents WHERE id=#{agents_id}))
			<if test="startTime!=null">
			   <![CDATA[ and egr.created_at > str_to_date(#{startTime},'%Y-%m-%d') ]]>
			</if>
			<if test="endTime!=null">
			   <![CDATA[ and egr.created_at < str_to_date(#{endTime},'%Y-%m-%d') ]]>
			</if>
			<if test="son_agents_id!=0">
			   <![CDATA[ and (egr.from_agent_id=#{son_agents_id} or egr.to_agent_id=#{son_agents_id} )  ]]>
			</if>
     </select>
     
      <select id="getInfo" parameterType="com.comdosoft.financial.user.domain.query.ExchangeGoodReq" resultType="map">
            SELECT egr.id,a.company_name fromname,a2.company_name toname,egr.quantity,egr.terminals_list,
            DATE_FORMAT(egr.created_at,'%Y-%m-%d %H:%i:%s') as created_at,egr.quantity  
			from exchange_goods_records egr
            LEFT JOIN agents a on a.id=egr.from_agent_id
            LEFT JOIN agents a2 on a2.id=egr.to_agent_id
			where egr.id=#{id}
     </select>
	
</mapper>