<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.IndexMapper">
<!--首页 收单机构 -->
	<select id="getFactoryList" resultType="map" >
	SELECT
		f.logo_file_path,
		f.`name`,
		f.description,
		f.website_url,f.created_at
	FROM
		factories f
	WHERE
		f.types = 1 and f.`status`=5
	ORDER BY
			f.created_at DESC
			limit 0,12
	</select>
	<!-- 热卖pos -->
	<select id="getPosList" resultType="map" >
	SELECT
		g.id,
		g.model_number AS brand_number,
		g.volume_number,
		g.title,
		gb. NAME AS brand_name,
		gp.url_path
	FROM
		goods g
	LEFT JOIN good_brands gb ON g.good_brands_id = gb.id
	LEFT JOIN (select * from goods_pictures   LIMIT 1) as gp ON g.id = gp.good_id
	ORDER BY
		g.volume_number DESC
	limit 0,6
	</select>
	
	<select id="getParentCitiesList" resultType="map" >
	SELECT
		c.`name`,
		c.id
	FROM
		cities c
	WHERE
		c.parent_id = 0
	ORDER BY
		c.sort_index
	</select>
	
	<select id="getChildrenCitiesList" resultType="map" >
	SELECT
		c.`name`,
		c.id
	FROM
		cities c
	WHERE
		c.parent_id = #{param1}
	ORDER BY
		c.sort_index
	</select>
	
	<update id="changePhone" flushCache="true">
	UPDATE customers
	SET phone = #{phone}
	WHERE
	id = #{customer_id}
	</update>
	
		<select id="wxlist" resultType="map">
	SELECT
		`status`,
		updated_at
	FROM
		(
			SELECT
				CASE `status`
			WHEN 2 THEN
				'1条维修申请待发回'
			WHEN 3 THEN
				'1条维修申请维修中'
			WHEN 4 THEN
				'1条维修申请处理完成'
			WHEN 5 THEN
				'1条维修申请已取消'
			ELSE '其他' 
			END AS `status`,
			updated_at
		FROM
			cs_repairs
		WHERE
			`status` != 1   and customer_id=#{customer_id}
		UNION ALL
			SELECT
					CASE `status`
			WHEN 2 THEN
				'1条退货申请退货中'
			WHEN 4 THEN
				'1条退货申请处理完成'
			WHEN 5 THEN
				'1条退货申请已取消'
				ELSE '其他'
			END AS `status`,
				updated_at
			FROM
				cs_returns
			WHERE
				`status` != 1  and customer_id=#{customer_id}
			UNION ALL
				SELECT
						CASE `status`
			WHEN 2 THEN
				'1条换货申请换货中'
			WHEN 4 THEN
				'1条换货申请处理完成'
			WHEN 5 THEN
				'1条换货申请已取消'
				ELSE '其他'
			END AS `status`,
					updated_at
				FROM
					cs_changes
				WHERE
					`status` != 1   and customer_id=#{customer_id}
		) cs
	ORDER BY
		cs.updated_at DESC
	LIMIT 0, 7
	</select>
</mapper>