<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.MerchantMapper">

	<select id="getList" resultType="map">
	<![CDATA[
		SELECT id, title, legal_person_name
		  FROM merchants
		 WHERE customer_id = #{customerId}
	  ORDER BY created_at DESC
		 LIMIT #{offset}, #{rows}
	]]>
	</select>

	<select id="getOne" resultType="map">
	<![CDATA[
		SELECT id,
			   title,
			   legal_person_name,
			   legal_person_card_id,
			   business_license_no,
			   tax_registered_no,
			   organization_code_no,
			   city_id,
			   account_bank_name,
			   bank_open_account,
			   card_id_front_photo_path,
			   card_id_back_photo_path,
			   body_photo_path,
			   license_no_pic_path,
			   tax_no_pic_path,
			   org_code_no_pic_path,
			   account_pic_path
		  FROM merchants
		 WHERE id = #{id}
	]]>
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO merchants (title,
							   legal_person_name,
							   legal_person_card_id,
							   business_license_no,
							   tax_registered_no,
							   organization_code_no,
							   city_id, account_bank_name,
							   bank_open_account,
							   card_id_front_photo_path,
							   card_id_back_photo_path,
							   body_photo_path,
							   license_no_pic_path,
							   tax_no_pic_path,
							   org_code_no_pic_path,
							   account_pic_path,
							   created_at,
							   customer_id)
		VALUES (#{title},
				#{legalPersonName},
				#{legalPersonCardId},
				#{businessLicenseNo},
				#{taxRegisteredNo},
				#{organizationCodeNo},
				#{cityId},
				#{accountBankName},
				#{bankOpenAccount},
				#{cardIdFrontPhotoPath},
				#{cardIdBackPhotoPath},
				#{bodyPhotoPath},
				#{licenseNoPicPath},
				#{taxNoPicPath},
				#{orgCodeNoPicPath},
				#{accountPicPath},
				#{createdAt},
				#{customerId})
	]]>
	</insert>

	<update id="update">
		UPDATE merchants
		<trim prefix="SET" suffixOverrides=",">
			<if test="title != null and title !=''">title = #{title},</if>
			<if test="legalPersonName != null and legalPersonName !=''">legal_person_name = #{legalPersonName},</if>
			<if test="legalPersonCardId != null and legalPersonCardId !=''">legal_person_card_id = #{legalPersonCardId},</if>
			<if test="businessLicenseNo != null and businessLicenseNo !=''">business_license_no = #{businessLicenseNo},</if>
			<if test="taxRegisteredNo != null and taxRegisteredNo !=''">tax_registered_no = #{taxRegisteredNo},</if>
			<if test="organizationCodeNo != null and organizationCodeNo !=''">organization_code_no = #{organizationCodeNo},</if>
			<if test="cityId != null and cityId !=0">city_id = #{cityId},</if>
			<if test="accountBankName != null and accountBankName !=''">account_bank_name = #{accountBankName},</if>
			<if test="bankOpenAccount != null and bankOpenAccount !=''">bank_open_account = #{bankOpenAccount},</if>
			<if test="cardIdFrontPhotoPath != null and cardIdFrontPhotoPath !=''">card_id_front_photo_path = #{cardIdFrontPhotoPath},</if>
			<if test="cardIdBackPhotoPath != null and cardIdBackPhotoPath !=''">card_id_back_photo_path = #{cardIdBackPhotoPath},</if>
			<if test="bodyPhotoPath != null and bodyPhotoPath !=''">body_photo_path = #{bodyPhotoPath},</if>
			<if test="licenseNoPicPath != null and licenseNoPicPath !=''">license_no_pic_path = #{licenseNoPicPath},</if>
			<if test="taxNoPicPath != null and taxNoPicPath !=''">tax_no_pic_path = #{taxNoPicPath},</if>
			<if test="orgCodeNoPicPath != null and orgCodeNoPicPath !=''">org_code_no_pic_path = #{orgCodeNoPicPath},</if>
			<if test="accountPicPath != null and accountPicPath !=''">account_pic_path = #{accountPicPath},</if>
			<if test="updatedAt != null">updated_at = #{updatedAt}</if>
		</trim>
		WHERE id = #{id}
	</update>

	<delete id="delete">
	<![CDATA[
		DELETE FROM merchants WHERE id = #{id}
	]]>
	</delete>

</mapper>