<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.MessageReceiverMapper">

	<resultMap type="com.comdosoft.financial.user.domain.zhangfu.SysMessage" id="sysMessage">
		<id property="id" column="sid" />
		<result property="title" column="title" />
		<result property="createdAt" column="created_at" />
		<result property="content" column="content" />
	</resultMap>

	<resultMap type="com.comdosoft.financial.user.domain.zhangfu.MessageReceiver" id="messageReciver">
		<id property="id" column="id" />
		<result property="customerId" column="customer_id" />
		<result property="status" column="status" />
		<association property="sysMessageId" javaType="com.comdosoft.financial.user.domain.zhangfu.SysMessage" resultMap="sysMessage" />
	</resultMap>

	<select id="count" resultType="int">
		SELECT count(s.id) as count
		FROM message_receivers m left join sys_messages s on m.sys_message_id = s.id
		where m.customer_id = #{param1}
	</select>

	<select id="findAll" resultMap="sysMessage">
		SELECT m.id,m.customer_id,m.status,s.id as sid,s.title,s.content,s.created_at
		FROM sys_messages s left join message_receivers m on m.sys_message_id = s.id
		where m.customer_id = #{customer_id}
		order by s.created_at desc
		LIMIT #{offset},#{rows}
	</select>

	<select id="findById" resultMap="sysMessage">
		SELECT s.id,s.title,s.content,s.created_at
		FROM sys_messages s
		left join message_receivers m on s.id = m.sys_message_id
		where m.sys_message_id = #{id} and m.customer_id = #{customer_id}
	</select>

	<delete id="delete">
		DELETE FROM message_receivers  where sys_message_id = #{id} and customer_id = #{customer_id}
	</delete>

	<delete id="batchDelete" parameterType="com.comdosoft.financial.user.domain.zhangfu.MyOrderReq">
		DELETE FROM message_receivers where customer_id = #{customer_id} and sys_message_id in
		<foreach item="ids" collection="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>
		
	</delete>

	<update id="batchUpdate" >
		update message_receivers
		<set>
			status=1
		</set>
		where customer_id = #{customer_id} and sys_message_id in
		<foreach item="ids" collection="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>
	</update>

	<update id="isRead">
		update message_receivers
		set status=1
		where sys_message_id = #{id} and customer_id = #{customer_id}
	</update>

</mapper>