<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.OpeningApplyMapper">

	<resultMap  id="merchantMap" type="com.comdosoft.financial.user.domain.zhangfu.Merchant">
		<id column="id" property="id" />
		<result column="credit_type_id" property="creditTypeId" />
		<result column="legal_person_name" property="legalPersonName" />
		<result column="legal_person_card_id" property="legalPersonCardId" />
		<result column="card_id_front_photo_path" property="cardIdFrontPhotoPath" />
		<result column="card_id_back_photo_path" property="cardIdBackPhotoPath" />
		<result column="title" property="title" />
		<result column="business_license_no" property="businessLicenseNo" />
		<result column="tax_registered_no" property="taxRegisteredNo" />
		<result column="organization_code_no" property="organizationCodeNo" />
		<result column="bank_open_account" property="bankOpenAccount" />
		<result column="license_no_pic_path" property="bankOpenAccount" />
		<result column="tax_no_pic_path" property="taxNoPicPath" />
		<result column="org_code_no_pic_path" property="orgCodeNoPicPath" />
		<result column="account_pic_path" property="accountPicPath" />
		<result column="account_bank_name" property="accountBankName" />
		<result column="account_bank_address" property="accountBankAddress" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="phone" property="phone" />
		<result column="account_bank_num" property="accountBankNum" />
		<result column="customer_id" property="customerId" />
		<result column="city_id" property="cityId" />
		<result column="body_photo_path" property="bodyPhotoPath" />
	</resultMap>
 	
 	<insert id="addApply" useGeneratedKeys="true" keyProperty="id" parameterType="map">
		INSERT INTO `terminal_opening_infos` (`key`, `value`,`types`,`opening_applies_id`,`created_at`,`updated_at`) 
		VALUES (#{key},#{value},#{types},#{openingAppliesId},now(),now());
 	</insert>
 	
 	<insert id="addOpeningApply" useGeneratedKeys="true" keyProperty="id" parameterType="com.comdosoft.financial.user.domain.zhangfu.OpeningApplie">
		INSERT INTO `opening_applies` (`apply_customer_id`,`preliminary_verify_user_id`,`terminal_id`,`created_at`,`updated_at`,`status`,`types`) 
		VALUES (#{applyCustomerId},#{terminalId},#{terminalId},now(),now(),#{status},#{types});
 	</insert>
 
 	<select id="getApplyList" parameterType="map" resultType="map">
 		SELECT id,serial_num,status
 		FROM terminals
 		WHERE customer_id=#{id}
 		AND status in (#{twoStatus},#{threeStatus})
 		LIMIT #{offSetPage},#{pageSize}
 	</select>
 	
 	<update id="updateOpeningApplyStatus" parameterType="com.comdosoft.financial.user.domain.zhangfu.OpeningApplie">
		UPDATE `opening_applies` SET `status` = #{status}  
		WHERE id = #{id}
 	</update>
 	
 	<select id="getApplyDetails" parameterType="int" resultType="map">
 		SELECT t.serial_num,g.model_number,b.name as brandName,c.name as channelName
		FROM terminals t LEFT JOIN goods g on t.good_id=g.id
		LEFT JOIN good_brands b on g.good_brands_id=b.id 
		LEFT JOIN pay_channels c on c.id=t.pay_channel_id
		WHERE t.id=#{terminalsId}
 	</select>
 	
 	<select id="getMerchants" resultType="map" parameterType="int">
 		SELECT id,title FROM merchants WHERE customer_id = #{customerId}
 	</select>
 	
 	<select id="getChannels" resultType="map">
 		SELECT id,name FROM pay_channels
 	</select>
 	
 	<select id="getMerchant" resultMap="merchantMap" parameterType="int">
 		SELECT * FROM merchants
 		WHERE id=#{id}
 	</select>
 	
 	<select id="getMaterialName" resultType="map" parameterType="map">
 		select * from dictionary_open_private_infos where id in(
		select l.requirement_setting_id
		from terminals t LEFT JOIN pay_channels p on t.pay_channel_id=p.id
		LEFT JOIN opening_requirements o on p.id = o.pay_channel_id 
		LEFT JOIN opening_requirement_lists l on o.id=l.opening_requirements_id
		where t.id=#{terminalsId} AND l.requirement_type=#{status}
		)
 	</select>
 	
 	<select id="ReApplyFor" parameterType="int" resultType="map">
 		SELECT * FROM terminal_opening_infos t LEFT JOIN opening_applies e on t.opening_applies_id=e.id
		WHERE e.terminal_id = #{terminalsId}
 	</select>
 	
 	<select id="getApplyesId" parameterType="int" resultType="int">
 		SELECT id FROM opening_applies 
 		WHERE terminal_id=#{id}
 	</select>
 	
 	<delete id="deleteOpeningInfos" parameterType="int">
 		DELETE FROM terminal_opening_infos 
 		WHERE opening_applies_id = #{id}
 	</delete>
</mapper>