<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.OpeningApplyMapper">
 	
 	<insert id="addOpeningApply" useGeneratedKeys="true" keyProperty="id" parameterType="com.comdosoft.financial.user.domain.zhangfu.OpeningApplie">
		INSERT INTO `opening_applies` (`apply_customer_id`,`preliminary_verify_user_id`,`terminal_id`,`created_at`,`updated_at`,`status`,`types`) 
		VALUES (#{applyCustomerId},#{terminalId},#{terminalId},now(),now(),#{status},#{types});
 	</insert>
 	
 	<insert id="addMerchan" useGeneratedKeys="true" keyProperty="id" parameterType="com.comdosoft.financial.user.domain.zhangfu.Merchant">
		 INSERT into merchants(legal_person_name,legal_person_card_id,title,tax_registered_no,organization_code_no,created_at,updated_at,account_bank_num,customer_id,city_id,phone)
		 VALUES(#{legalPersonName},#{legalPersonCardId},#{title},#{taxRegisteredNo},#{organizationCodeNo},now(),now(),#{accountBankNum},#{customerId},#{cityId},#{phone})
 	</insert>
 	
 	<insert id="addApply" useGeneratedKeys="true" keyProperty="id" parameterType="map">
		INSERT INTO `terminal_opening_infos` (`key`, `value`,`types`,`opening_applies_id`,`target_id`,`opening_requirement_id`,`created_at`,`updated_at`) 
		VALUES (#{key},#{value},#{types},#{openingAppliesId},#{targetId},#{openingRequirementId},now(),now());
 	</insert>
 
 	<select id="getApplyList" parameterType="map" resultType="map">
 		SELECT id,serial_num,status
 		FROM terminals
 		WHERE agent_id=#{id}
 		AND status in (#{twoStatus},#{threeStatus})
 		LIMIT #{offSetPage},#{pageSize}
 	</select>
 	
 	<select id="getApplyListSize" parameterType="map" resultType="int">
 		SELECT count(*)
 		FROM terminals
 		WHERE agent_id=#{id}
 		AND status in (#{twoStatus},#{threeStatus})
 	</select>
 	
 	<select id="judgeOpen"  resultType="int" parameterType="int">
		select count(*) from opening_applies
		where terminal_id = #{terminalId}
	</select>
 	
 	<select id="searchApplyList" parameterType="map" resultType="map">
 		SELECT id,serial_num,status
 		FROM terminals
 		WHERE agent_id=#{id}
 		AND status in (#{twoStatus},#{threeStatus})
 		<if test="serialNum != null and serialNum != ''">AND serial_num like '%${serialNum}%'</if>
 		LIMIT #{offSetPage},#{pageSize}
 	</select>
 	
 	<select id="searchApplyListSize" parameterType="map" resultType="int">
 		SELECT count(*)
 		FROM terminals
 		WHERE agent_id=#{id}
 		AND status in (#{twoStatus},#{threeStatus})
 		<if test="serialNum != null and serialNum != ''">AND serial_num like '%${serialNum}%'</if>
 	</select>
 	
 	<update id="updateOpeningApplyStatus" parameterType="com.comdosoft.financial.user.domain.zhangfu.OpeningApplie">
		UPDATE `opening_applies` SET `status` = #{status}  
		WHERE id = #{id}
 	</update>
 	
 	<update id="updateApply" parameterType="com.comdosoft.financial.user.domain.zhangfu.OpeningApplie">
 		update  `opening_applies` set `apply_customer_id` = #{applyCustomerId}
		,`terminal_id` = #{terminalId}
		,`status` = #{status}
		,`created_at` = now()
		,`updated_at` = now()
		,`types` = #{types}
		,`merchant_id` = #{merchantId}
		,`merchant_name` = #{merchantName}
		,`sex` = #{sex}
		,`birthday` = #{birthday}
		,`card_id` =#{cardId}
		,`phone` = #{phone}
		,`email` =#{email}
		,`city_id` = #{cityId}
		,`name` = #{name}
		,`pay_channel_id` = #{payChannelId}
		,`account_bank_num` = #{accountBankNum}
		,`account_bank_name` =#{accountBankName}
		,`account_bank_code` = #{accountBankCode}
		,`tax_registered_no` = #{taxRegisteredNo}
		,`organization_code_no` = #{organizationCodeNo}
		,`billing_cyde_id` =#{billingCydeId}
		where id = #{id}
 	</update>
 	
 	<select id="getApplyDetails" parameterType="int" resultType="map">
 		SELECT t.serial_num,g.model_number,b.name as brandName,c.name as channelName,c.`id` as appId
		FROM terminals t LEFT JOIN goods g on t.good_id=g.id
		LEFT JOIN good_brands b on g.good_brands_id=b.id 
		LEFT JOIN pay_channels c on c.id=t.pay_channel_id
		WHERE t.id=#{terminalsId}
 	</select>
 	
 	<select id="getMerchantsIsNo" resultType="map"  parameterType="map">
 		SELECT * FROM merchants 
 		WHERE title = #{merchantName} or phone = #{phone}
 	</select>
 	
 	<select id="getOppinfo" resultType="map"  parameterType="com.comdosoft.financial.user.domain.zhangfu.OpeningApplie">
 		SELECT e.*,p.`name` as channelname,b.`name` as billingname FROM opening_applies e 
		LEFT JOIN pay_channels p on p.id = e.pay_channel_id
		LEFT JOIN dictionary_billing_cycles b ON b.id = e.billing_cyde_id
		WHERE  terminal_id = #{terminalId}
 	</select>
 	
 	<select id="getMerchants" resultType="map" parameterType="map">
 		SELECT id,title FROM merchants WHERE customer_id = #{customerId}
 		LIMIT #{offSetPage},#{pageSize}
 	</select>
 	
 	<select id="getMerchantSize" resultType="int" parameterType="map">
 		SELECT count(*) FROM merchants WHERE customer_id = #{customerId}
 	</select>
 	
 	<select id="channelsT" resultType="map">
		SELECT d.id,d.`name`
		FROM pay_channels s
		LEFT JOIN pay_channel_billing_cycles p ON p.pay_channel_id = s.id
		LEFT JOIN dictionary_billing_cycles d ON d.id = p.billing_cycles_id
		WHERE s.id = #{id}
	</select>
 	
 	<select id="getChannels" resultType="map">
 		SELECT id,name FROM pay_channels
 	</select>
 	
 	<select id="getMerchant" resultType="map" parameterType="int">
 		SELECT * FROM merchants
 		WHERE id=#{id}
 	</select>
 	
 	<select id="getMaterialName" resultType="map" parameterType="map">
 		select  dop.*, l.opening_requirements_id from  dictionary_open_private_infos dop
		LEFT JOIN opening_requirement_lists l on dop.id=l.requirement_setting_id
		LEFT JOIN opening_requirements o ON o.id = l.opening_requirements_id
		left join terminals t  on t.pay_channel_id = o.pay_channel_id
		where t.id=#{terminalsId} AND l.requirement_type=#{status} order by l.opening_requirements_id
 	</select>
 	
 	<select id="ReApplyFor" parameterType="int" resultType="map">
 		SELECT t.* FROM terminal_opening_infos t 
 		LEFT JOIN opening_applies e on t.opening_applies_id=e.id
		WHERE e.terminal_id = #{terminalsId}
 	</select>
 	
 	<select id="getApplyesId" parameterType="int" resultType="int">
 		SELECT id FROM opening_applies 
 		WHERE terminal_id=#{id}
 	</select>
 	
 	<delete id="deleteOpeningInfos" parameterType="int">
 		DELETE FROM terminal_opening_infos 
 		WHERE opening_applies_id = #{id}
 	</delete>
</mapper>