<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.ShopMapper">
  
    
     <select id="getShopOne"  resultType="map">
       select  pc.name,pc.opening_cost,g.id as goodId,g.second_title,
 			  g.retail_price as price,g.title,g.Model_number,b.name as good_brands
       from goods g 
       LEFT JOIN goods_pay_channels gpc on gpc.good_id=g.id 
       LEFT JOIN pay_channels pc on pc.id=gpc.pay_channel_id
	   LEFT JOIN good_brands b on g.good_brands_id=b.id
       where g.id=#{goodId} and pc.id=#{paychannelId}
    </select>
    
    
    <select id="getLeaseOne"  resultType="map">
       select  pc.name,pc.opening_cost,g.id as goodId,g.second_title,g.lease_price,g.lease_time,g.return_time,
 			   g.lease_deposit as price,g.title,g.Model_number,b.name as good_brands,g.lease_description
       from goods g 
       LEFT JOIN goods_pay_channels gpc on gpc.good_id=g.id 
       LEFT JOIN pay_channels pc on pc.id=gpc.pay_channel_id
	   LEFT JOIN good_brands b on g.good_brands_id=b.id
       where g.id=#{goodId} and pc.id=#{paychannelId} and g.has_lease>0
    </select>
    
    <select id="getPayOrder" resultType="map">
        SELECT o.order_number,o.total_price,ca.receiver,ca.address,IFNULL(op.pay_type,0) paytype
 		from orders o
		LEFT JOIN customer_addresses ca on ca.id=o.customer_address_id
		LEFT JOIN order_payments op on op.order_id=o.id
		where o.id=#{id} 
  </select>
    
    <select id="getPayOrderGood" resultType="map" >
        SELECT g.title,pc.name as pcname,og.quantity from order_goods og
		LEFT JOIN goods g on og.good_id=g.id
		left JOIN pay_channels pc on pc.id=og.pay_channel_id
		where order_id=#{id}
  </select>
	
	
</mapper>