<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.ShopCartMapper">
  
    
    <insert id="add" parameterType="com.comdosoft.financial.user.domain.query.CartReq">
       INSERT into shopping_carts(good_id,customer_id,quantity,pay_channel_id,created_at,updated_at) 
       VALUES(#{goodId},#{customerId},1,#{paychannelId},NOW(),NOW())
    </insert>
    
    <delete id="delete">
       DELETE from shopping_carts where id=#{id}
    </delete>
    
    <update id="update" parameterType="com.comdosoft.financial.user.domain.query.CartReq">
       UPDATE shopping_carts set quantity=#{quantity} where id=#{id}
    </update>
  
    <select id="isExist" parameterType="com.comdosoft.financial.user.domain.query.CartReq" resultType="int">
    SELECT IFNULL(
        (SELECT quantity from shopping_carts 
         where customer_id=#{customerId} and 
         good_id=#{goodId} and pay_channel_id=#{paychannelId})
         ,0) 
    </select>
    
    <select id="getList" parameterType="com.comdosoft.financial.user.domain.query.CartReq" resultType="map">
       select sc.id,sc.quantity,pc.name,g.id as goodId,g.retail_price,g.title,g.Model_number,b.name
       from shopping_carts sc 
       LEFT JOIN pay_channels pc on pc.id=sc.pay_channel_id 
       LEFT JOIN goods g on g.id=sc.good_id
			 LEFT JOIN good_brands b on g.good_brands_id=b.id
       where sc.customer_id=#{customerId}
    </select>
</mapper>