<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.TerminalsMapper">

	

	<insert id="submitAgent" useGeneratedKeys="true" keyProperty="id" parameterType="com.comdosoft.financial.user.domain.zhangfu.CsAgent">
		INSERT into
		cs_agents(customer_id,terminals_quantity,status,
		address,reason,created_at,updated_at,apply_num,terminals_list,reciver,phone)
		VALUES(#{customerId},#{terminalsQuantity},#{status},#{address},#{reason},
		now(),now(),#{applyNum},#{terminalsList},#{reciver},#{phone})
	</insert>
	
	<insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		INSERT  into customers(username,password,city_id,account_type,types,phone,email,created_at,dentcode,status)
		VALUES(#{username},#{password},#{cityId},#{accountType},#{types},#{phone},#{email},now(),#{dentcode},#{status})
	</insert>
	
	<insert id="addCustomerOrAgent" useGeneratedKeys="true" keyProperty="id" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		insert into customer_agent_relations(customer_id,agent_id,types,status,created_at,updated_at)
		VALUES(#{customerId},#{agentId},#{types},#{status},now(),now())
	</insert>
	
	<update id="updateCode" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		UPDATE customers set dentcode=#{dentcode}
		WHERE username=#{username}
	</update>

	<select id="getTerminalList" parameterType="map" resultType="map">
		SELECT id,serial_num,status
		FROM terminals
		WHERE
		agent_id=#{id}
		<if test="status != -1">
			AND status = #{status}
		</if>
		ORDER BY created_at DESC
		LIMIT #{offSetPage},#{pageSize}
	</select>
 	
 	<select id="getNewTerminalList" parameterType="map" resultType="map">
		SELECT id,serial_num,status
		FROM terminals
		WHERE
		agent_id=#{id}
		<if test="status != -1 and status != null">
			AND status = #{status}
		</if>
		<if test="serialNum != null and serialNum != ''">AND serial_num like '%${serialNum}%'</if>
		ORDER BY created_at DESC
		LIMIT #{offSetPage},#{pageSize}
	</select>

	<select id="getTerminalListSize" parameterType="map" resultType="int">
		SELECT count(*)
		FROM terminals
		WHERE
		agent_id=#{id}
		<if test="status != -1 and status != null">
			AND status = #{status}
		</if>
		<if test="serialNum != null and serialNum != ''">AND serial_num like '%${serialNum}%'</if>
		ORDER BY created_at DESC
	</select>
	
	<select id="getApplyDetails" parameterType="int" resultType="map">
		SELECT t.id,t.serial_num,t.`status`,g.model_number,b.name as
		brandName,a.name as factorName,m.title,m.phone,e.order_number,date_format(e.created_at,'%Y-%c-%d %h:%i:%s') as createdAt,c.`name` as channelName,l.`id` as appId,l.`status` as applieStatus,e.types
		FROM terminals t 
		LEFT JOIN order_goods o on o.order_id = t.order_id and o.good_id = t.good_id
		LEFT JOIN goods g on o.good_id=g.id
		LEFT JOIN good_brands b on g.good_brands_id=b.id
		LEFT JOIN pay_channels c on c.id=t.pay_channel_id
		LEFT JOIN factories a ON c.factory_id=a.id
		LEFT JOIN merchants m ON t.merchant_id=m.id
		LEFT JOIN orders e ON t.order_id=e.id
		LEFT JOIN opening_applies l ON l.terminal_id = t.id
		WHERE t.id=#{id}
		AND
		e.customer_id=t.customer_id
	</select>

	<select id="getRate" parameterType="int" resultType="map">
		SELECT
		s.id,s.trade_type_id,s.terminal_rate,s.base_rate,s.service_rate,i.`status`
		FROM terminals t LEFT JOIN
		terminal_trade_type_infos
		i ON t.id=i.terminal_id
		LEFT JOIN support_trade_types s ON i.trade_type_id=s.id
		WHERE t.id=#{id}
	</select>

	<select id="getTrackRecord" parameterType="int" resultType="map">
		SELECT date_format(s.created_at,'%Y-%c-%d %h:%i:%s') as
		createdAt,s.content,c.`name`
		FROM terminals t LEFT
		JOIN opening_applies i ON t.id=i.terminal_id
		LEFT JOIN
		opening_apply_marks s ON
		i.id=s.opening_apply_id
		LEFT JOIN customers c ON
		s.custom_id=c.id
		where t.id=#{id}
	</select>

	<select id="getOpeningDetails" parameterType="int" resultType="map">
		SELECT s.`key`,s.`value`
		FROM terminals t LEFT JOIN
		opening_applies i ON t.id=i.terminal_id
		LEFT JOIN terminal_opening_infos s ON
		i.id=s.opening_applies_id
		where t.id=#{id}
	</select>

	<select id="channels" resultType="map">
		SELECT s.id,s.`name`
		FROM pay_channels s
	</select>

	<select id="getMerchants" parameterType="map" resultType="map">
		SELECT a.id,a.name FROM customers a LEFT JOIN
		customer_agent_relations c ON a.id = c.customer_id and a.`status` = #{status}
		WHERE c.agent_id = #{customerId} 
		LIMIT #{offSetPage},#{pageSize}
		
	</select>

	<select id="getMerchantSize" parameterType="map" resultType="int">
		SELECT a.id,a.name FROM customers a LEFT JOIN
		customer_agent_relations c ON a.id = c.customer_id  and a.`status` = #{status}
		WHERE c.agent_id = #{customerId} 
	</select>
	<select id="getTerminalsNum" parameterType="string" resultType="object">
		SELECT id FROM terminals
		WHERE serial_num =#{terminalsNum}
	</select>

	<select id="numIsBinding" parameterType="string" resultType="int">
		<!-- SELECT count(*) FROM terminals t
		JOIN merchants s
		ON
		t.customer_id = s.customer_id
		WHERE t.serial_num=#{terminalsNum} -->
		SELECT count(*) FROM terminals t
		WHERE t.serial_num=#{terminalsNum} and customer_id is null
	</select>

	<select id="merchantsIsBinding" parameterType="int" resultType="object">
		SELECT customer_id
		FROM merchants where id=#{terchantsId}
	</select>

	<update id="Binding" parameterType="map">
		UPDATE terminals SET customer_id = #{userId}
		WHERE serial_num = #{terminalsNum}
	</update>

	<select id="getTerminal" parameterType="int" resultType="map">
		SELECT id,serial_num
		FROM terminals
		WHERE
		customer_id=#{customerId}
	</select>

	<select id="getAddressee" parameterType="int" resultType="map">
		SELECT id,receiver,moblephone,address
		FROM customer_addresses
		WHERE
		customer_id=#{customerId}
	</select>
	
	<select id="getTerminalArray" resultType="map" parameterType="string">
		SELECT t.id,t.serial_num,g.retail_price from terminals t
		LEFT JOIN goods g ON t.good_id = g.id
		LEFT JOIN pay_channels p ON
		t.pay_channel_id = p.id
		WHERE serial_num = #{serialNum}
	</select>

	<select id="screeningTerminalNum" resultType="map" parameterType="map">
		SELECT t.id,t.serial_num,g.retail_price from terminals t
		LEFT JOIN goods g ON t.good_id = g.id
		LEFT JOIN pay_channels p ON
		t.pay_channel_id = p.id
		WHERE
		agent_id=#{agentId}
		<if test="title != null">
			AND g.title LIKE '%${title}%' 
		</if>
		<if test="channelsId != null">
			AND p.id = #{channelsId}
		</if>
		<choose>
			<when test="minPrice != null and maxPrice != null">
				AND g.retail_price BETWEEN #{minPrice}*100 and #{maxPrice}*100
			</when>
			<when test="minPrice == null and maxPrice != null">
				AND g.retail_price &lt; #{maxPrice}*100
			</when>
			<when test="minPrice != null and maxPrice == null">
				AND g.retail_price &gt; #{minPrice}*100
			</when>
		</choose>
	</select>
	
	<select id="batchTerminalNum" resultType="map" parameterType="map">
		SELECT t.id,t.serial_num,g.retail_price from terminals t
		LEFT JOIN goods g ON t.good_id = g.id
		LEFT JOIN pay_channels p ON
		t.pay_channel_id = p.id
		WHERE t.serial_num in
		<foreach item="item" index="index" collection="serialNum" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="screeningPosName" parameterType="int" resultType="map">
		SELECT distinct  g.id,g.title FROM terminals t
		LEFT JOIN goods g ON
		t.good_id = g.id
		WHERE t.customer_id = #{customerId} AND g.id is not NULL
	</select>

	<!-- 查询单个商户的终端信息 -->
	<select id="getOneCommercialTerminalList" parameterType="map" resultType="map">
	<![CDATA[
		SELECT id, serial_num, status FROM terminals t
		WHERE t.customer_id = #{customer_id} AND t.status != 4
	]]>
	</select>
	
	<select id="checkTerminalCode" parameterType="string" resultType="int">
		SELECT count(*) FROM terminals
		WHERE serial_num = #{serialNum}
	</select>
	
	<select id="checkTerminalCodeOpen" parameterType="string" resultType="int">
		SELECT count(*) FROM cs_cancels c LEFT JOIN terminals t ON c.terminal_id = t.id
		WHERE t.serial_num = #{serialNum}
	</select>
	
	<select id="findUname" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer" resultType="int">
		SELECT COUNT(*) from customers 
		WHERE username=#{username}
	</select>
	
	<select id="findUnameAndStatus" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer" resultType="int">
		SELECT COUNT(*) from customers 
		WHERE username=#{username} AND status=#{status}
	</select>
	
	
	
	
</mapper>
