<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.UserManagementMapper">


	<select id="getUser" resultType="map" parameterType="int">
		SELECT m.id as customersId,m.`name`,m.phone,m.email,m.created_at as createdAt,a.id as agentId 
		from agents a 
		LEFT JOIN customer_agent_relations c ON a.id=c.agent_id and c.`status` = #{status} and c.types = #{types}
		LEFT JOIN customers m ON c.customer_id=m.id
		WHERE a.id = #{customerId}
		LIMIT #{offSetPage},#{pageSize}
	</select>
	
	<select id="getWebUser" resultType="map" parameterType="int">
		SELECT m.id as customersId,m.`name`,m.phone,m.email,m.created_at as createdAt,a.id as agentId 
		from agents a 
		LEFT JOIN customer_agent_relations c ON a.id=c.agent_id and c.`status` = #{status} and c.types = #{types}
		LEFT JOIN customers m ON c.customer_id=m.id
		WHERE a.id = #{customerId}
	</select>

	<update id="delectAgentUser" parameterType="map">
		UPDATE customer_agent_relations SET status = #{status}
		WHERE agent_id = #{id} AND customer_id = #{customerId}
	</update>

	<select id="getTerminals" parameterType="map" resultType="map">
		SELECT id,serial_num FROM terminals
		WHERE customer_id=#{id}
		LIMIT #{offSetPage},#{pageSize}
	</select>
	
	<select id="findUname" parameterType="map" resultType="int">
		SELECT COUNT(*) from customers 
		WHERE username=#{username}
	</select>
	
	<insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="map">
		<!-- INSERT  into customers(username,password,city_id,account_type,types,phone,email,created_at,status,name,integral,updated_at)
		VALUES(#{username},#{password},#{cityId},#{accountType},#{types},#{phone},#{email},now(),#{status},#{name},#{integral},now()) -->
		
		INSERT  into customers(username,password,city_id,types,created_at,status,name,integral,updated_at)
		VALUES(#{username},#{password},#{cityId},#{types},now(),#{status},#{name},#{integral},now())
	</insert>
	
	<insert id="addCustomerOrAgent" useGeneratedKeys="true" keyProperty="id" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		insert into customer_agent_relations(customer_id,agent_id,types,status,created_at,updated_at)
		VALUES(#{customerId},#{agentId},#{types},#{status},now(),now())
	</insert>

	<select id="getTerminalListTotalCount" resultType="int">
		<![CDATA[
			SELECT COUNT(c.id) AS count FROM terminals c 
			WHERE customer_id=#{id}
		]]>
	</select>

	<select id="getTerminalList" parameterType="map" resultType="map">
		SELECT t.serial_num as serial_num,g.title as good_id,p.name as p_name,m.legal_person_name as m_name,m.phone as m_phone,t.status as status
		FROM terminals t
		LEFT JOIN pay_channels p on p.id=t.pay_channel_id
		LEFT JOIN merchants m on m.id=t.merchant_id
		LEFT JOIN goods g on g.id=t.good_id
		WHERE t.customer_id=#{id}
		LIMIT #{offSetPage},#{pageSize}
	</select>

	<select id="queryCustomer"  resultType="map" >
	<![CDATA[
		SELECT * FROM customers  WHERE id = #{id}
	]]>
	</select>
	
	<select id="queryMerchantInfo" resultType="map" parameterType="int">
	<![CDATA[
		SELECT c.id, c.name AS cityname, c.parent_id, c.sort_index, m.city_id, m.customer_id, m.id as mid,
		cu.name, cu.username, cu.email, cu.phone, cu.id as customerid
		FROM merchants m 
		LEFT JOIN cities c ON c.id = m.city_id
		LEFT JOIN customers cu ON cu.id = m.customer_id 
		WHERE m.customer_id = #{customerId};
	]]>
	</select>
</mapper>