<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.UserManagementMapper">


	<select id="getUser" resultType="map" parameterType="int">
		SELECT m.id as customersId,m.`name`,a.id as agentId from agents a 
		LEFT JOIN customer_agent_relations c ON a.id=c.agent_id
		LEFT JOIN customers m ON c.customer_id=m.id
		WHERE a.customer_id = #{customerId}
	</select>

	<update id="delectAgentUser" parameterType="map">
		UPDATE customer_agent_relations SET status = #{status}
		WHERE agent_id = #{id} AND customer_id = #{customerId}
	</update>

	<select id="getTerminals" parameterType="map" resultType="map">
		SELECT id,serial_num FROM terminals
		WHERE customer_id=#{id}
		LIMIT #{offSetPage},#{pageSize}
	</select>

	<select id="getTerminalListTotalCount" resultType="int">
		<![CDATA[
			SELECT COUNT(c.id) AS count FROM terminals c 
			WHERE customer_id=#{id}
		]]>
	</select>

	<select id="getTerminalList" parameterType="map" resultType="map">
		SELECT t.serial_num as serial_num,g.title as good_id,p.name as p_name,m.legal_person_name as m_name,m.phone as m_phone,t.status as status
		FROM terminals t
		LEFT JOIN pay_channels p on p.id=t.pay_channel_id
		LEFT JOIN merchants m on m.id=t.merchant_id
		LEFT JOIN goods g on g.id=t.good_id
		WHERE t.customer_id=#{id}
		LIMIT #{offSetPage},#{pageSize}
	</select>

	<select id="queryCustomer"  resultType="map" >
	<![CDATA[
		SELECT * FROM customers  WHERE id = #{id}
	]]>
	</select>
</mapper>