<link href="style/login.css" rel="stylesheet" type="text/css" />
     <div class="login">
    	<div class="login_left">
        	<img src="images/ad.jpg" />
        </div>
        <div class="login_right">
        	<div class="lr_h" ng-controller="agentLoginController" class="ng-cloak">
            	<ul>
                	<li class="hover">合作伙伴</li>
                </ul>
            </div>
            <div class="lr_b">
            	<div class="login_area" ng-controller="agentLoginController" ng-show="!loginAngShow" class="ng-cloak">
                	<ul>
                    	<li>
                        	<label>用户名</label>
                        	<input name="" type="text"  id="cookieName" ng-mousedown="deleteerror()" ng-class="{true: 'input_false'}[agentNameClass == true]" ng-model="agent.agentName"/>
                        	<!-- <div class="login_area_wrong">请输入正确的手机号码</div> -->
                        </li>
                        <li>
                        	<label>密码</label>
                        	<input id="cookiePass" ng-mousedown="deleteerrord()" name="" ng-class="{true: 'input_false'}[agentPassClass == true]" type="password" ng-model="agent.agentPass"/>
                           <!--  <div class="login_area_wrong">密码不正确，请重新填写</div> -->
                        </li>    
                        <li class="yzm_li">
                        	<input ng-mousedown="agentImgClass = false" name="" type="text" placeholder="输入图片校验码" ng-class="{true: 'l input_false',false: 'l'}[agentImgClass == true]" ng-model="agent.agentCode"/>
                            <div class="yzm">
                            	<img class="loginRandCodeImg" ng-click="reGetRandCodeImg()" src="images/yzm.jpg" />
                                <a href="javascript:void(0);">看不清?点击图片换一张</a>
                            </div>
                        </li>
                    </ul>
                    <div class="forget">
                    	<!-- <span><input name="" type="checkbox" value="" ng-model="agentRememberPass"/>记住密码</span> -->
                        <a href="#/findpass">忘记密码？</a>
                    </div>
                    <div class="btn"><button id="denglu" class="btn_q" ng-click="agentLogin()">登录</button><button class="btn_w" ng-click="goToRegister()">申请成为合作伙伴</button></div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
	$(function(){
		// 解决placeholder在IE9以下浏览器中兼容性
		$('input, textarea').placeholder();
	});
</script>
