<link href="style/login.css" rel="stylesheet" type="text/css" />
    <div class="login" ng-controller="registerAgentController">
    	<div class="login_left">
        	<img src="images/ad.jpg" />
        </div>
        <div class="login_right">
        	<div class="lr_h">
            	<ul>
                	<li>普通用户</li>
                    <li class="hover">代理商</li>
                </ul>
            </div>
            <div class="lr_b">
                <div class="login_area" ng-controller="agentLoginController" ng-show="!loginAngShow" >
					<ul>
						<li>
						<input id="cookieName" name="" ng-mousedown="agentNameClass = false" ng-class="{true: 'error'}[agentNameClass == true]" type="text" placeholder="ID" ng-model="agent.agentName"/>
						<p class="red" >{{agentNameMessage}}</p>
						</li>
						<li>
						<input id="cookiePass" name="" ng-mousedown="agentPassClass = false" ng-class="{true: 'error'}[agentPassClass == true]" type="password" placeholder="密码:由6-20位，英文字符组成" ng-model="agent.agentPass"/>
						<p class="red" >{{agentPassMessage}}</p>
						</li>
						<li><input name="" ng-mousedown="agentImgClass = false" type="text" placeholder="输入图片校验码" ng-class="{true: 'l error',false: 'l'}[agentImgClass == true]" ng-model="agent.agentCode"/>
							<div class="yzm"> 
								<img class="loginRandCodeImg" src="images/yzm.jpg" ng-click="reGetRandCodeImg()" />
							</div></li>
					</ul>
					<div class="forget">
						<span><input name="" type="checkbox" value="" ng-model="agentRememberPass" />记住密码</span> <a href="#/findpass">忘记密码？</a>
					</div>
					<div class="btn">
						<button style="width: 180px; margin-right: 18px;" ng-click="agentLogin()">登录</button>
						<button style="width: 160px; background: #ff9b00; float: right;" ng-click="goToRegister()">申请成为代理商</button>
					</div>
				</div>
            </div>
        </div>
    </div>
