<div class="right" ng-controller="myappController">
                <div class="content clear">
                <div class="partner_banner">
                    	<ul class="pb_slider">
                            <li><img src="images/banner01.jpg"/></li>
                            <li><img src="images/banner02.jpg"/></li>
                        </ul>
                        <ul class="pb_num">
                            <li class="on">1</li>
                            <li>2</li>
                        </ul>
                    </div>
                    
<script   type="text/javascript">
$(function(){
var len = $(".pb_num > li").length;
var index = 0;
var MyTime = setInterval(function(){
   showImg(index)
   index++;
   if(index==len){index=0;}
} , 3000);

$(".pb_num li").mouseover(function(){
   index =   $(".pb_num li").index(this);
   showImg(index);
});
 
$('.partner_banner').hover(function(){
     if(MyTime){
     clearInterval(MyTime);
     }
},function(){
     MyTime = setInterval(function(){
       showImg(index)
     index++;
     if(index==len){index=0;}
     } , 4000);
});

})
function showImg(i){
   $(".pb_slider").stop(true,false).animate({top : -230*i},800);
   $(".pb_num li").eq(i).addClass("on").siblings().removeClass("on");
}
</script>
                	<div class="user_deal">
                    	<div class="cu_title">7日交易动态<span>单位：元</span></div>
                        <div class="deal_text" ng-show="trade.num>1">交易金额：<strong>{{trade.sum/100  |currency : "￥"}}</strong>&nbsp;&nbsp;交易笔数：<strong>{{trade.num}}</strong> 次</div>
                        <div class="deal_text" ng-show="trade.num ==null" style=" text-align:center;font-weight: bold;">暂无交易流水</div>
                        <div class="barChart">
                        	<canvas id="myChart" height="230" width="420"></canvas>
                        </div>
                    </div>
                    
                    <div class="user_notice marginLeft10">
                    	<div class="cu_title">公告板</div>
                    	<div class="user_news_con" >
                        	<ul>
                            	<li ng-repeat="m in web_list"><a  ng-click="leitgo('#/web?id=',m.id)"   >[公告] {{m.title}}</a></li>
                            </ul>
                        </div>
                    </div>
                 
                  <!--   <div class="user_business ">
                    	<div class="cu_title">业务处理</div>
                        <div class="user_news_con">
                        	<ul>
                            	<li ng-repeat="m in cp_list">
						 				<a href="#/cs_agentinfo?infoId={{m.id}}" target="_blank"><strong >{{m.status}}</strong></a>
                            	</li>
                            </ul>
                        </div>
                    </div>
                    <div class="user_message marginLeft10">
                    	<div class="cu_title">消息栏</div>
                        <div class="user_news_con" >
                        	<ul>
                            	<li  ng-repeat="m in my_list"><a href="#/msg?id={{m.id}}" target="_blank">[消息] {{m.title}}</a></li>
                            </ul>
                        </div>
                    </div> -->
                    
                    <div class="clear"></div>
                    <div class="content_hotPro">
                    	<h1>热卖商品</h1>
                        <ul>
                        	<li ng-repeat="p in pos_list ">
                            <img src="{{p.good_logo}}" />
                                <h2 title="{{p.title}}">{{p.title}}</h2>
                                <strong>{{p.retail_price/100 |currency : "￥"}}</strong>
                                 <a    ng-click="leitgo('#/shopinfo?goodId=',p.id)"     >查看详情</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
