<link href="style/register.css" rel="stylesheet" type="text/css" />
<div class="register_head">
	<div class="register_logo"><img src="images/logo.png" /></div>
    <div class="register_dh"><img src="images/dh.png" /></div>
</div>
<div class="register">
	<div class="res_h">
    	<ul>
        	<li><a href="#" class="hover">合作伙伴入驻申请</a></li>
        </ul>
    </div>
    <div class="res_b">
    	<div class="res_b_left">
            <div class="res_b_textWin">
            	<h2>合作伙伴申请提交成功</h2>
            	<p>华尔街金融平台欢迎您的加入</p>
                <p>我们的工作人员会在<span class="red">一个工作日</span>内与您联系</p>
                <p>请保持您的手机畅通</p>
                <a href="#" class="res_partner_btn_a">随便逛逛</a>
            </div>
        </div>
        <div class="res_b_right">
        	<div class="res_b_app">
            	<h2 class="partner_h">华尔街金融APP下载</h2>
                <div><img src="images/appDownLoad_img.png" /></div>
            </div>
        </div>
    </div>
</div>