<script type="text/javascript" src="js/controllers/myapp.controller.js"></script>
<div class="right" ng-controller="webInfoController">
       	<div class="breadcrumb">
               <ul>
                   <li><a href="#/myapp">我的掌富</a></li>
                   <li><a href="javascript:void(0)">公告详情</a></li>
               </ul>
           </div>
           <div class="content clear">
               <div class="message_con">
               	<div class="mail_article">
                   	<div class="mail_article_title">
                       	<h1>{{info.title}}</h1>
                       	<p>{{info.create_at}}</p>
                       </div>
                       <div class="mail_article_text">
                       	<p>{{info.content}}</p>
                       </div>
                   </div>
               </div>
       	</div>
   	</div>
</div>