<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.oldDataBase.OldDataBaseMapper">

	<select id="getPersons" resultType="hashmap">
        select userId,phoneNum,realName,status,password,idNumber from person
	</select>
	
	<select id="getZHUSERs" resultType="hashmap">
        select userId,status,company_name as companyName,reg_place as regPlace,bank_deposit as bankDeposit,
        name,account_no as accountNo,psam,serial_type as serialType,product_type as productType,union_bankno as bankNo from zh_user
	</select>
	
	<select id="getUserPsam1" resultType="hashmap">
        select userId from userpsam where psam=#{psam}
	</select>
	
	<select id="getHXPerson" resultType="hashmap">
		select userId,terminalId,merchantname,settle_account_type as accountType,settle_account as settleAccount,
		settle_accountno as settleAccountNo,accountstatus,taxno,occno from hx_person
	</select>
	
	
	<select id="getUserPsam" resultType="hashmap">
		select userid,pasm,status from userpsam
	</select>
	
	<select id="getShops" resultType="hashmap">
		select shopId,loginName,shopName,licence,city,county,address,post,cantact,idcard,
		mobilephone,phonenumber fid from shop
	</select>
	
	<select id="getShipMent" resultType="hashmap">
		select productId,Amount,ShopId from shipment
	</select>
	
	<select id="getZF300Rate" resultType="hashmap">
		select type,transtype,rate from zf300_rate
	</select>
	
	<select id="getShopHxRate" resultType="hashmap">
		select type,rate,shopId from shop_hx_rate
	</select>
	
	<select id="getHxOrder" resultType="hashmap">
		select * from hx_order
	</select>
	
	<select id="getHxPhoneorder" resultType="hashmap">
		select * from hx_phoneorder
	</select>
	
	<select id="getHxTransferorder" resultType="hashmap">
		select * from hx_transferorder
	</select>
	
	<select id="getPayForCreditCard" resultType="hashmap">
	select * from payForCreditCard
	</select>
	<select id="getTransfer" resultType="hashmap">
	select * from transfer
	</select>
	<select id="getFeePhone" resultType="hashmap">
	select * from feePhone
	</select>
	<select id="getZF300Order" resultType="hashmap">
	select * from zf300_order
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>