<div class="right" ng-controller="addressController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">系统设定</a></li>
			<li><a href="#">代理商资料</a></li>
			<li><a href="#">地址管理</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="myInfoNav">
			<ul>
				<li><a href="#/agentinform">基本信息</a></li>
				<li><a  class="hover">地址管理</a></li>
			</ul>
		</div>
		<div class="user_title">
			<h1>地址管理</h1>
		</div>
		<!-- <form name="addressForm" ng-submit="addressInsert()"> -->
		<div class="myInfoBox">
			<ul>
				<li><label><span class="red">*</span>所在地：</label><input
					ng-model="cityId" type="text" /></li>
				<li><label><span class="red">*</span>详细地址：</label> <textarea
						ng-model="address" cols="" rows=""></textarea></li>
				<li><label><span class="red">*</span>邮政编码：</label><input
					ng-model="zipCode" type="text" /></li>
				<li><label><span class="red">*</span>收货人姓名：</label><input
					ng-model="receiver" type="text" /></li>
				<li><label><span class="red">*</span>手机号码：</label><input
					ng-model="telphone" type="text" /></li>
				<li><label><span class="red">*</span>电话号码：</label><input
					ng-model="moblephone" type="text" /></li>
				<li><label><span class="red">*</span>设置为默认地址:：</label><span
					class="checkboxRadio_span">是<input ng-model="isDefault"
						type="radio" value="1" />&nbsp; &nbsp; 否<input
						ng-model="isDefault" type="radio" value="2" /></span></li>
			</ul>
			<div class="myInfoBox_btn">
				<button class="blueBtn" ng-click="insert()">保存</button>
			</div>
		</div>
		<!-- </form> -->
		<div class="myAddress">
			<table width="100%" border="0" cellspacing="0" cellpadding="0"
				class="b_table">
				<colgroup>
					<col width="30" />
					<col width="90" />
					<col width="240" />
					<col width="180" />
					<col width="80" />
					<col width="80" />
					<col width="80" />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>收货人</th>
						<th>所在地区</th>
						<th>详细地址</th>
						<th>邮编</th>
						<th>电话</th>
						<th>操作</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="one in list">
						 <td>{{one.address}}</td>
						<td><input type="radio" value="{{one.isDefault}}" ng-model="isDefault" 
						 ng-checked="one.isDefault==1"
						  /></td>
						<td>{{one.receiver}}</td>
						<td>{{one.city_id}}</td>
						<td>{{one.address}}</td>
						<td>{{one.zip_code}}</td>
						<td>{{one.moblephone}}</td>
						<td><a href="#" class="a_btn" ng-click="">修改</a><a
							href="javascript:void(0)" class="" ng-click="dele(one)">删除</a></td>
						<td> <a class="defaultAddr" ng-click="setisDefault(one)"
							 href="javascript:void(0);">默认地址</a></td>
					</tr>
					<tr class="addAddr_box">
						<td>&nbsp;</td>
						<td><input ng-model="receiver" type="text" value="收件人姓名" /></td>
						<td><select ng-model="radio" ng-model="selected"
							ng-options="s.name for s in city_list">
								<option>省</option>
								<option>江苏省</option>
						</select> <select style="width: 90px;" ng-model="city" ng-options="x.name for x in selected.childrens">
								<option>市</option>
								<option>南京市</option>
						</select> 
						</td>
						<td><input ng-model="address" type="text" value="详细地址" class="l" /></td>
						<td><input ng-model="zip_code" type="text" value="邮编" /></td>
						<td><input ng-model="moblephone"type="text" value="手机号码" /></td>
						<td><a href="javascript:insert()" class="a_btn">确定</a></td>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="addAddr_btn" ng-click="addadd=addressList(); >
				<button>使用新地址</button>
			</div>
		</div>

	</div>
</div>