<div class="right" ng-controller="addressController">
	<div class="content clear">
	       	 <div class="content_inner">
		<div class="myInfoNav">
			<ul>
				<li><a href="#/agentinform">基本信息</a></li>
				<li><a  class="hover">地址管理</a></li>
			</ul>
		</div>
		<div class="user_title">
			<h1>地址管理</h1>
		</div>
		<!-- <form name="addressForm" ng-submit="addressInsert()"> -->
		<div class="myInfoBox">
			<form name="addAddressForm" ng-submit="save()"  >
				<ul>
					<li><label><span class="red">*</span>所在地：</label>
						<select ng-model="selected" ng-options="s.name for s in city_list" ng-change="ch_city()" >
			              <option value="">{{selected.name}}</option>
			            </select>
					    <select ng-model="selected_city" ng-options="x.name for x in selected.childrens" ng-click="getcityname(selected.name)">
			               <option value="">{{selected_city.name}}</option>
			            </select>
					</li>
					<li><label><span class="red">*</span>详细地址：</label><textarea id="address" ng-model="address.address" cols="" rows=""  ></textarea></li>
					<li><label>&nbsp;邮政编码：</label><input id="zipCode" ng-model="address.zipCode" type="text" onblur="numModify(this)" /></li>
					<li><label><span class="red">*</span>收货人姓名：</label><input id="receiver" ng-model="address.receiver" type="text"  /></li>
					<li><label><span class="red">*</span>手机号码：</label><input id="moblephone" ng-model="address.moblephone" type="text"  onblur="numModify(this)" /></li>
					<li><label>&nbsp;电话号码：</label><input style="width: 78px;" id="telphone1" ng-model="address.telphone1" type="text" onblur="numModify(this)" placeholder="区号" />
						&nbsp;<label style="width:12px;text-align:center;">-</label><input style="width: 78px;" id="telphone2" ng-model="address.telphone2" type="text" onblur="numModify(this)" placeholder="电话号码" />
						&nbsp;<label style="width:12px;text-align:center;">-</label><input style="width: 78px;" id="telphone3" ng-model="address.telphone3" type="text" onblur="numModify(this)" placeholder="分机" />
						&nbsp;<font color="red"><span id="phoneCheck"></span></font></li>
					<li><label></label><span class="checkboxRadio_span"><input id="setDefault" name="defaultAddr" ng-model="address.isDefault" type="radio" value="1" ng-click="changeDefault()"/>设置为默认地址</span></li>
				</ul>
				<div class="myInfoBox_btn">
					<input type="submit" class="orangeBtn" value="保存">
				</div>
			</form>
		</div>
		<!-- </form> -->
		<div class="myAddress">
			<table width="100%" border="0" cellspacing="0" cellpadding="0"
				class="b_table">
				<colgroup>
					<col width="90" />
					<col width="240" />
					<col width="180" />
					<col width="80" />
					<col width="80" />
					<col width="120" />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th>收货人</th>
						<th>所在地区</th>
						<th>详细地址</th>
						<th>邮编</th>
						<th>电话</th>
						<th>操作</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="one in list" on-finish-table-filters>
						<td>{{one.receiver}}</td>
						<td>{{one.city}}</td>
						<td>{{one.address}}</td>
						<td>{{one.zipCode}}</td>
						<td>{{one.moblephone}}</td>
						<!-- <div ng-show="showtelphone">{{one.telphone}}</div> -->
						<td>
							<a href="javascript:void(0);" ng-click="openUpdateAddress(one)" class="a_btn">修改</a>
							<a href="javascript:void(0);" class="a_btn" ng-click="dele(one)">删除</a>
						</td>
						<td ng-if="one.isDefault == 1"><span class="defaultAddr">默认地址</span></td>
						<td ng-if="one.isDefault != 1"> 
							<a class="set_defaultAddr" ng-click="setDefaultAddress(one)" href="javascript:void(0);">默认地址</a>
						</td>
					</tr>
					
				</tbody>
			</table>
			<div class="addAddr_btn">
				<button ng-click="useNewAddr()">使用新地址</button>&nbsp;<font color="red"><span id="addCheck"></span></font>
			</div>
		</div>

	</div>
	</div>
</div>
<script type="text/javascript">
	function numModify(obj){
		  var reg = new RegExp("^[0-9]*\.[0-9]{0,1}$");
		  if (!reg.test(obj.value)) {
			 obj.value = "";
		  } 
	}
</script>
