<div class="right" ng-controller="modifypasswordController">
	<div class="tab" id="show_phone_input_my_o">
		<a href="javascript:void(0);" class="close"
			ng-click="close_show_two()">关闭</a>
		<div class="tabBody">
			<div class="modification">
				<p>我们向您原登记的手机发送了短信验证码，请输入您收到的验证码与需要更换的新手机号码。如原登记手机己无法收取短信，可通过拨打客服热线400-009-0876进行变更手机号码的操作</p>
				<ul>
					<li><input name="phone_code_i_o" type="text"
						ng-model="phone_code_i_o" placeholder="验证码" maxlength="6"
						title="请输入验证码" /><a href="javascript:void(0)"
						ng-click="send_code_one(2)" id="send_code_one"></a></li>
					<li><input name="i_phone_new" id="i_phone_new"
						ng-model="i_phone_new" placeholder="新手机号" type="text"
						maxlength="11" value="新手机号码" title="请输入新手机号" /></li>
				</ul>
			</div>
		</div>
		<div class="tabFoot">
			<button class="blueBtn" id="show_phone_input_btn"
				ng-click="yz_phone_code()">确定</button>
		</div>
	</div>

	<div class="tab" id="show_phone_input_my_t">
		<a href="javascript:void(0);" class="close"
			ng-click="close_show_two()">关闭</a>
		<div class="tabBody">
			<div class="modification">
				<p>我们已向您的新手机号码发送了短信验证码，请输入收到的验证码，完成最后一步操作。</p>
				<ul>
					<li><input name="i_phone_code" type="text"
						ng-model="i_phone_code" placeholder="验证码" maxlength="6" /><a
						href="javascript:void(0)" id="show_phone_input_my_o_btn"
						ng-click="sendPhoneCode()"> </a></li>
				</ul>
			</div>
		</div>
		<div class="tabFoot">
			<button class="blueBtn" id="show_phone_two"
				ng-click="change_phone_btn()">确定</button>
		</div>
	</div>
	<div class="tab" id="email_send_tab">
		<a href="javascript:void(0);" class="close" ng-click="colose_email()">关闭</a>
		<div class="tabBody">
			<div class="modification">
				<p>网站已向您的邮箱发送了邮件请查收，请根据邮件内容提示操作修改邮箱地址，如原邮箱地址己无法收取邮件，可通过拨打客服热线400-009-0876进行变更邮箱地址的操作。</p>
			</div>
		</div>
		<div class="tabFoot">
			<button class="blueBtn" ng-click="colose_email()">确定</button>
		</div>
	</div>
	<div class="breadcrumb">
		<ul>
			<li><a href="#/myinfobase">系统设定</a></li>
			<li><a href="#/agentinform">代理商资料</a></li>
			<li><a href="javascript:void(0);">基本信息</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="myInfoNav">
			<ul>
				<li><a href="#/agentinform" class="hover" >基本信息</a></li>
				<li><a href="#/address">地址管理</a></li>
			</ul>
		</div>
		<div class="user_title">
			<h1>编辑基本信息</h1>
		</div>
		<div class="myInfoBox" id="base_box">
			<ul>
				<li><label>负责人姓名：</label><input type="text" disabled="true"
					ng-model="one.name" /></li>
				<li ng-if="one.types == 1"><label>公司名称：</label><input
					type="text" ng-model="one.company_name" disabled="true" /></li>
				<li ng-if="one.types == 1"><label>公司营业执照登记号：</label><input
					name="" type="text" ng-model="one.business_license" disabled="true" /></li>
				<li><label>电话：</label><input type="text" ng-model="one.phone"
					disabled="disabled" /><a href="javascript:void(0)"
					id="show_phone_input_my_btn" ng-click="send_code_one(1)">修改手机号</a></li>
				<li><label>邮箱：</label><input type="text" ng-model="one.email" disabled="disabled" />
				<button id="email_send_btn" ng-click="up_email()">修改邮箱</button></li>
				<li><label>所在地：<input name="" type="text" ng-model="one.address" disabled="true" /></label>
					<div class="addr_area">
						<select name="" disabled="true"> 
							<option>{{one.provincename}}</option>
						</select> 
						<select name="" disabled="true"> 
							<option>{{one.cityname}}</option>
						</select>
					</div></li>
			</ul>
		</div>

		<div class="myInfoBox" id="upemail_box" style="display: none">
			<ul>
				<li><label>新邮箱：</label><input type="text"
					ng-model="customer.new_email" /></li>
			</ul>
			<div class="myInfoBox_btn">
				<button type="button" class="orangeBtn" ng-click="up_save()">修改邮箱</button>
			</div>
		</div>
	</div>
</div>

<div class="mask"></div>
<style>
#email_send_btn {
	width: 80px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	display: inline-block;
	background: #0071cf;
	color: #FFF;
	margin-left: 10px;
}
</style>
