<!-- <script type="text/javascript" src="/js/controllers/empInfo/empinfoController.js"></script> -->
<div class="right" ng-controller="empAddController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">系统设定</a></li>
			<li><a href="#/empaccount">员工帐号</a></li>
			<li><a href="#/empadd">创建</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="user_title">
			<h1>创建员工账号</h1>
		</div>
		<div class="myInfoBox clear">
			<ul>
				<li><label>姓名：</label><input type="text" ng-model="name"
					name="name" /></li>
				<li><label>登录ID：</label><input type="text" ng-model="username"
					name="username" /></li>
				<li><label>密码：</label><input type="password" name="password"
					ng-model="password" /></li>
				<li><label>确认密码：</label><input type="password"
					name="comfirmpassword" ng-model="comfirmpwd" /></li>
				<li><label>权限：</label>
					<div class="authority_con">
						<span class="checkboxRadio_span"><input name=""
							type="checkbox" value="" /> 批购</span> <span class="checkboxRadio_span"><input
							name="" type="checkbox" value="" /> 代购</span> <span
							class="checkboxRadio_span"><input name="" type="checkbox"
							value="" /> 终端管理/售后记录</span> <span class="checkboxRadio_span"><input
							name="" type="checkbox" value="" /> 交易流水/POS销售分润</span> <span
							class="checkboxRadio_span"><input name="" type="checkbox"
							value="" /> 管理下级代理商</span> <span class="checkboxRadio_span"><input
							name="" type="checkbox" value="" /> 管理用户</span> <span
							class="checkboxRadio_span"><input name="" type="checkbox"
							value="" /> 员工账号</span> <span class="checkboxRadio_span"><input
							name="" type="checkbox" value="" /> 代理商资料</span> <span
							class="checkboxRadio_span"><input name="" type="checkbox"
							value="" /> 库存</span>
					</div></li>
			</ul>
		</div>
		<div class="myInfoBox_btn">
			<button class="blueBtn" ng-click="add()" type="button">创建</button>
		</div>
	</div>
</div>
