<div class="right" ng-controller="emplistController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">系统设定</a></li>
			<li><a href="#">员工帐号</a></li>
		</ul>
	</div>
	<div class="content clear">

		<div class="user_title">
			<h1>员工帐号列表</h1>
			<div class="userTopBtnBox">
				<a href="#/empadd" class="ghostBtn">创建帐号</a>
			</div>
		</div>
		<div class="user_table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0"
				class="b_table">
				<colgroup>
					<col />
					<col />
					<col width="200" />
				</colgroup>
				<thead>
					<tr>
						<th>帐号ID</th>
						<th>姓名</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="one in accountList">
						<td>{{one.username}}</td>
						<td>{{one.name}}</td>
						<td><a href="#/empdetails?id={{one.customer_id}}"
							class="a_btn">查看详情</a><a href="#" class="a_btn">密码重置</a><a
							href="#/empdelete?id={{one.customer_id}}" class="a_btn">删除</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pageTurn">
			<div class="p_num">
				<a href="#" class="disabled">上一页</a> <a href="#" class="current">1</a>
				<a href="#?page=2">2</a> <a href="#?page=3">3</a> <a href="#?page=4">4</a>
				<a href="#?page=5">5</a> ... <a href="#?page=199">199</a> <a
					href="#?page=200">200</a> <a href="#?page=2">下一页</a>
			</div>
			<div class="p_skip">
				<span>共24页</span> <span>到第&nbsp;&nbsp;<input name=""
					type="text" />&nbsp;&nbsp;页
				</span>
				<button>确定</button>
			</div>
		</div>
	</div>
</div>


