<div class="right" ng-controller="modifypasswordController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">系统设定</a></li>
			<li><a href="#">修改密码</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="user_title">
			<h1>修改密码</h1>
		</div>
		<div class="myInfoBox clear">
			<ul>
				<li><label>原密码：</label><input ng-model="passwordOld"
					type="password" /></li>
				<li><label>新密码：</label><input ng-model="password"
					type="password" /></li>
				<li><label>确认新密码：</label><input ng-model="password2"
					type="password" /></li>
			</ul>
		</div>
		<div class="myInfoBox_btn">
			<button ng-click="info()" class="blueBtn">保存</button>
		</div>
	</div>
</div>

