
<div class="right">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">代购</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="user_title">
			<h1>代购订单列表</h1>
			<div class="userTopBtnBox">
				<a href="#/shop" class="ghostBtn">去代购</a>
			</div>
		</div>
		<div class="seenBox clear">
			<ul>
				<li><div class="user_search">
						<input name="" type="text" />
						<button></button>
					</div></li>
				<li><div class="user_select">
						<label>状态筛选</label> <select name="">
							<option>111</option>
							<option>222</option>
							<option>333</option>
						</select>
					</div></li>
			</ul>
		</div>
		<div class="uesr_table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
				<colgroup>
					<col />
					<col width="70" />
					<col width="60" />
					<col width="70" />
					<col width="130" />
					<col width="160" />
					<col width="180" />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th>商品</th>
						<th>单价</th>
						<th>数量</th>
						<th>金额</th>
						<th>代购用户</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="order_hd">
						<td colspan="7"><span>订单号 1265974136684</span><span>2014/12/12 14:22:23</span> <span>类型：代购订单</span></td>
					</tr>
					<tr>
						<td>
							<div class="td_proBox clear">
								<a href="#" class="cn_img"><img src="images/c.jpg" /></a>
								<div class="td_proBox_info">
									<h1>
										<a href="#">汉米SS3010收银机 触摸屏POS机收款机 超市餐饮服装点餐机奶茶店</a>
									</h1>
									<h3>热销5000件</h3>
									<ul>
										<li><span>品牌型号：</span>
										<div class="c_text">掌富ZF-300</div></li>
										<li><span>支付通道：</span>
										<div class="c_text">收账宝</div></li>
									</ul>
								</div>
							</div>
						</td>
						<td><strong>￥459.00</strong></td>
						<td>2</td>
						<td><strong>￥918.00</strong></td>
						<td>三峡格格</td>
						<td><strong class="strong_status">未付款</strong></td>
						<td><a href="#" class="a_btn">支付定金</a> <a href="#" class="a_btn">取消</a> <a href="#" class="a_btn">查看详情</a></td>
					</tr>
				</tbody>
				<tbody>
					<tr class="order_hd">
						<td colspan="7"><span>订单号 1265974136684</span><span>2014/12/12 14:22:23</span> <span>类型：代购订单</span></td>
					</tr>
					<tr>
						<td>
							<div class="td_proBox clear">
								<a href="#" class="cn_img"><img src="images/c.jpg" /></a>
								<div class="td_proBox_info">
									<h1>
										<a href="#">汉米SS3010收银机 触摸屏POS机收款机 超市餐饮服装点餐机奶茶店</a>
									</h1>
									<h3>热销5000件</h3>
									<ul>
										<li><span>品牌型号：</span>
										<div class="c_text">掌富ZF-300</div></li>
										<li><span>支付通道：</span>
										<div class="c_text">收账宝</div></li>
									</ul>
								</div>
							</div>
						</td>
						<td><strong>￥459.00</strong></td>
						<td>2</td>
						<td><strong>￥918.00</strong></td>
						<td>三峡格格</td>
						<td><strong class="strong_status">已付款</strong></td>
						<td><a href="#" class="a_btn">支付</a> <a href="#" class="a_btn">查看详情</a><a href="#" class="a_btn">取消</a></td>
					</tr>
				</tbody>
				

			</table>
		</div>
		<div class="pageTurn">
			<div class="p_num">
				<a href="#" class="disabled">上一页</a> <a href="#" class="current">1</a> <a href="#?page=2">2</a> <a href="#?page=3">3</a> <a href="#?page=4">4</a> <a href="#?page=5">5</a> ... <a href="#?page=199">199</a> <a href="#?page=200">200</a> <a href="#?page=2">下一页</a>
			</div>
			<div class="p_skip">
				<span>共24页</span> <span>到第&nbsp;&nbsp;<input name="" type="text" />&nbsp;&nbsp;页
				</span>
				<button>确定</button>
			</div>
		</div>
	</div>
</div>