<script type="text/javascript" src="js/controllers/orderinfo.controller.js"></script>
<div ng-controller="wholesaleOrderinfoController">
<div class="right" >
<div class="tab seeNumber_tab hide" id="od_ter_div">
	<a href="javascript:void(0);" class="close" ng-click="close_wlxx()">关闭</a>
	<div class="tabHead">查看终端号</div>
	<div class="tabBody">
		<div class="item_list">
        	<ul>
            	<li><span class="labelSpan">终端号：</span><div class="text" id="order_g_t_v"></div></li>
            </ul>
        </div>
	</div>
	<div class="tabFoot"><button class="orangeBtn" ng-click="close_wlxx()">确定</button></div>
</div>

	<div class="breadcrumb">
		<ul>
			<li><a href="#/wholesaleOrder">批购</a></li>
			<li><a href="javascript:void(0)">详情</a></li>
		</ul>
	</div>
	<div class="content clear" >
		<div class="user_title">
			<h1>订单详情</h1>
		</div>
		<div class="detail_panel">
			<div class="detailPanel_status" >
				<div class="payWarning"  ng-if="orderInfo.order_status==1   && orderInfo.pay_status!=2">
					<i class="no"></i>未付款
				</div>
				<div class="payWarning"  ng-if="orderInfo.order_status==1   && orderInfo.pay_status==2">
					<i class="no"></i>未付款
				</div>
				<div class="payWarning" ng-if="orderInfo.order_status==2">
					<i ></i>已付款
				</div>
				<div class="payWarning" ng-if="orderInfo.order_status==3">
					<i ></i>已发货
				</div>
				<div class="payWarning" ng-if="orderInfo.order_status==4">
					<i ></i>已评价
				</div>
				<div class="payWarning" ng-if="orderInfo.order_status==5">
					<i ></i>已取消
				</div>
				<div class="payWarning" ng-if="orderInfo.order_status==6">
					<i ></i>交易关闭
				</div>
				<input type="hidden" value="{{orderInfo.shengyu_price/100}}"  id="shenyu_price">
				<div class="dp_status_btn"  ng-if="orderInfo.order_status==1 && orderInfo.pay_status==2">
					<a href="javascript:void(0);" ng-click="showPay(orderInfo.order_id)" class="orangeBtn">付款</a>
				</div>
				<div class="dp_status_btn"  ng-if="orderInfo.order_status==1 && orderInfo.pay_status!=2">
					<a href="javascript:void(0);" ng-click="depositpay(orderInfo)" class="orangeBtn">支付定金</a>
				</div>
			</div>
			
			<div class="detailPanel_info detailDl">
				<dl>
					<dt>收货地址：</dt>
					<dd>{{orderInfo.order_address}} {{orderInfo.order_receiver}}</dd>
				</dl>
				<dl ng-if="orderInfo.need_invoice ==1">
					<dt>发票类型：</dt>
					<dd>{{orderInfo.order_invoce_type}}</dd>
					<dt>发票抬头：</dt>
					<dd>{{orderInfo.order_invoce_info}}</dd>
				</dl>
				<dl class="leaveWord">
					<dt>留言：</dt>
					<dd>{{orderInfo.order_comment}}</dd>
				</dl>
				<dl>
					<dt>订单类型：</dt>
						<dd  >代理商批购 </dd> 
					<dt>订单编号：</dt>
					<dd>{{orderInfo.order_number}}</dd>
				</dl>
				<dl>
					<dt>购买日期：</dt>
					<dd>{{orderInfo.order_createTime}}</dd>
				</dl>
				<dl>
					<dt>支付类型：</dt>
					<dd  ng-if="orderInfo.order_payment_type==1">支付宝</dd>
					<dd  ng-if="orderInfo.order_payment_type==2">银联</dd>
					<dd  ng-if="orderInfo.order_payment_type==3">现金</dd>
				</dl>
				<dl>
					<dt>供货商：</dt>
					<dd>{{orderInfo.good_merchant}}</dd>
				</dl>
				<dl>
					<dt>订单原金额：</dt>
					<dd class="line_through">{{orderInfo.order_oldPrice/100 |currency : "￥"}}</dd>
					<dt>订单金额：</dt>
					<dd>
						<strong>{{orderInfo.order_totalPrice/100 |currency : "￥"}}</strong>
					</dd>
				</dl>
				<dl>
					<dt>定金金额：</dt>
					<dd class="line_through">{{orderInfo.total_dingjin/100 |currency : "￥"}}</dd>
					<dt>已付金额：</dt>
					<dd>
						<strong>{{orderInfo.haspayed_price/100 |currency : "￥"}}</strong>
					</dd>
				</dl>
			</div>
		</div>
		<div class="uesr_table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
				<colgroup>
					<col width="300" />
					<col />
					<col />
					<col />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th>商品</th>
						<th>单价</th>
						<th>数量</th>
						<th>总金额</th>
						<th>已发货数量</th>
					</tr>
				</thead>
				<tbody ng-if="orderInfo.order_goods_size>1">
					<tr ng-repeat="g in  orderInfo.order_goodsList ">
						<td>
							<div class="td_proBox clear">
								<a href="#/shopinfo?goodId={{g.good_id}}" class="cn_img"><img width="130px" height="130px" src="{{g.good_logo}}" /></a>
								<div class="td_proBox_info">
									<h1>
										<a href="#/shopinfo?goodId={{g.good_id}}">{{g.good_name}}</a>
									</h1>
									<h3>热销{{g.good_volume_number}}件</h3>
									<ul>
										<li><span>品牌型号：</span>
											<div class="c_text">{{g.good_brand}}</div></li>
										<li><span>支付通道：</span>
											<div class="c_text">{{g.good_channel}}</div></li>
									</ul>
								</div>
							</div>
						</td>
						<td><strong>{{g.good_batch_price/100 |currency : "￥"}} </strong><p class="original">零售价：{{g.good_price/100 |currency : "￥"}} </p></td>
						<td ng-if="$index==0" rowspan="{{orderInfo.order_goods_size}}" class="left_border">{{orderInfo.total_quantity}}</td>
						<td ng-if="$index==0" rowspan="{{orderInfo.order_goods_size}}"  ><strong>{{orderInfo.order_totalPrice/100 |currency : "￥"}} </strong></td>
						<td ng-if="$index==0" rowspan="{{orderInfo.order_goods_size}}"> {{orderInfo.shipped_quantity}} </td>
					</tr>
				</tbody>
				<tbody ng-if="orderInfo.order_goods_size==1">
					<tr ng-repeat="g in  orderInfo.order_goodsList ">
						<td>
							<div class="td_proBox clear">
								<a href="#/shopinfo?goodId={{g.good_id}}" class="cn_img"><img width="130px" height="130px" src="{{g.good_logo}}" /></a>
								<div class="td_proBox_info">
									<h1>
										<a href="#/shopinfo?goodId={{g.good_id}}">{{g.good_name}}</a>
									</h1>
									<h3>热销{{g.good_volume_number}}件</h3>
									<ul>
										<li><span>品牌型号：</span>
											<div class="c_text">{{g.good_brand}}</div></li>
										<li><span>支付通道：</span>
											<div class="c_text">{{g.good_channel}}</div></li>
									</ul>
								</div>
							</div>
						</td>
						<td><strong>{{g.good_batch_price/100 |currency : "￥"}} </strong><p class="original">零售价：{{g.good_price/100 |currency : "￥"}} </p></td>
						<td>{{orderInfo.total_quantity}}</td>
						<td  ><strong>{{orderInfo.order_totalPrice/100 |currency : "￥"}} </strong></td>
						<td  > {{orderInfo.shipped_quantity}} </td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="user_record">
			<h2>追踪记录</h2>
			<div class="ur_item" ng-repeat="c in  orderInfo.comments.content ">
				<div class="ur_item_text" >{{c.marks_content}}</div>
				<div class="ur_item_name">
					{{c.marks_person}}  <em>{{c.marks_time}}</em>
				</div>
			</div>
		
		</div>

	</div>

</div>

	<div class="mask"></div>
	   <div class="tab pay_tab">
    	<a href="javascript:void(0);" class="close" ng-click="close()">关闭</a>
    	<div class="tabHead">支付</div>
        <div class="tabBody">
    	<div class="item_list">
        	<ul>
            	<li><span class="labelSpan">支付金额：</span>
                	<div class="text"><input name="" type="text" placeholder="元"   id="pay_price" /><span id="zf_yz" style="display: none">金额不正确</span></div>
                </li>
            </ul>
        </div>
    </div>
    <input type="hidden" name="o_id" id="o_id" value=""> 
    <input type="hidden" name="o_index" id="o_index" value=""> 
    <div class="tabFoot"><button class="blueBtn"  ng-click="orderpay()" >确定</button></div>
    </div>
    
</div>