<link href="style/style.css" rel="stylesheet" type="text/css" />
<div class="right" ng-controller="agentBinTerminalController">
      <div class="content clear">
                  <div class="content_inner">
                    <div class="user_title">
                    	<h1>为用户绑定终端</h1>
                    </div>
                <div class="searchUser">
            	<div class="su_title">
                	<ul>
                    	<li ng-class="{true:'hover'}[butshow == true]" ng-click="butshow = true;userId = -1">搜索现有用户</li>
                        <li ng-class="{true:'hover'}[butshow == false]" ng-click="butshow = false;userId = -1">创建新用户</li>
                    </ul>
                </div>
                <div class="su_con">
                	<div ng-show="butshow">
                    	<div class="su_search">
                        	<input name="" type="text" ng-model="agentToUserName"/><button ng-click="searchUser()">搜索</button>
                        </div>
                        <div class="su_s_box">
                        	 <a href="javascript:void(0)" ng-repeat="user in agentToUsers" ng-click="checkUserId(user.id)" ng-class="{true:'hover'}[userId == user.id]" ng-if="user.username !=null">{{user.username}}</a>
                        </div>
                    </div>
                    <div ng-show="!butshow">
                      <div class="suc_selectInput">
                      	<ul>
                            <li><label>所在地：</label>
                            <select name="" ng-model="citys" ng-options="binc.name for binc in cityList">
                        	  <option value="">省</option>
                       	  </select>
                          <select name="" ng-model="binobject.address" ng-options="adss.name for adss in citys.childrens">
                        	  <option value="">市/地区</option>
                       	  </select>
                       	  </li>
                         </ul>
                         <ul>
                        	<li><label>手机号/邮箱：</label><input name="" type="text" value="" ng-model="binobject.username"/></li>
                            <li><label>用户姓名(可选)：</label><input name="" type="text" value="" ng-model="binobject.name"/></li>
                         </ul>
                         <ul>
                            <li><label>密码：</label><input name="" type=password value="" ng-model="binobject.pass1"/></li>
                            <li><label>确认密码：</label><input name="" type="password" value="" ng-model="binobject.pass2"/></li>
                         </ul>
                         <div><button ng-click="establish()">创建</button></div>
                      </div>
                      <div class="su_s_box" ng-show="addShow">
                        	<a href="javascript:void(0)"  ng-repeat="obj in objectarray" ng-click="checkUserId(obj.adid)" ng-class="{true:'hover'}[userId == obj.adid]">{{obj.adname}}</a>
                        </div>
                    </div>
                </div>
            </div>
                        <div class="item_list clear">
                            <ul>
                            	<li><span class="labelSpan">指定终端号：</span>
                            		<div class="text"><input name="" type="text" ng-model="terminalsNum"/></div>
                                </li>
                            </ul>
                        </div>
                    <div class="btnBottom"><button class="blueBtn" ng-click="BindingTerminals()">绑定</button></div>
            	</div>
                </div>      	
</div>