<script type="text/javascript" src="js/dateSelector.js"></script>
<div class="right" ng-controller="terminalOpenController">
            	<div class="breadcrumb">
                    <ul>
                        <li><a href="#">管理终端</a></li>
                        <li><a href="#">开通申请</a></li>
                    </ul>
                </div>
                <div class="content clear">
                    <div class="user_title">
                    	<h1>开通申请</h1>
                    </div>
                    <div class="attributes_box">
                    	<h2>终端信息</h2>
                        <div class="attributes_list_s clear">
                            <ul>
                                <li>品牌型号：掌富ZF300</li>
                                <li>支付通道：收账宝</li>
                                <li>终端号：AC12698547</li>
                            </ul>
                        </div> 
                    </div>
                    <div class="attributes_box">
                    	<div class="ab_h"><a href="#" class="toPublic hover">对公</a><a href="#" class="toPrivate">对私</a></div>
                        <div class="ab_b">
                        	<dl>
                            	<dt>已有商户：</dt>
                                <dd><a href="#" class="hover">商户001</a><a href="#">商户002</a><a href="#">商户003</a><a href="#">商户004</a></dd>
                            </dl>
                            <dl>
                            	<dt>商户名称：</dt>
                                <dd><input name="" type="text" /></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="attributes_box">
                    	<h2>基本开通<em>消费限额5000元</em></h2>
                        <div class="item_list clear">
                            <ul>
                                <li><span class="labelSpan">姓名：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">性别：</span>
                                	<div class="text">
                                    	<span class="checkboxRadio_span"><input name="" type="radio" value="" /> 男</span>
                                        <span class="checkboxRadio_span"><input name="" type="radio" value="" /> 女</span>
                                    </div>
                                </li>
                                <li><span class="labelSpan">生日：</span>
                                	<div class="text">
                                    <select name="">
                                	  <option>111</option>
                                	</select>
                                    <select name="">
                                	  <option>222</option>
                                	</select>
                                    <select name="">
                                	  <option>333</option>
                                	</select>
                                    </div>
                                </li>
                                <li><span class="labelSpan">身份证：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li class="overflow"><span class="labelSpan">结算银行名称：</span>
                                	<div class="text"><input name="" type="text" /></div>
                                    <div class="suggest">
                                    	<a href="#">支付通道01</a>
                                        <a href="#">支付通道02</a>
                                        <a href="#">支付通道03</a>
                                    </div>
                                </li>
                                <li><span class="labelSpan">结算银行代码：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">结算银行账户：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">税务机构号：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">组织机构号：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">组织机构号：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">支付通道：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">结算银行：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">结算银行：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li class="clear"><span class="labelSpan">营业执照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">组织机构照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">对公银行卡照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">税务登记照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">对私银行卡照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">法人身份证正面照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">法人身份证正面照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">个人半身照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">个人签名照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">其他照片：</span>
                                	<div class="text"><a href="javascript:void(0);" class="informImg_a">
                                        <span>重新上传</span><input name="" multiple type="file">
                                    </a></div></li>
                            </ul>
                            <div class="img_info"><img src="images/ewm.jpg" /></div>
                        </div>
                    </div>
                    
                    <div class="attributes_box">
                    	<h2>完全开通<em>消费无限额</em></h2>
                        <div class="item_list clear">
                            <ul>
                                <li><span class="labelSpan">姓名：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">性别：</span>
                                	<div class="text">
                                    	<span class="checkboxRadio_span"><input name="" type="radio" value="" /> 男</span>
                                        <span class="checkboxRadio_span"><input name="" type="radio" value="" /> 女</span>
                                    </div>
                                </li>
                                <li><span class="labelSpan">生日：</span>
                                	<div class="text">
                                    <select name="">
                                	  <option>111</option>
                                	</select>
                                    <select name="">
                                	  <option>222</option>
                                	</select>
                                    <select name="">
                                	  <option>333</option>
                                	</select>
                                    </div>
                                </li>
                                <li><span class="labelSpan">身份证：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">结算银行名称：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">结算银行代码：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">结算银行账户：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">税务机构号：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">组织机构号：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">组织机构号：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">支付通道：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">结算银行：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li><span class="labelSpan">结算银行：</span>
                                	<div class="text"><input name="" type="text" /></div></li>
                                <li class="clear"><span class="labelSpan">营业执照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">组织机构照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">对公银行卡照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">税务登记照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">对私银行卡照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">法人身份证正面照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">法人身份证正面照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">个人半身照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">个人签名照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">其他照片：</span>
                                	<div class="text">
                                    <img src="images/zp.jpg" class="cover" />
                                    <a href="javascript:void(0);" class="informImg_a">
                                        <span>重新上传</span><input name="" multiple type="file">
                                    </a></div></li>
                            </ul>
                            <div class="img_info"><img src="images/c.jpg" /></div>
                        </div>
                        <div class="btnBottom"><button class="orangeBtn">保存</button></div>
                    </div>
                    
            	</div>
            </div>