<div class="right" ng-controller="terminalDetailController">
        <div class="content clear">
                  <div class="content_inner">
					 <div class="user_title"><h1>终端详情</h1></div>
                     <div class="seenBox clear">
                         <div class="userTopBtnBox" ng-if="applyDetails.status == 3">
                        	<!-- <a href="javascript:void(0)" ng-click="judgeUpdate()" class="ghostBtn">更新资料</a> -->
                        	<a href="javascript:void(0)" class="ghostBtn" ng-click="findPassword('.posPassword_tab')">找回POS密码</a>
                     	 </div>
                     	 <div class="userTopBtnBox" ng-if="applyDetails.status != 3 && applyDetails.status != 4">
                     		<a href="javascript:void(0)" ng-click="judgeRentalReturn()" class="ghostBtn">注销</a>
                        	<a href="javascript:void(0)" ng-click="sync()" class="ghostBtn">同步终端状态</a>
                        	<a href="javascript:void(0)" ng-click="judgeUpdate()" class="ghostBtn">更新资料</a>
                        	<a href="javascript:void(0)" class="ghostBtn" ng-click="findPassword('.posPassword_tab')">找回POS密码</a>
                     	 </div>
                     	 <div class="userTopBtnBox" ng-if="applyDetails.status == 4">
                        	<a href="javascript:void(0)" ng-click="sync()" class="ghostBtn">同步终端状态</a>
                     	 </div>
                    </div>
                     <div class="attributes_box">
                        <h2>终端信息</h2>
                    	<div class="attributes_list_s clear">
                            <ul>
                                <li>终端号：<span class="orangeText">{{applyDetails.serial_num}}</span></li>
                                <li>用户名：{{applyDetails.userName}}</li>
                                <li>手机：{{applyDetails.userPhone}}</li>
                                <li>Email：{{applyDetails.userEmail}}</li>
                                <li>所属代理商：{{applyDetails.companyName}}</li>
                                <li>
                                <span ng-if="applyDetails.status == 2">终端状态： 部分开通</span> 
                            	<span ng-if="applyDetails.status == 1">终端状态： 已开通</span>
                            	<span ng-if="applyDetails.status == 3">终端状态： 未开通</span>
                            	<span ng-if="applyDetails.status == 4">终端状态： 已注销</span>
                            	<span ng-if="applyDetails.status == 5">终端状态： 已停用</span>
                               	</li>
                                <li>
                                <span ng-if="applyDetails.applieStatus == 1">开通申请状态： 待初次预审</span> 
                                <span ng-if="applyDetails.applieStatus == 2">开通申请状态： 待初预审不通过</span>
                                <span ng-if="applyDetails.applieStatus == 3">开通申请状态： 二次预审中</span>
                                <span ng-if="applyDetails.applieStatus == 4">开通申请状态： 二次预审不通过</span>
                                <span ng-if="applyDetails.applieStatus == 5">开通申请状态： 待审核</span>
                                <span ng-if="applyDetails.applieStatus == 6">开通申请状态： 审核中</span>
                                <span ng-if="applyDetails.applieStatus == 7">开通申请状态： 审核失败</span>
                                <span ng-if="applyDetails.applieStatus == 8">开通申请状态： 处理完成</span>
                                <span ng-if="applyDetails.applieStatus == 9">开通申请状态： 已取消</span>
								</li>
                                <li>POS产品：{{applyDetails.brandName + applyDetails.model_number}}</li>
                                <li>支付通道：{{applyDetails.channelName}}</li>
                                <li>订单号：{{applyDetails.order_number}}</li>
                                <li>订购时间：{{applyDetails.createdAt}}</li>
                            </ul>
                        </div> 
                    </div>
                     <div class="attributes_table">
                            <table width="100%" border="0" cellspacing="1" cellpadding="0">
                            <colgroup>
                            	<col width="25%" />
                                <col width="25%" />
                                <col width="50%" />
                             </colgroup>
                              <thead>
                              <tr>
                                <th>交易类型</th>
                                <th>费率</th>
                                <th>状态</th>
                              </tr>
                              </thead>
                              <tr ng-repeat="rates in rateList">
                                <td>{{rates.trade_value}}</td>
                                <td>
                                 <span ng-if="rates.trade_value == '消费'">{{(rates.service_rate+rates.base_rate/10 |number:1)}}‰</span>
                                 <span ng-if="rates.trade_value != '消费'">{{rates.terminal_rate/10 |number:1}}‰</span>
                                </td>
                                <td>
                                <span ng-if="rates.status == 1">已开通</span>
                                <span ng-if="rates.status == 2">未开通</span>
                                </td>
                              </tr>
                            </table>
                        </div>
                     <div class="attributes_box" ng-if="applyDetails.types == 2 || applyDetails.types == 4">
                    	<h2>租赁信息</h2>
                        <div class="attributes_list_s clear">
                            <ul>
                                <li>租赁日期：{{tenancy.created_at}}</li>
                                <li>最短租赁时间：{{tenancy.lease_time}}个月</li>
                                <li>最长租赁时间：{{tenancy.return_time}}个月</li>
                                <li>租赁押金：<strong>{{tenancy.lease_deposit/100 | number:2 | currency:'￥'}}</strong></li>
                                <li>租赁时长：<strong>{{tenancy.createdDay}}天</strong></li>
                                <li ng-if="(tenancy.createdDay/30 | number:0)<tenancy.lease_time">租金：<strong>￥{{tenancy.lease_price/100*tenancy.lease_time | number:2}}</strong></li>
                                <li ng-if="(tenancy.createdDay/30 | number:0)>tenancy.lease_time">租金：
                                <strong ng-if="(tenancy.createdDay/30)>(tenancy.createdDay/30 | number:0 )">￥{{tenancy.lease_price/100*(tenancy.createdDay/30+1 | number:0) | number:2}}</strong>
                                <strong ng-if="(tenancy.createdDay/30)==(tenancy.createdDay/30 | number:0 )">￥{{tenancy.lease_price/100*(tenancy.createdDay/30 | number:0) | number:2}}</strong>
                                </li>
                                <li>租赁说明：<a href="javascript:void(0)" class="a_btn leaseExplain_a" ng-click="showPay('.leaseExplain_tab')">点击查看</a></li>
                            </ul>
                        </div> 
                    </div>
                     <div class="attributes_box" ng-if="terminalShow">
                    	<h2>开通详情<a ng-click="updownfile(applyDetails.id)" href="javascript:void(0)" class="a_btn">下载开通资料</a></h2>
                        <div class="attributes_list_s clear">
                            <ul>
                                <li ng-if="openingInfos.types == 1">开通方向：对公</li>
                                <li ng-if="openingInfos.types == 2">开通方向：对私</li>
                                <li>绑定商户：{{openingInfos.merchant_name}}</li>
                                <li>商家电话：{{openingInfos.phone}}</li>
                                <li>身份证：{{openingInfos.card_id}}</li>
                            </ul>
                             <ul>
                                <li>姓名：{{openingInfos.name}}</li>
                                <li ng-if="openingInfos.sex == 1">性别：男</li>
                                <li ng-if="openingInfos.sex == 0">性别：女</li>
                                <li>生日：{{openingInfos.birthday}}</li>
                                <li>结算银行名称：{{openingInfos.account_bank_name}}</li>
                            </ul>
                            <ul>
                                <li>结算银行代码：{{openingInfos.account_bank_code}}</li>
                                <li>结算银行账户：{{openingInfos.account_bank_num}}</li>
                                <li ng-if="openingInfos.types == 1">税务机构号：{{openingInfos.tax_registered_no}}</li>
                                <li ng-if="openingInfos.types == 1">组织机构号：{{openingInfos.organization_code_no}}</li>
                            </ul>
                        </div>
                        <div class="item_list clear">
                            <ul>
                                <li ng-repeat="opening in openingDetails " ng-if="opening.types != 2">
                                <span class="labelSpan">{{opening.key}}：</span>
                                <div class="text">{{opening.value}}</div>
                                </li>
                                <li ng-repeat="opening in openingDetails " ng-if="opening.types == 2">
                                <span class="labelSpan" >{{opening.key}}：</span>
                                <div class="text">
                                <img src="images/zp.jpg" class="cover" path="{{opening.value}}" ng-mouseenter="onmousover()"/>
                                </div>
                                </li>
                            </ul>
                            <div class="img_info">
								<img  />
							</div>
                        </div> 
                    </div>

					<!-- 
                     <div class="user_record" ng-if="trackRecord == NULL">
                    	<h2>追踪记录</h2>
                        <div class="ur_item" ng-repeat="track in trackRecord">
                        	<div class="ur_item_text">{{track.content}}</div>
                            <div class="ur_item_name">{{track.name}} <em>{{track.created_at}}</em></div>
                        </div>
                    </div>
                     -->
                </div>
                </div>    	
</div>
<div ng-controller="terminalDetailController">
	<div class="mask"></div>
	<div id="pass" class="tab posPassword_tab">
		<a href="javascript:void(0);" class="close"
			ng-click="closeDocument('pass')">关闭</a>
		<div class="tabHead">找回POS机密码</div>
		<div class="tabBody">
			<div class="item_list">
				<ul>
					<li><span class="labelSpan">POS机密码：</span>
					<div id="passdiv" class="text">{{pass}}</div></li>
				</ul>
			</div>
		</div>
		<div class="tabFoot">
			<button class="orangeBtn" ng-click="closeDocument('pass')">确定</button>
		</div>
	</div>
<div class="tab leaseExplain_tab">
	<a href="javascript:void(0);" class="close" ng-click="close('.leaseExplain_tab')">关闭</a>
	<div class="tabHead">租赁说明</div>
	<div class="tabBody">
    	<div class="leaseExplain_con">
        	<textarea readonly="readonly" name="" cols="" rows="">
        	{{tenancy.lease_description}}
        </textarea>
        </div>
	</div>
</div>
</div>