<div class="right" ng-controller="terminalDetailController">
            	<div class="breadcrumb">
                    <ul>
                        <li><a href="#">管理终端</a></li>
                        <li><a href="#">终端详情</a></li>
                    </ul>
                </div>
                <div class="content clear">
					 <div class="user_title"><h1>终端详情</h1>
                     <div class="userTopBtnBox">
                     	<a href="#" class="ghostBtn">注销</a>
                        <a href="#" class="ghostBtn">同步</a>
                        <a href="#" class="ghostBtn">更新资料</a>
                        <a href="#" class="ghostBtn">找回POS密码</a>
                     </div>
                     </div>
                     <div class="attributes_box">
                        <h2>终端信息</h2>
                    	<div class="attributes_list_s clear">
                            <ul>
                                <li>终端号：<span class="orangeText">af154694513218461</span></li>
                                <li>用户名：王小小</li>
                                <li>手机：13285169877</li>
                                <li>Email：123@163.com</li>
                                <li>所属代理商：华润</li>
                                <li>终端状态：已开通</li>
                                <li>开通申请状态：处理完成</li>
                                <li>POS产品：掌富 ZF300</li>
                                <li>支付通道：收账宝</li>
                                <li>订单号：1827263739</li>
                                <li>订购时间：2012/12/12  20:20:20</li>
                            </ul>
                        </div> 
                    </div>
                     <div class="attributes_table">
                            <table width="100%" border="0" cellspacing="1" cellpadding="0">
                            <colgroup>
                            	<col width="25%" />
                                <col width="25%" />
                                <col width="50%" />
                             </colgroup>
                              <thead>
                              <tr>
                                <th>交易类型</th>
                                <th>费率</th>
                                <th>状态</th>
                              </tr>
                              </thead>
                              <tr>
                                <td>刷卡消费（T+1）</td>
                                <td>0.1%</td>
                                <td>已开通</td>
                              </tr>
                              <tr>
                                <td>刷卡消费（T+1）</td>
                                <td>0.1%</td>
                                <td>已开通</td>
                              </tr>
                              <tr>
                                <td>刷卡消费（T+1）</td>
                                <td>0.1%</td>
                                <td>已开通</td>
                              </tr>
                            </table>
                        </div>
                     <div class="attributes_box">
                    	<h2>租赁信息</h2>
                        <div class="attributes_list_s clear">
                            <ul>
                                <li>租赁日期：2015/1/6</li>
                                <li>最短租赁时间：12个月</li>
                                <li>最长租赁时间：12个月</li>
                                <li>租赁押金：<strong>￥200.00</strong></li>
                                <li>租金：<strong>￥200.00</strong></li>
                                <li>租赁说明：<a href="#" class="a_btn leaseExplain_a">点击查看</a></li>
                            </ul>
                        </div> 
                    </div>
                     <div class="attributes_box">
                    	<h2>开通详情<a href="#" class="a_btn">下载开通资料</a></h2>
                        <div class="attributes_list_s clear">
                            <ul>
                                <li>开通方向：对公</li>
                                <li>绑定商户：三峡格格</li>
                                <li>商家电话：0512-86523699</li>
                                <li>身份证：32198745633215563</li>
                            </ul>
                        </div>
                        <div class="item_list clear">
                            <ul>
                                <li><span class="labelSpan">营业执照：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">组织机构照片：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">税务登记照片：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">对私银行卡照片：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">法人身份证正面照片：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">法人身份证反面照片：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">个人上半身照片：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                                <li><span class="labelSpan">个人签名照片：</span>
                                	<div class="text"><img src="images/zp.jpg" class="cover" /></div></li>
                            </ul>
                            <div class="img_info"><img src="images/mt_big.jpg" /></div>
                        </div> 
                    </div>

                     <div class="user_record">
                    	<h2>追踪记录</h2>
                        <div class="ur_item">
                        	<div class="ur_item_text">nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</div>
                            <div class="ur_item_name">备注人 <em>2014/12/24 20:12:00</em></div>
                        </div>
                        <div class="ur_item">
                        	<div class="ur_item_text">nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</div>
                            <div class="ur_item_name">备注人 <em>2014/12/24 20:12:00</em></div>
                        </div>
                    </div>
                </div>
            </div>