<div class="right" ng-controller="terminalCancellationController">
            	<div class="breadcrumb">
                    <ul>
                        <li><a href="#">管理终端</a></li>
                        <li><a href="#">注销申请</a></li>
                    </ul>
                </div>
                <div class="content clear">
                    <div class="user_title">
                    	<h1>注销申请</h1>
                    </div>
                    <div class="attributes_box">
                    	<h2>终端信息</h2>
                        <div class="attributes_list clear">
                            <ul>
                                <li>POS机名称：汉米SS3010收银机 触摸屏POS机收款机 超市餐饮服装  点餐机奶茶店 </li>
                                <li>品牌型号：掌富ZF300</li>
                                <li>支付通道：收账宝</li>
                                <li>终端号：AC12698547</li>
                                <li>商户名称：三峡格格</li>
                                <li>商户电话：0512-86239777</li>
                            </ul>
                        </div> 
                    </div>
                    <div class="attributes_box">
                    	<h2>更新申请资料</h2>
                        <div class="applyFor_list clear">
                           <div class="af_con">
                            	<div class="af_con_n">1.注销申请资料01 <a href="#" class="a_btn">下载模版</a></div>
                                <div class="af_con_b"><i class="on"></i>
                                	<a href="javascript:void(0);" class="informImg_a">
                                        <span>重新上传</span><input name="" multiple type="file">
                                    </a>
                                </div>
                           </div>
                           <div class="af_con">
                            	<div class="af_con_n">2.注销申请资料02 <a href="#" class="a_btn">下载模版</a></div>
                                <div class="af_con_b"><i></i>
                                	<a href="javascript:void(0);" class="informImg_a">
                                        <span>上传</span><input name="" multiple type="file">
                                    </a>
                                </div>
                           </div>
                        </div>
                        
                    </div>
                    <div class="btnBottom"><button class="blueBtn">提交申请</button></div>
            	</div>
            </div>