<link href="style/style.css" rel="stylesheet" type="text/css" />
<div class="right" ng-controller="agentServiceTerminalController">
            	<div class="breadcrumb">
                    <ul>
                        <li><a href="#">管理终端</a></li>
                        <li><a href="#">申请售后</a></li>
                    </ul>
                </div>
                <div class="content clear">
                    <div class="user_title">
                    	<h1>申请代理商售后</h1>
                    </div>
                    <div class="attributes_box">
                        <div class="item_list clear">
                            <ul>
                               
                                <li class="block"><span class="labelSpan">填写终端号：</span>
                                	<div class="text"><textarea placeholder="多个终端请用逗号分隔..." name="" cols="" rows="" ng-model="serviceObject.terminalsList"></textarea></div>
                                </li> 
                                <li class="block"><span class="labelSpan">售后原因：</span>
                                	<div class="text"><textarea name="" cols="" rows="" ng-model="serviceObject.reason"></textarea></div>
                                </li>
                            </ul>
                        </div> 
                        
                    </div>
                    <div class="myAddress">
                    	<h3>确认收货地址</h3>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
                                 <colgroup>
                                    <col width="30" />
                                    <col width="90" />
                                    <col width="240" />
                                    <col width="180" />
                                    <col width="80" />
                                    <col width="80" />
                                    <col />
                                  </colgroup>
                                 <thead>
                                  <tr>
                                    <th>&nbsp;</th>
                                    <th>收货人</th>
                                    <th>所在地区</th>
                                    <th>详细地址</th>
                                    <th>邮编</th>
                                    <th>电话</th>
                                    <th>&nbsp;</th>
                                  </tr>
                                  </thead>
                                  <tr  ng-repeat="addre in addressList">
                                    <td>
                                    <input ng-if="addre.isDefault == 1" checked name="radio" type="radio" value="" ng-click="radioId($index)" />
                                    <input ng-if="addre.isDefault != 1" name="radio" type="radio" value="" ng-click="radioId($index)" />
                                    </td>
                                    <td>{{addre.receiver}}</td>
                                    <td>{{addre.parentName+addre.sonName}}</td>
                                    <td>{{addre.address}}</td>
                                    <td>{{addre.zipCode}}</td>
                                    <td>{{addre.moblephone}}</td>
                                    <td><span class="defaultAddr" ng-if="addre.isDefault == 1">默认地址</span></td>
                                  </tr>
                                  <tr class="addAddr_box" ng-show="butshow">
                                    <td>&nbsp;</td>
                                    <td><input name="" type="text" ng-model="addressObject.receiver" placeholder="收件人姓名" value="收件人姓名" /></td>
                                    <td>
                                        <select name="" ng-model="citys" ng-options="ct.name for ct in cityList">
                                          <option value="">省</option>
                                        </select>
                                        <select name="" ng-model="serviceObject.sitys" ng-options="ct.name for ct in citys.childrens">
                                          <option value="">市</option>
                                        </select>
                                        <!-- <select name="">
                                          <option>区/县</option>
                                          <option>姑苏区</option>
                                        </select> -->
                                    </td>
                                    <td><input name="" type="text" ng-model="addressObject.address" placeholder="详细地址" value="详细地址" class="l" /></td>
                                    <td><input name="" type="text" ng-model="addressObject.zipCode" placeholder="邮编" value="邮编" /></td>
                                    <td><input name="" type="text" ng-model="addressObject.moblephone" placeholder="手机号码" value="手机号码" /></td>
                                    <td><a href="Javascript:void(0)" class="a_btn" ng-click="addAddress()">确定</a></td>
                                  </tr>
                   	</table>
                    <div class="addAddr_btn"><button ng-click="butshow = !butshow">使用新地址</button></div>  
                   </div>
                    <div class="attributes_box">
                    	<h2>填写物流信息</h2>
                    	<div class="item_list clear">
                        	<ul>
                                <li class="block"><span id="comsName" class="labelSpan">物流公司：</span>
                                <div class="text"><input name="" type="text" ng-model="coms"></div></li>
                                <li class="block"><span id="orderName" class="labelSpan">物流单号：</span>
                                <div class="text"><input name="" type="text" ng-model="order"/></div></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btnBottom"><button class="blueBtn" ng-click="terminalSub()">提交</button></div>
            	</div>
            </div>