<script type="text/javascript" src="js/dateSelector.js"></script>
<script src="js/jquery.form.min.js"></script>
<div class="right" ng-controller="terminalOpenController">
      <div class="content clear">
                  <div class="content_inner">
                    <div class="user_title">
                    	<h1>开通申请</h1>
                    </div>
                    <div class="attributes_box">
                    	<h2>终端信息</h2>
                        <div class="attributes_list_s clear">
                            <ul>
                                <li>品牌型号：{{applyDetails.brandName + applyDetails.model_number}}</li>
                                <li>支付通道：{{applyDetails.channelName}}</li>
                                <li>终端号：{{applyDetails.serial_num}}</li>
                            </ul>
                        </div> 
                    </div>
                    <div class="attributes_box">
                    	<div class="ab_h" ng-if="applyDetails.supportRequirementType == 1">
                    	<a ng-class="{true:'toPublic hover',false:'toPrivate'}[status == 1]" ng-click="changgSiStatus('1')">对公</a>
                    	</div>
                    	<div class="ab_h" ng-if="applyDetails.supportRequirementType == 2">
                    	<a ng-class="{true:'toPublic hover',false:'toPrivate'}[status == 2]" ng-click="changgSiStatus('2')">对私</a>
                    	</div>
                    	<div class="ab_h" ng-if="applyDetails.supportRequirementType == 3">
                    	<a ng-class="{true:'toPublic hover',false:'toPrivate'}[status == 1]" ng-click="changgSiStatus('1')">对公</a>
                    	<a ng-class="{true:'toPublic hover',false:'toPrivate'}[status == 2]" ng-click="changgSiStatus('2')">对私</a>
                    	</div>
                        <div class="ab_b" ng-if="merchantList != '' && merchantList != null">
                        	<dl>
                            	<dt>用户名下的常用商户：</dt>
                                <dd><a ng-repeat="merchan in merchantList" ng-class="{true:'hover'}[$index == merbut]" ng-click="angu(merchan.title,merchan.id,$index)">{{merchan.title}}</a></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="attributes_box red">填写资料必须准确真实，任何一项填写错误都会导致资金结算不到帐！</div>
                     <div class="attributes_box">
                     	<h2>基本信息</h2>
                     		<div class="item_list clear">
                     			<ul>
                     				<li><span class="labelSpan" >商户名称：</span>
                                	<div class="text">
                                	<input id="merchant" name="" type="text" ng-model="merchantName"  ng-keyup="toworte()"/>
                                	<p class="prompt_p" ng-if="status == 1">请填写公司全名</p>
                                	<p class="prompt_p" ng-if="status == 2">请填写申请人姓名</p>
                                	</div>
                                </li>
                                <li><span class="labelSpan" >姓名：</span>
                                	<div class="text">
                                	<input name="" type="text" id="valueName" value="{{merchant.legal_person_name}}"/>
                                	<p class="prompt_p">必须与法人身份证照片相符</p>
                                	</div></li>
                                <li><span class="labelSpan">生日：</span>
                                    <div class="text">
                                	<select id="selYear" ng-model="nian">
                                	</select> 
                                	<select id="selMonth" ng-model="yue">
                                	</select>
                                	<select id="selDay" ng-model="day">
                                	</select>
                                	<p class="prompt_p">必须与法人身份证照片相符</p>
							<script type="text/javascript">
								var selYear = window.document
										.getElementById("selYear");
								var selMonth = window.document
										.getElementById("selMonth");
								var selDay = window.document
										.getElementById("selDay");
								// 新建一个DateSelector类的实例，将三个select对象传进去
								new DateSelector(selYear, selMonth, selDay,
										null,null, null);
							</script>
                                    </div>
                                </li>
                                <li><span class="labelSpan">性别：</span>
                                	<div class="text">
                                    	<span class="checkboxRadio_span"><input name="radio" ng-checked="sex == 1" type="radio" value="" ng-click="butSex(1)"/> 男</span>
                                        <span class="checkboxRadio_span"><input name="radio" ng-checked="sex == 0" type="radio" value="" ng-click="butSex(0)"/> 女</span>
                                    	<p class="prompt_p">必须与法人身份证照片相符</p>
                                    </div>
                                </li>
                                <li><span class="labelSpan">身份证：</span>
                                	<div class="text">
                                	<input name="" type="text" id="cirdValue" value="{{merchant.legal_person_card_id}}"/>
                                	<p class="prompt_p">必须与法人身份证照片相符</p>
                                	</div></li>
                                <li><span class="labelSpan">手机：</span>
                                	<div class="text">
                                	<input name="" type="text" id="phoneValue" value="{{openingInfos.phone}}"/>
                                	<p class="prompt_p">请提供真实有效的号码</p>
                                	</div>
                                </li>
                                <li><span class="labelSpan">邮箱：</span>
                                	<div class="text">
                                	<input name="" type="text" id="emailValue" value="{{openingInfos.email}}"/>
                                	<p class="prompt_p">请提供真实邮箱</p>
                                	</div>
                                </li>
                                <li><span class="labelSpan">地址：</span>
                                	<div class="text">
                                		<select  ng-model="selected" ng-options="s.name for s in cities" ng-click="desjub()">
		             		 				<option value="">{{addressShen}}</option>
		          						</select>
						 				<select ng-model="req.shiList" ng-options="x.name for x in selected.childrens" ng-click="desjub()">
			               					<option value="">{{addressShi}}</option>
			          					</select>
                                     </div>
                                </li>
                                <li><span class="labelSpan">支付通道：</span>
                                	<div class="text">
                                	<select disabled>
		             		 				<option value="">{{channelName}}</option>
		          						</select>
						 				<select ng-model="tln.chanTs" ng-options="x.name for x in billings" ng-click="desju()">
			               					<option value="">{{channelTsName}}</option>
			          					</select>
                                	</div>
                                </li>
                     			</ul>
                     		</div>
                     </div>
                     <div class="attributes_box">
                     	<h2>结算信息</h2>
                     		 <div class="item_list clear">
                     		 	<ul>
                     		 		<li><span class="labelSpan">结算银行帐户名：</span>
                                	<div class="text">
                                	<input disabled="disabled" name="" type="text" id="bankNameValue" value="{{openingInfos.account_bank_name}}"/>
                                	<p class="prompt_p">必须是结算银行卡持有人的名称，并且与提交的商户名一致</p>
                                	</div>
                                </li>
                                <li id="bankcode"><span class="labelSpan">结算银行名称：</span>
                                	<div class="text">
                                	<input name="" type="text" id="bankCodeValue" ng-model="bankObj.bankName" ng-keyup="bank(1)"/>
                                	<p class="prompt_p">必须与银行开户许可证相符</p>
                                	</div>
                                	<div id="suggestDiv" class="suggest" style="display: none">
				                        <ul>
				                            <li><a href="javascript:void(0)" ng-repeat="res in bankObj.bankCode" ng-click='selectBank(res.no,res.name)'>{{res.name}}</a></li>
				                        </ul>
                    				</div>
                                </li>
                                
                                <li><span class="labelSpan">结算银行账号：</span>
                                	<div class="text">
                                	<input name="" type="text" id="bankNumValue" value="{{merchant.account_bank_num}}" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                                	<p class="prompt_p">必须与提交的银行卡图片一致</p>
                                	</div></li>
                     		 	</ul>
                     		 </div>
                     </div>
                    <div class="attributes_box" ng-repeat="ma in materialLevel">
                    	<h2>{{ma.levelTitle}}<em>{{ma.levelDescription}}</em>
                    	<em ng-if="$index == 0" style="color: #F00;">* 上传格式、尺寸、大小</em></h2>
                        <div class="item_list clear">
                            <ul>
                                <li ng-if="$index == 0 && status == 1"><span class="labelSpan">税务机构号：</span>
                                	<div class="text">
                                	<input name="" type="text" id="registeredNoValue" value="{{merchant.tax_registered_no}}"/>
                                	<p class="prompt_p">必须与税务登记证相符</p>
                                	</div></li>
                                <li ng-if="$index == 0 && status == 1"><span class="labelSpan">组织机构号：</span>
                                	<div class="text">
                                	<input name="" type="text" id="organizationNoValue" value="{{merchant.organization_code_no}}"/>
                                	<p class="prompt_p">必须与组织机构代码证相符</p>
                                	</div></li>
                                <li class="overflow" ng-repeat="r in result" ng-if="r.info_type == 3 && r.opening_requirements_id == ma.id">
                                <span class="labelSpan" id="key_{{ma.level+'_'+$index}}">{{r.name}}：</span>
                                	<div class="text">
                                	<input type="hidden" id="id_{{ma.level+'_'+$index}}" value="{{r.id}}"/>
                                	<input name="" type="text" ng-keyup="bank(ma.level+'_'+$index)">
                                	</div>
                                	<div class="suggest" id="div_{{ma.level+'_'+$index}}">
                                    	<input name="" type="hidden"  id="value_{{ma.level+'_'+$index}}" value="{{r.value}}">
                                    	<a href="javascript:void(0)" id="but_{{ma.level+'_'+$index}}" ng-repeat="codes in bankCode" ng-click="bankNum('but_'+ma.level+'_'+$index,codes.code,codes.name)">{{codes.name}}</a>
                                    </div>
                                </li>
                                	
                                <li ng-repeat="r in result " ng-if="r.info_type == 1 && r.opening_requirements_id == ma.id">
                                <input type="hidden" id="id_{{ma.level+'_'+$index}}" value="{{r.id}}"/>
                                <span id="key_{{ma.level+'_'+$index}}" class="labelSpan">{{r.name}}：</span>
                               	<div class="text">
                                <input id="value_{{ma.level+'_'+$index}}" value="{{r.value}}" name="" type="text"/>
                                </div>
                                </li>
                                
                                <li  ng-repeat="r in result" ng-if="r.info_type == 2 && r.opening_requirements_id == ma.id">
                                <input type="hidden" id="id_{{ma.level+'_'+$index}}" value="{{r.id}}"/>
                                <span class="labelSpan" id="key_{{ma.level+'_'+$index}}">{{r.name}}：</span>
                                <div class="text" >
                                <form method="post" action="api/webTerminal/upload/tempOpenImg" enctype="multipart/form-data">  
                                	<img id="nousevalueid" name="mousevaluetrue" src="images/zp.jpg" class="cover" data-src="{{r.value}}" ng-mouseenter="onmousover($event.target)"/>
                                	<!-- <img src="images/zp.jpg" class="cover" /> -->
                                	<a href="javascript:void(0);" class="informImg_a" style="float: right;">
                                    <span ng-if="r.value == null" >上传</span>
                                    <span ng-if="r.value != null" >重新上传</span>
                                    <input name="hidden" type="text" id="value_{{ma.level+'_'+$index}}" value="{{r.value}}"/>
                                    <input  name="img" multiple type="file" onchange="showImage(this)">
                                    </a>
                                    <input  id="terid" type="hidden" value="{{applyDetails.id}}">
                                </form>
                                </div>
                                </li>
                            </ul>
                            <div class="img_info">
								<img  />
							</div>
                        </div>
                    </div>
                    <div class="rule_checkbox"><input ng-model="clickbox" ng-click="clickbox = !clickbox" name="" type="checkbox" value="" /> <a>已知晓交易规则</a></div>
                    <div class="btnBottom"><button class="blueBtn" ng-click="addApply()">保存</button></div>
            	</div>
                </div>      	
</div>
 <div class="mask" style="display: none;"></div>
    <div class="upImgLoading" style="display: none;">
    	<span><img src="images/loading.gif" /></span>
        <p>图片上传中...</p>
    </div>
<script type="text/javascript">
            function showImage(obj) {
            	var doc_height = $(document).height();
				 $(".mask").css({
						display : 'block',
						height : doc_height
					});
            	$(".mask").show();
            	$(".upImgLoading").show();
            	$(obj).parent("a").parent("form").attr("action","api/webTerminal/upload/tempOpenImg/"+$("#terid").val());
            	$(obj).parent("a").parent("form").ajaxSubmit({
            		success : function(data) {
            			data = JSON.parse(data);
            			$(".mask").hide();
                    	$(".upImgLoading").hide();
            			if(data.code == -1){
            				alert(data.message);
            			}else if(data.code == 1){
            				$(obj).parent("a").children("span").html("重新上传");
            				$(obj).siblings("input").val(data.result);
            			}
            		}
            	});
            }
</script>