<div class="right" ng-controller="statisticsController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#/trade">交易流水</a></li>
			<li><a href="#/trade">{{req.typeName}}</a></li>
			<li><a href="javascript:void(0)">统计</a></li>
		</ul>
	</div>

	<div class="content clear">
		<div class="content_inner">
			<div class="user_title">
				<h1>交易流水统计</h1>
			</div>
			<div class="user_statistics">
				<span ng-show="req.startTime.length>5&&req.endTime.length>5">{{req.startTime}}至{{req.endTime}}&nbsp;</span> <span ng-show="req.startTime.length>5&&req.endTime.length<5">{{req.startTime}}至今&nbsp;</span> <span
					ng-show="req.startTime.length<5&&req.endTime.length>5">{{req.endTime}}之前&nbsp;</span> 交易类型：{{req.typeName}}
			</div>
			<div class="uesr_table">

				<table ng-show="req.isHaveProfit==2" width="100%" border="0" cellspacing="1" cellpadding="0" class="b_table">
					<colgroup>
						<col width="20%" />
						<col width="20%" />
						<col width="20%" />
						<col width="20%" />
						<col width="20%" />
					</colgroup>
					<thead>
						<tr>
							<th>代理商</th>
							<th>总笔数</th>
							<th>总金额</th>
							<th>产出分润</th>
							<th>需支付的分润</th>
						</tr>
					</thead>
					<tr ng-repeat="one in tradeList">
						<td>{{one.agent}}</td>
						<td>{{one.total}}</td>
						<td><strong>{{one.amountTotal/100|currency : "￥"}}</strong></td>
						<td><strong>{{one.get/100|currency : "￥"}}</strong></td>
						<td><strong>{{one.pay/100|currency : "￥"}}</strong></td>
					</tr>

				</table>

				<table ng-show="req.isHaveProfit!=2" width="100%" border="0" cellspacing="1" cellpadding="0" class="b_table">
					<colgroup>
						<col width="60%" />
						<col width="20%" />
						<col width="20%" />
					</colgroup>
					<thead>
						<tr>
							<th>代理商</th>
							<th>总笔数</th>
							<th>总金额</th>
						</tr>
					</thead>
					<tr ng-repeat="one in tradeList">
						<td>{{one.agent}}</td>
						<td>{{one.total}}</td>
						<td><strong>{{one.amountTotal/100|currency : "￥"}}</strong></td>
					</tr>

				</table>
			</div>
		</div>
	</div>
</div>