<div class="right" ng-controller="tradelistController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">交易流水</a></li>
			<li><a href="#">{{typeName}}</a></li>
		</ul>
	</div>
	
	<div class="content clear">
		<div class="dealNav">
			<a href="javascript:void(0);" class="dn_prev">上一页</a>
			<div class="dealNavBox">
				<ul class="li_show">
					<li ng-repeat="one in tradeType"><a href="javascript:void(0);" ng-click="changeType(one)" class="{{one.id==req.tradeTypeId?'hover':''}}">{{one.value}}</a></li>
				</ul>
			</div>
			<a href="javascript:void(0);" class="dn_next">下一页</a>
		</div>

		<div class="user_title">
			<h1>{{typeName}}交易流水</h1>
			<div class="userTopBtnBox">
				<a href="#/tradestatistics" class="ghostBtn">统计</a>
			</div>
		</div>

		<div class="seenBox clear">
			<ul>
				<li><div class="user_select">
						<label>状态筛选</label> <select name="">
							<option>已付款</option>
							<option>未付款</option>
							<option>已付定金</option>
						</select>
					</div></li>
				<li><div class="user_date">
						<label>选择日期</label> <input name="" type="text" /> - <input name="" type="text" />
					</div></li>
				<li><button class="ghostBtn">搜索</button></li>
			</ul>
		</div>


		<div class="user_table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
				<colgroup>
					<col />
					<col />
					<col />
					<col />
					<col />
					<col />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th>交易号</th>
						<th>交易时间</th>
						<th>终端号</th>
						<th>所属代理商</th>
						<th>交易金额</th>
						<th ng-if="req.is_have_profit==1">产出分润</th>
						<th ng-if="req.is_have_profit==1">需支付分润</th>
						<th>状态</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="one in tradeList">
						<td>{{one.trade_number}}</td>
						<td>{{one.tradedTimeStr}}</td>
						<td>{{one.terminalNumber}}</td>
						<td>{{one.agent}}</td>
						<td><strong>{{one.amount/100|currency : "￥"}}</strong></td>
						<td ng-if="req.is_have_profit==1"><strong>￥10.00</strong></td>
						<td ng-if="req.is_have_profit==1"><strong>￥5.00</strong></td>
						<td ng-if="one.tradedStatus == 1"><strong class="strong_status">待付款</strong></td>
						<td ng-if="one.tradedStatus == 2"><strong class="strong_status">交易完成</strong></td>
						<td ng-if="one.tradedStatus == 3"><strong class="strong_status">交易失败</strong></td>
					</tr>
					
					
				</tbody>
			</table>
		</div>

		<div class="pageTurn">
			<div class="p_num">
				<a href="#" class="disabled">上一页</a> <a href="#" class="current">1</a> <a href="#?page=2">2</a> <a href="#?page=3">3</a> <a href="#?page=4">4</a> <a href="#?page=5">5</a> ... <a href="#?page=199">199</a> <a href="#?page=200">200</a> <a href="#?page=2">下一页</a>
			</div>
			<div class="p_skip">
				<span>共24页</span> <span>到第&nbsp;&nbsp;<input name="" type="text" />&nbsp;&nbsp;页
				</span>
				<button>确定</button>
			</div>
		</div>
	</div>

</div>

