<div class="main mshop" ng-controller="shopController">
	<div class="box">
	
		<div class="category_group">
				<div class="crumbs_nav">
					<ul>
						<li ng-show="chli1show||chli2show||chli3show||chli4show||chli5show||chli6show||chli7show" class="crumbs_nav_li_h">您当前选择<i></i></li>
						<li ng-show="chli1show" class="crumbs_nav_drop" id="chli1"><a href="javascript:void(0)" ng-click="chli1del()" class="hover"><span class="cnd_p">POS机品牌：{{chli1val}}</span><span class="cnd_x"></span></a><i></i></li>
						<li ng-show="chli2show" class="crumbs_nav_drop" id="chli2"><a href="javascript:void(0)" ng-click="chli2del()" class="hover"><span class="cnd_p">POS机类型：{{chli2val}}</span><span class="cnd_x"></span></a><i></i></li>
						<li ng-show="chli3show" class="crumbs_nav_drop" id="chli3"><a href="javascript:void(0)" ng-click="chli3del()" class="hover"><span class="cnd_p">支付通道：{{chli3val}}</span><span class="cnd_x"></span></a><i></i></li>
						<li ng-show="chli4show" class="crumbs_nav_drop" id="chli4"><a href="javascript:void(0)" ng-click="chli4del()" class="hover"><span class="cnd_p">支持卡类型：{{chli4val}}</span><span class="cnd_x"></span></a><i></i></li>
						<li ng-show="chli5show" class="crumbs_nav_drop" id="chli5"><a href="javascript:void(0)" ng-click="chli5del()" class="hover"><span class="cnd_p">支持交易类型：{{chli5val}}</span><span class="cnd_x"></span></a><i></i></li>
						<li ng-show="chli6show" class="crumbs_nav_drop" id="chli6"><a href="javascript:void(0)" ng-click="chli6del()" class="hover"><span class="cnd_p">签购单方式：{{chli6val}}</span><span class="cnd_x"></span></a><i></i></li>
					</ul>
				</div>
				<div class="category_item">
					<h4>POS机品牌：</h4>
					<a href="javascript:void(0);" class="more">更多<i></i></a>
					<div class="category_item_con">
						<ul>
							<li ng-repeat="one in brands"><a href="javascript:void(0)" ng-click="check1(one)" class="{{one.clazz}}">{{one.value}}</a></li>
						</ul>
					</div>
				</div>
				<div class="category_item">
					<h4>POS机类型：</h4>
					<div class="category_item_con">
						<ul>
							<li ng-repeat="one in category"><a href="javascript:void(0)" ng-click="check2(one)" class="{{one.clazz}}">{{one.value}}</a></li>
						</ul>
					</div>
				</div>
				<div class="category_item">
					<h4>支付通道：</h4>
					<div class="category_item_con">
						<ul>
							<li ng-repeat="one in pay_channel"><a href="javascript:void(0)" ng-click="check3(one)" class="{{one.clazz}}">{{one.value}}</a></li>
						</ul>
					</div>
				</div>
				<div class="category_item">
					<h4>支持卡类型：</h4>
					<div class="category_item_con">
						<ul>
							<li ng-repeat="one in pay_card"><a href="javascript:void(0)" ng-click="check4(one)" class="{{one.clazz}}">{{one.value}}</a></li>
						</ul>
					</div>
				</div>
				<div class="category_item">
					<h4>支持交易类型：</h4>
					<div class="category_item_con">
						<ul>
							<li ng-repeat="one in trade_type"><a href="javascript:void(0)" ng-click="check5(one)" class="{{one.clazz}}">{{one.value}}</a></li>
						</ul>
					</div>
				</div>
				<div class="category_item category_item_noBorder">
					<h4>签购单方式：</h4>
					<div class="category_item_con">
						<ul>
							<li ng-repeat="one in sale_slip"><a href="javascript:void(0)" ng-click="check6(one)" class="{{one.clazz}}">{{one.value}}</a></li>
						</ul>

					</div>
				</div>
			</div>
			<div class="sortbar clear">
				<div class="sortbar_ul">
					<ul>
						<li class="default_sort hover"><a href="javasrcipt:void(0);" ng-click="order(0)">综合排序</a></li>
						<li class="on_1"><span>按价格</span>
							<div class="droplist">
								<a href="javascript:void(0);" class="dashed" ng-click="order(2)">按价格从高到低</a> <a href="javascript:void(0);" ng-click="order(3)">按价格从低到高</a>
							</div></li>
						<li class="default_sort" title="按销量从高到低"><a href="javascript:void(0);" ng-click="order(1)">按销量</a></li>
						<li class="default_sort" title="按评价从多到少"><a href="javascript:void(0);" ng-click="order(4)">按评价</a></li>
					</ul>
				</div>
				<div class="accountTime">
					<label>到账时间</label>
					<div class="selectBox">
						<i></i>
						<div class="tag_select">
							<span>{{xxx==""?"选择到账时间选择到账时间":xxx}}</span>
						</div>
						<ul id="xx">
							<li ng-repeat="one in tDate" ng-click="sb(one)">{{one.value}}</li>
						</ul>
					</div>
				</div>
				<div class="price">
					<label>价格</label> <input ng-model="req.minPrice" type="text" placeholder="¥" /> - <input ng-model="req.maxPrice" type="text" placeholder="¥" />
				</div>
				<div class="lease">
					<input ng-model="req.has_purchase" type="checkbox" value="1" /> 支持租赁
				</div>
				<div class="sortBtn">
					<button class="btn" ng-click="search()">确定</button>
				</div>
				<div class="page_top">
					<div class="page_info">
						<span>{{req.indexPage}}</span>/{{req.totalPage}}
					</div>
					<a href="javascript:void(0);" class="page_prev" ng-click="prev()"><i></i></a> <a href="javascript:void(0);" class="page_next" ng-click="next()"><i></i></a>
				</div>
			</div>

	
	
	
		
		
		
		
		
		
		
		
		
		
		
		
		
		<div class="commodityBox">
			<table width="100%" cellspacing="0" cellpadding="0" class="b_table">
				<colgroup>
					<col width="640" />
					<col />
					<col />
					<col />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th width="640">商品</th>
						<th>价格</th>
						<th>支持租赁</th>
						<th>销量</th>
						<th>评价</th>
					</tr>
				</thead>
				<tr>
					<td>
						<div class="td_proBox clear">
							<a href="#" class="cn_img"><img src="images/c.jpg" /></a>
							<div class="td_proBox_info">
								<h1>
									<a href="#">汉米SS3010收银机 触摸屏POS机收款机 超市餐饮服装点餐机奶茶店</a>
								</h1>
								<h3>热销5000件</h3>
								<ul>
									<li><span>品牌型号：</span>
									<div class="c_text">掌富ZF-300</div></li>
									<li><span>支付通道：</span>
									<div class="c_text">收账宝</div></li>
								</ul>
							</div>
						</div>
					</td>
					<td><a href="#"><strong>￥458.00</strong></a></td>
					<td><span class="lease_t">支持租赁</span></td>
					<td><a href="#">月销量<em>35352</em>件
					</a></td>
					<td>
						<div class="evaluate">
							<a href="#">
								<ul>
									<li class="p_li_o"></li>
									<li class="p_li_o"></li>
									<li class="p_li_o"></li>
									<li class="p_li_o"></li>
									<li></li>
								</ul>
							</a>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="td_proBox clear">
							<a href="#" class="cn_img"><img src="images/c.jpg" /></a>
							<div class="td_proBox_info">
								<h1>
									<a href="#">汉米SS3010收银机 触摸屏POS机收款机 超市餐饮服装点餐机奶茶店</a>
								</h1>
								<h3>热销5000件</h3>
								<ul>
									<li><span>品牌型号：</span>
									<div class="c_text">掌富ZF-300</div></li>
									<li><span>支付通道：</span>
									<div class="c_text">收账宝</div></li>
								</ul>
							</div>
						</div>
					</td>
					<td><a href="#"><strong>￥458.00</strong></a></td>
					<td><span class="lease_t no">支持租赁</span></td>
					<td><a href="#">月销量<em>35352</em>件
					</a></td>
					<td>
						<div class="evaluate">
							<a href="#">
								<ul>
									<li class="p_li_o"></li>
									<li class="p_li_o"></li>
									<li class="p_li_o"></li>
									<li class="p_li_o"></li>
									<li></li>
								</ul>
							</a>
						</div>
					</td>
				</tr>
				
				
				
				
				
				
			</table>
			<div class="pageTurn">
				<div class="p_num">
					<a href="#" class="disabled">上一页</a> <a href="#" class="current">1</a> <a href="#?page=2">2</a> <a href="#?page=3">3</a> <a href="#?page=4">4</a> <a href="#?page=5">5</a> ... <a href="#?page=199">199</a> <a href="#?page=200">200</a> <a href="#?page=2">下一页</a>
				</div>
				<div class="p_skip">
					<span>共24页</span> <span>到第&nbsp;&nbsp;<input name="" type="text" />&nbsp;&nbsp;页
					</span>
					<button>确定</button>
				</div>
			</div>
		</div>

	</div>
</div>
<script type="text/javascript" src="js/main.js"></script>