<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="indexModule" ng-controller="indexController">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="renderer" content="webkit"></meta>
		<title>代理商--我的掌富</title>
		<link href="style/style.css" rel="stylesheet" type="text/css" />
		<link href="style/shop.css" rel="stylesheet" type="text/css" />
		<link href="style/jquery-ui.css" rel="stylesheet" type="text/css" />
		
		<script type="text/javascript"  src="js/jQuery-1.11.2.js"></script>
		<script type="text/javascript" src="js/libs/angular.js"></script>
		<script type="text/javascript" src="js/libs/angular-route.js"></script>
		<script type="text/javascript" src="js/libs/angular-cookies.js"></script>
		<script type="text/javascript" src="js/libs/angular-sanitize.js"></script>
		<script type="text/javascript" src="js/libs/ng-csv.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<!-- 系统分页 -->
		<script type="text/javascript" src="js/page.js"></script>
		<!-- 日历控件 -->
		<script type="text/javascript" src="js/jquery-ui.js"></script>
		<script type="text/javascript" src="js/services/loginService.js"></script>
		
		<script type="text/javascript" src="js/util.js"></script>
		<!-- Directives -->
		<script type="text/javascript" src="js/directives/datepicker.directive.js"></script>
		<script type="text/javascript" src="js/directives/fileupload.directive.js"></script>
		<!-- Controllers -->
		<script type="text/javascript" src="js/controllers/route.controller.js"></script>
		<script type="text/javascript" src="js/controllers/index.controller.js"></script>
		<script type="text/javascript" src="js/controllers/login/register.controller.js"></script>
		<script type="text/javascript" src="js/controllers/login/login.controller.js"></script>
		<script type="text/javascript" src="js/controllers/login/findPass.controller.js"></script>
		<script type="text/javascript" src="js/controllers/prepare.controller.js"></script>
		<script type="text/javascript" src="js/controllers/exchange.controller.js"></script>
		<script type="text/javascript" src="js/controllers/trade.controller.js"></script>
		<script type="text/javascript" src="js/controllers/shop.controller.js"></script>
		<script type="text/javascript" src="js/controllers/account/accountList.js"></script>
		<script type="text/javascript" src="js/controllers/account/accountAdd.js"></script>
		<script type="text/javascript" src="js/controllers/account/accountOne.js"></script>
		<script type="text/javascript" src="js/controllers/account/accountResetPassword.js"></script>
		<script type="text/javascript" src="js/controllers/account/accountEdit.js"></script>
		<script type="text/javascript" src="js/controllers/terminals/terminals.controller.js"></script>
		<script type="text/javascript" src="js/controllers/terminals/bindingTerminals.controller.js"></script>
		<script type="text/javascript" src="js/controllers/terminals/terminalService.controller.js"></script>
		<script type="text/javascript" src="js/controllers/terminals/terminalsDetail.controller.js"></script>
		<script type="text/javascript" src="js/controllers/myMessage/message.js"></script>
		<script type="text/javascript" src="js/controllers/lowerAgent.controller.js"></script>
		<script type="text/javascript" src="js/controllers/stock.controller.js"></script>
		<script src="js/jQuery-1.11.2.js"></script>
		<script src="js/main.js"></script>

		<!--柱形图表-->
		<script src="js/Chart.min.js"></script>
		<!--[if lte IE 8]>
	<script type="text/javascript" src="js/excanvas.js"></script>
<![endif]-->
</head>
<body>
	<div class="topInfo clear">
		<div class="box">
			<div class="top_user">
				<a href="#">代理商</a><a href="#">退出</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="head clear">
		<div class="box">
			<div class="logo">华尔街金融</div>
			<div class="systemName">代理商</div>
		</div>
	</div>
	
	<div class="main" ng-if="right">
		<div class="box">
			<div class="left">
				<ul>
					<li><a href="#/myapp">我的掌富</a></li>
					<li><a href="#/stock">我的库存</a></li>
					<li><a href="#/purchaseOrder">批购</a></li>
					<li><a href="#/othersOrder">代购</a></li>
					<li><a href="#/terminals">管理终端</a></li>
					<li><a href="#/trade">交易流水</a></li>
					<li><a href="#">POS销售分润</a></li>
					<li class="second"><a href="javascript:void(0);">管理下级代理商<i class="off"></i></a>
						<ol>
							<li><a href="#/lowerAgent">下级代理商</a></li>
							<li><a href="#/prepare">管理配货</a></li>
							<li><a href="#/exchange">管理调货</a></li>
						</ol></li>
					<li class="second"><a href="javascript:void(0);">售后记录<i class="off"></i></a>
						<ol>
						    <li><a href="#/cs_cencel">注销记录</a></li>
							<li><a href="#/cs_update">更新资料记录</a></li>
							<li><a href="#/cs_agent">代理商售后记录</a></li>
						</ol></li>
					<li><a href="#">管理用户</a></li>
					<li class="second"><a href="javascript:void(0);">系统设定<i class="off"></i></a>
						<ol>
							<li><a href="#">代理商资料</a></li>
							<li><a href="#/accountList">员工帐号</a></li>
							<li><a href="#">修改密码</a></li>
						</ol></li>
					<li><a href="#/myMessage">查看消息</a></li>
				</ul>
			</div>
			<div ng-view></div>
			<script src="js/left.js"></script>
		</div>
	</div>

	<div ng-view ng-if="shop"></div>
	
	<div class="foot">
		<div class="box">
			<ul class="foot_nav">
				<li><a href="#">关于我们</a></li>
				<li>/</li>
				<li><a href="#">企业文化</a></li>
				<li>/</li>
				<li><a href="#">帮助中心</a></li>
				<li>/</li>
				<li><a href="#">企业招聘</a></li>
			</ul>
			<div class="copyright">版权所有 &copy; 2011-2014 上海掌富网络技术有限公司（备案号 1236548）</div>
		</div>
	</div>
	<!-- <div class="mask"></div> -->
</body>
</html>
