<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="ng-app" ng-app="indexModule" ng-controller="indexController">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
		<meta name="renderer" content="webkit"></meta>
		<title>代理商--我的掌富</title>
		<link href="style/style.css" rel="stylesheet" type="text/css" />
		<link href="style/shop.css" rel="stylesheet" type="text/css" />
		<link href="style/jquery-ui.css" rel="stylesheet" type="text/css" />
		
		<script type="text/javascript"  src="js/jQuery-1.11.2.js"></script>
		<script type="text/javascript" src="js/libs/angular.js"></script>
		<script type="text/javascript" src="js/libs/angular-route.js"></script>
		<script type="text/javascript" src="js/libs/angular-cookies.js"></script>
		<script type="text/javascript" src="js/libs/angular-sanitize.js"></script>
		<script type="text/javascript" src="js/libs/ng-csv.js"></script>
		<script type="text/javascript" src="js/controllers/index.controller.js"></script>
		<!-- 系统分页 -->
		<script type="text/javascript" src="js/page.js"></script>
		<script src="js/main.js"></script>
		<script type="text/javascript" src="js/left.js"></script>		 
		<!-- 日历控件 -->
		<script type="text/javascript" src="js/jquery-ui.js"></script>
		<script type="text/javascript" src="js/services/loginService.js"></script>
		
		<script type="text/javascript" src="js/placeholder.min.js"></script>
		<script type="text/javascript" src="js/util.js"></script>
		<!-- Controllers -->
		<script type="text/javascript" src="js/controllers/route.controller.js"></script>
		<script type="text/javascript" src="js/controllers/login/register.controller.js"></script>
		<script type="text/javascript" src="js/controllers/login/login.controller.js"></script>
		<script type="text/javascript" src="js/controllers/login/findPass.controller.js"></script>
		<script type="text/javascript" src="js/controllers/prepare.controller.js"></script>
		<script type="text/javascript" src="js/controllers/exchange.controller.js"></script>
		<script type="text/javascript" src="js/controllers/trade.controller.js"></script>
		<script type="text/javascript" src="js/controllers/shop.controller.js"></script>
		<script type="text/javascript" src="js/controllers/account/accountList.js"></script>
		<script type="text/javascript" src="js/controllers/account/accountAdd.js"></script>
		<script type="text/javascript" src="js/controllers/account/accountOne.js"></script>
		<script type="text/javascript" src="js/controllers/account/accountResetPassword.js"></script>
		<script type="text/javascript" src="js/controllers/account/accountEdit.js"></script>
		<script type="text/javascript" src="js/controllers/terminals/terminals.controller.js"></script>
		<script type="text/javascript" src="js/controllers/myMessage/message.js"></script>
		<script type="text/javascript" src="js/controllers/lowerAgent.controller.js"></script>
		<script type="text/javascript" src="js/controllers/stock.controller.js"></script>	
		<script type="text/javascript" src="js/controllers/agent.controller.js"></script>
		<script type="text/javascript" src="js/controllers/address.controller.js"></script>
		<script type="text/javascript" src="js/controllers/customer/userManage.js"></script>
		<script type="text/javascript" src="js/controllers/posprofit.controller.js"></script>
		<script type="text/javascript" src="js/controllers/cs_agent.controller.js"></script>
		<script type="text/javascript" src="js/controllers/cs_agentinfo.controller.js"></script>
		<script type="text/javascript" src="js/controllers/cs_cencel.controller.js"></script>
		<script type="text/javascript" src="js/controllers/cs_cencelinfo.controller.js"></script>
		<script type="text/javascript" src="js/controllers/cs_update.controller.js"></script>
		<script type="text/javascript" src="js/controllers/cs_updateinfo.controller.js"></script>
		<script type="text/javascript" src="js/controllers/myapp.controller.js"></script>
		<script type="text/javascript" src="js/controllers/order.controller.js"></script>
		<script type="text/javascript" src="js/controllers/orderinfo.controller.js"></script>
		<script type="text/javascript" src="js/controllers/order.controller.js"></script>
		<script type="text/javascript" src="js/controllers/orderinfo.controller.js"></script>
		<script type="text/javascript">
		function SubmitEvent(e){
			var e = e || window.event; 
			if(e.keyCode == 13){ 
			document.getElementById("btn_submit").click(); 
			} 
	   }
		</script>
		<!--柱形图表-->
		<script src="js/Chart.min.js"></script>
		<!--[if lte IE 8]>
			<script type="text/javascript" src="js/excanvas.js"></script>
		<![endif]-->
		<!--[if lte IE 8]>
			<script type="text/javascript" src="js/left.js"></script>		 
		<![endif]-->
</head>
<body>
	<div class="head clear">
		<div class="box head_bg">
	        <div class="topInfo clear">
	            <div class="top_kf">
	            <ul>
	            <li><strong>400-009-0876</strong></li>
	            <li><a  class="kf_a" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3251170541&site=qq&menu=yes"><i>
	            	</i>在线客服</a></li>
	            	</ul>
	            </div>
	            <div class="top_user" ng-if="agentId>0"><span>{{loginAgentName}}</span><a href="#/myapp">我的掌富</a><a ng-click="loginout()">退出</a><a href="#/app">掌富APP</a></div>
	            <div class="top_user" ng-if="agentId==0"><a href="#" >登录</a><a href="#/app">掌富APP</a></div>
	        </div>
			<div class="logo">华尔街金融</div>
	    </div>
	</div>
	

	
	<div class="main" ng-if="right">

		<div class="box">
			<div class="left">
			<ul class="side_menu">
                	<li class="hover"><a href="#/myapp">我的掌富</a></li>
                		<li ng-show="menu9"><a href="#/stock">我的库存</a></li>
                 		 <!--   <li><a href="javascript:void(0);">批购 </a></li> -->
                 		 	<li ng-show="menu2" >
							<a href="javascript:void(0);">采购 <i class="off"></i></a>
							<ol class="sub_menu">
								<li><a href="#/proxyOrder">采购订单</a></li>
								<li><a  onclick="goshopping();"  >去采购</a></li>
							</ol>
						</li>
                		<li ng-show="menu3" >
					<a href="javascript:void(0);">管理终端<i class="off"></i></a>
						<ol class="sub_menu">
							<li><a href="#/terminals">终端列表</a></li>
							<li><a href="#/terminalSerivce">批量申请售后</a></li>
							<li><a href="#/binding">批量为用户绑定终端</a></li>
						</ol>
					</li>
                   <li ng-show="menu4"><a href="#/trade">交易流水</a></li>
					<!-- <li ng-show="menu4"><a href="#/posprofit">POS销售分润</a></li> -->
					<li ng-show="menu5" >
					<a href="javascript:void(0);">管理下级代理商<i class="off"></i></a>
						<ol class="sub_menu">
							<li><a href="#/lowerAgent">下级代理商</a></li>
							<li><a href="#/prepare">管理配货</a></li>
							<li><a href="#/exchange">管理调货</a></li>
						</ol></li>
					<li ng-show="menu3" ><a href="javascript:void(0);">售后记录<i class="off"></i></a>
						<ol class="sub_menu">
						    <li><a href="#/cs_cencel">注销记录</a></li>
							<li><a href="#/cs_update">更新资料记录</a></li>
							<li><a href="#/cs_agent">代理商售后记录</a></li>
						</ol></li>
					<li ng-show="menu6"><a href="#/manageuser">管理用户</a></li>
					<li  ><a href="javascript:void(0);">系统设定<i class="off"></i></a>
                            <ol class="sub_menu">
							<li><a ng-show="menu8" href="#/agentinform">代理商资料</a></li>
							<li><a ng-show="menu7" href="#/accountList">员工帐号</a></li>
							<li><a href="#/modifypassword">修改密码</a></li>
						</ol></li>
					<li ><a href="#/myMessage">查看消息</a></li>
                </ul>
                <script type="text/javascript">
                 function goshopping(){
            			window.open("#/shop");
            	};
                </script>
			</div>
			<div ng-view></div>
					<script type="text/javascript" src="js/left.js"></script>		 
		</div>
		<div class="box">
    	<div class="serviceContent">
        	<dl>
            	<dt><a  class="sc01"><i></i>厂家直销</a></dt>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
            </dl>
            <dl>
            	<dt><a  class="sc02"><i></i>直连机构</a></dt>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
            </dl>
            <dl>
            	<dt><a  class="sc03"><i></i>在线入网</a></dt>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
            </dl>
            <dl>
            	<dt><a  class="sc04"><i></i>标准费率</a></dt>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
            </dl>
            <dl>
            	<dt><a  class="sc05"><i></i>保障售后</a></dt>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
                <dd><a >指引的超连接</a></dd>
            </dl>
            <div class="ewm"><img src="images/ewm.jpg" /></div>
        </div>
	</div>
</div>
	<div ng-view ng-if="shop"></div>
	
	<div class="foot" >
		<div class="box">
			<ul class="foot_nav">
				<li><a >关于我们</a></li>
				<li>/</li>
				<li><a >企业文化</a></li>
				<li>/</li>
				<li><a >帮助中心</a></li>
				<li>/</li>
				<li><a >企业招聘</a></li>
			</ul>
			<div class="copyright"> 版权所有 &copy; 2011-2015 上海掌富网络技术有限公司（沪ICP备 12002389号－4）</div>
		</div>
	</div>
	<!-- <div class="mask"></div> -->

</body>
</html>
